input.oneelement(   type="text",
                    ng-model="getAnswer().value",
                                style="text-align:right;",
                    ng-disabled="getDataToCompare()==true || getIsAggregation()===true")