div(ng-hide="getCondition() === false",class="question_field")
    div
        .info(ng-show="hasDescription()")
            .info_popup(ng-bind-html="getQuestionCode() + '_DESC' | translate")
        span(class="glyphicon glyphicon-share-alt")
        span(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .oneelement
        .status.answer(mm-not-implemented)
        input(type="text", ng-model="getAnswerValue().value",ng-change="edited()")
        .user_icon(mm-not-implemented) XM