div
    div(ng-bind-html="getObject().code + '_TITLE' | translate")

    div(ng-repeat="v in getAnswerByQuestionCode(getQuestionsToAdd())")
        ng-virtual(ng-transclude=true)
        button(ng-click="removeAnwser(v)") Remove
    div
        div
        .oneelement
            button(ng-click="addNewAnswer()") Add