div(ng-class="{true:'condition-false', false:''}[getCondition() === false]")
    .repetition-question
        .repetition-question-title(ng-bind-html="getQuestionSetCode() + '_LOOPDESC' | translate", style="display : inline-block; margin-right : 20px")
        button.button.remove-button(ng-click="removeAnwser()",type="button") Supprimer
        .repetition-question-container
            ng-virtual(ng-transclude=true, class="element_stack")
