div
    div
        div(ng-bind-html="getQuestionSetCode() + '_LOOPDESC' | translate", style="display : inline-block; margin-right : 20px")
        button(ng-click="removeAnwser()",type="button") Remove

        div
            ng-virtual(ng-transclude=true, class="element_table")
