div
    div(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    div(ng-repeat="v in getAnswerByQuestionCode(getQuestionCode())")
        ng-virtual(ng-transclude=true)
        button(ng-click="removeAnwser(v)") Remove
    div
        div
        .oneelement
            button(ng-click="addNewAnswer()") Add