h1 Mentions légales du calculateur CO2 ménages de l'AWAC

h2  Information juridique - Conditions d'utilisation du site
p L'utilisation du présent site est soumise au respect des conditions générales décrites ci-après. En accédant à ce site, vous déclarez avoir pris connaissance et avoir accepté, sans la moindre réserve, ces conditions générales d'utilisation.
h2 Qualité de l'information et du service – Clause de non-responsabilité
p Nous apportons le plus grand soin à la gestion de ce site. Nous ne garantissons toutefois pas l'exactitude des informations qui y sont proposées. Celles-ci sont par ailleurs susceptibles d'être modifiées sans avis préalable. Il en résulte que nous déclinons toute responsabilité quant à l'utilisation qui pourrait être faite du contenu de ce site. Les liens hypertextes présents sur le site et aiguillant les utilisateurs vers d'autres sites Internet n'engagent pas notre responsabilité quant au contenu de ces sites.
h2 Protection des données à caractère personnel
p Il vous est loisible de visiter notre site internet sans nous fournir de données à caractère personnel (1). Vous pouvez accéder à la base de calcul et de résultats en ne saisissant que des données générales à caractère non personnel.
p Si vous nous fournissez des informations personnelles (2), elles seront traitées conformément aux dispositions de la loi du 8 décembre 1992. Elles seront traitées, moyennant votre accord,  anonymement à des fins statistiques et pour vous adresser des messages électroniques généraux; elles ne seront pas communiquées à des tiers, à l’exception du sous-traitant avec lequel l’AWAC a conclu une convention relative à la confidentialité des données, ni utilisées à des fins commerciales.  L’AWAC s'engage à prendre les meilleures mesures de sécurité afin d'éviter que des tiers n'abusent des données à caractère personnel qui lui ont été communiquées.
p Les données saisies en ligne et les résultats associés sont traités collectivement et anonymement. Ces données et résultats pourront être exploités, en totalité ou en partie, en vue de réalisations statistiques, de réalisations de rapports ou d’études relatives à la consommation d’énergie et d’émission de gaz à effet de serre.
h2 Droits de propriété intellectuelle
p Tous droits sur le contenu et l'architecture de notre site, et notamment les éléments suivants : textes, créations graphiques, logos, éléments sonores, publications, mises en page, bases de données, algorithmes de calculs... sont protégés par le droit national et international de la propriété intellectuelle.
p A ce titre, vous ne pouvez procéder à une quelconque reproduction, représentation, adaptation, traduction et/ou transformation partielle ou intégrale, ou un transfert sur un autre site web de tout élément composant le site.
p Cependant si vous souhaitez utiliser les éléments disponibles sur notre site, nous vous invitons à adresser votre demande d’autorisation à l’AWAC en précisant les éléments à reproduire et l’utilisation souhaitée.
h2 Création d'hyperliens vers le site
p Nous autorisons la création sans demande préalable de liens en surface (surface linking) qui renvoient à la page d'accueil du site ou à toute autre page dans sa globalité. Par contre, le recours à toutes techniques visant à inclure tout ou partie du site dans un site Internet en masquant ne serait-ce que partiellement l'origine exacte de l'information ou pouvant prêter à confusion sur l'origine de l'information, telle que le framing ou l'inlining, requiert une autorisation écrite.
h2 Modification des mentions légales
p L’AWAC se réserve le droit de modifier les présentes mentions à tout moment. L’utilisateur est lié par les conditions en vigueur lors de sa visite.
h2 Droit applicable en cas de litige
p Le droit applicable est le droit belge.
p Tout litige relèvera de la compétence exclusive des tribunaux de Namur.

h3 Personne de Contact
p Cécile Batungwnanayo
p Agence wallone de l'air et du Climat (AWAC)
p 7, Avenue Prince de Liège
p B-5100 Jambes
P Belgium

h2 Notes
p (1) La loi du 8 décembre 1992 relative au traitement de données à caractère personnel entend par « données à caractère personnel », toute information concernant une personne physique identifiée ou identifiable […] ; est réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par référence à un numéro d’identification ou à un plusieurs éléments spécifiques, propres à son identité physique, physiologique, psychique, économique, culturelle ou sociale. »
p (2) Pour les personnes physiques, via la création d’un espace personnel sur le site avec votre e-mail et un mot de passe.  Si votre adresse e-mail est constituée de votre nom de famille, elle peut permettre votre identification.