div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AM150")

            mm-awac-question(question-code="AM151")
            mm-awac-question(question-code="AM152", ng-condition="getAnswer('AM151').value == false", ng-aggregation="24.0*52.0")

            mm-awac-block(ng-show="getAnswer('AM151').value == true")
                // questions déchets
                mm-awac-repetition-name(question-code="AM153", ng-show="getAnswer('AM151').value == true")
                mm-awac-repetition-question(question-set-code="AM153", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AM153')", ng-condition="getAnswer('AM151').value == true")
                    mm-awac-question(question-code="AM154",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}")
                    mm-awac-question(question-code="AM155",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM154',itLevel1).value != '13' && getAnswer('AM154',itLevel1).value != '14' && getAnswer('AM154',itLevel1).value != '15' && getAnswer('AM154',itLevel1).value != '16'")
                    mm-awac-sub-sub-title(question-code="AM156",ng-repetition-map="itLevel1", ng-show="getAnswer('AM155',itLevel1).value == 1")
                    mm-awac-question(question-code="AM157",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM155',itLevel1).value == 1")
                    mm-awac-question(question-code="AM158",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM155',itLevel1).value == 1")
                    mm-awac-question(question-code="AM159",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM155',itLevel1).value == 1")
                    mm-awac-sub-sub-title(question-code="AM160",ng-repetition-map="itLevel1", ng-show="getAnswer('AM155',itLevel1).value == 2")
                    mm-awac-question(question-code="AM161",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM155',itLevel1).value == 2")
                    mm-awac-question(question-code="AM166",ng-repetition-map="itLevel1",ng-map-index="{'AM153':$index}", ng-condition="getAnswer('AM154',itLevel1).value == '13' || getAnswer('AM154',itLevel1).value == '14' || getAnswer('AM154',itLevel1).value == '15' || getAnswer('AM154',itLevel1).value == '16'")
                mm-awac-repetition-add-button(question-set-code="AM153", ng-show="getAnswer('AM151').value == true")


    mm-awac-form-navigator
