div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AM169")

            mm-awac-sub-sub-title(question-code="AM171")
            mm-awac-question(question-code="AM172")
            mm-awac-question(question-code="AM173")
            mm-awac-question(question-code="AM174")

        .horizontal_separator

        mm-awac-section(title-code="AM175")

            mm-awac-question(question-code="AM177")
            mm-awac-question(question-code="AM178")
            mm-awac-question(question-code="AM179")


    mm-awac-form-navigator
