div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AM110")

            mm-awac-repetition-name(question-code="AM111")
            mm-awac-repetition-question(question-set-code="AM111", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AM111')")
                mm-awac-question(question-code="AM112",ng-repetition-map="itLevel1",ng-map-index="{'AM111':$index}")
                mm-awac-question(question-code="AM113",ng-repetition-map="itLevel1",ng-map-index="{'AM111':$index}")
                mm-awac-question(question-code="AM114",ng-repetition-map="itLevel1",ng-map-index="{'AM111':$index}")
                mm-awac-question(question-code="AM115",ng-repetition-map="itLevel1",ng-map-index="{'AM111':$index}")
            mm-awac-repetition-add-button(question-set-code="AM111")

            mm-awac-question(question-code="AM116")

        .horizontal_separator
        mm-awac-section(title-code="AM117")

            mm-awac-sub-title(question-code="AM118")
            mm-awac-question(question-code="AM119")
            mm-awac-question(question-code="AM120")
            mm-awac-question(question-code="AM121")

            mm-awac-sub-title(question-code="AM122")
            mm-awac-question(question-code="AM123")
            mm-awac-question(question-code="AM124")
            mm-awac-question(question-code="AM125")

            mm-awac-sub-title(question-code="AM126")
            mm-awac-question(question-code="AM127")
            mm-awac-question(question-code="AM128")
            mm-awac-question(question-code="AM129")

            mm-awac-sub-title(question-code="AM130")
            mm-awac-question(question-code="AM131")
            mm-awac-question(question-code="AM132")
            mm-awac-question(question-code="AM133")

            mm-awac-sub-title(question-code="AM140")
            mm-awac-question(question-code="AM141")
            mm-awac-question(question-code="AM142")

        .horizontal_separator
        mm-awac-section(title-code="AM500")

            mm-awac-repetition-name(question-code="AM134")
            mm-awac-repetition-question(question-set-code="AM134", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AM134')")
                mm-awac-question(question-code="AM135",ng-repetition-map="itLevel1",ng-map-index="{'AM134':$index}")
                mm-awac-question(question-code="AM136",ng-repetition-map="itLevel1",ng-map-index="{'AM134':$index}")
                mm-awac-question(question-code="AM137",ng-repetition-map="itLevel1",ng-map-index="{'AM134':$index}")
                mm-awac-question(question-code="AM138",ng-repetition-map="itLevel1",ng-map-index="{'AM134':$index}")
                mm-awac-question(question-code="AM139",ng-repetition-map="itLevel1",ng-map-index="{'AM134':$index}")
            mm-awac-repetition-add-button(question-set-code="AM134")


        .horizontal_separator
        mm-awac-section(title-code="AM600")
            mm-awac-repetition-name(question-code="AM143")
            mm-awac-repetition-question(question-set-code="AM143", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AM143')")
                mm-awac-question(question-code="AM144",ng-repetition-map="itLevel1",ng-map-index="{'AM143':$index}")
                mm-awac-question(question-code="AM145",ng-repetition-map="itLevel1",ng-map-index="{'AM143':$index}")
                mm-awac-question(question-code="AM146",ng-repetition-map="itLevel1",ng-map-index="{'AM143':$index}")
            mm-awac-repetition-add-button(question-set-code="AM143")

        .horizontal_separator
        mm-awac-section(title-code="AM147")
            mm-awac-question(question-code="AM148")
            mm-awac-question(question-code="AM149")


    mm-awac-form-navigator
