@(scopeTable: eu.factorx.awac.util.Table)
@import eu.factorx.awac.util.Colors; var d=""; var total = 0.0; var percentage = 0.0; var oldPercentage = 0.0;


<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1000" height="1000">

    @{
    for(i <- 0 to scopeTable.getRowCount() - 1) {
    total += scopeTable.getCell(1,i).asInstanceOf[Double];
    }
    }

    @for(i <- 0 to scopeTable.getRowCount()-1) {
    @{

    var size = 1000

    var cell:Double = scopeTable.getCell(1,i).asInstanceOf[Double]
    percentage = 100.0 * cell / total

    var unit = (Math.PI *2) / 100
    var startangle = oldPercentage* unit
    var endangle = (oldPercentage+percentage) * unit - 0.001

    var x1 = (size / 2) + (size / 2) * Math.sin(startangle)
    var y1 = (size / 2) - (size / 2) * Math.cos(startangle)
    var x2 = (size / 2) + (size / 2) * Math.sin(endangle)
    var y2 = (size / 2) - (size / 2) * Math.cos(endangle)
    var big = 0
    if (endangle - startangle > Math.PI) {
    big = 1
    }
    d= "M " + (size / 2) + "," + (size / 2) + " L " + x1 + "," + y1 + " A " + (size / 2) + "," + (size / 2) + " 0 " +
    big + " 1 " + x2 + "," + y2 + " Z"

    oldPercentage += percentage
    }

    @if(percentage == 100.0) {
    <circle cx="500" cy="500" r="500"
            fill="#@{Colors.makeGoodColorForSerieElement(i+1, scopeTable.getRowCount())}"/>
    }else{
    <path d="@d"
          fill="#@{Colors.makeGoodColorForSerieElement(i+1, scopeTable.getRowCount())}"
          stroke="white" stroke-width="5"></path>
    }
    }

    <circle cx="500" cy="500" r="250" fill="white"/>

</svg>

