// Modal
.modal(ng-enter="save()",ng-escape="close()")
    .modal-dialog
        .modal-content
            .modal-header
                button.button(type="button",ng-click="close()")
                    span(aria-hidden="true") &times;
                    span(class="sr-only", ng-bind-html="'CLOSE_BUTTON' | translate")
                h4(class="modal-title",ng-bind-html="'MODAL_DOCUMENT_MANAGER_TITLE' | translate")

            .modal-body

                table.document-manager-table
                    thead
                        tr
                            td(ng-bind-html="'MODAL_DOCUMENT_MANAGER_DOC_NAME' | translate")
                            td(ng-bind-html="'MODAL_DOCUMENT_MANAGER_ACTION' | translate")
                    tbody
                        tr(ng-repeat="(key,value) in listDocuments")
                            td {{value}}
                            td
                                button.button(type="button",ng-click="download(key)",ng-bind-html="'MODAL_DOCUMENT_MANAGER_DOWNLOAD' | translate"))
                                button.button(type="button",ng-click="removeDoc(key)",ng-bind-html="'MODAL_DOCUMENT_MANAGER_REMOVE' | translate", ng-hide="getParams().readyOnly === true"))