// Modal
.modal()
    .modal-dialog
        .modal-content
            .modal-header
                button.button( type="button",
                    ng-click="close()")
                        span(aria-hidden="true") &times;<span
                        span(class="sr-only") Close

                h4(class="modal-title") Documents uploaded

            .modal-body

                table.document-manager-table
                    thead
                        tr
                            td Document name
                            td Actions
                    tbody
                        tr(ng-repeat="doc in listDocuments")
                            td {{doc}}
                            td
                                button.button(type="button",ng-click="download(doc.id)") download
                                button.button(type="button",ng-click="removeDoc(doc.id)") remove