mm-awac-section(title-code="A1_TITLE")

    mm-awac-sub-title(question-code="A1")

    mm-awac-question(question-code="A2")

    mm-awac-question(question-code="A3")

    mm-awac-question(question-code="A4", ng-condition="getAnswer('A3').value == '1'")

    mm-awac-question(question-code="A5", ng-condition="getAnswer('A3').value == '2' || getAnswer('A3').value == '3'")

    mm-awac-question(question-code="A6", ng-condition="getAnswer('A3').value == '4'")

    mm-awac-question(question-code="A7",ng-condition="getAnswer('A3').value == '4'")

    mm-awac-question(question-code="A8",ng-condition="getAnswer('A7').value == '1'")

    mm-awac-question(question-code="A11", ng-condition="getAnswer('A3').value != '4'")

    mm-awac-question(question-code="A12")
