mm-awac-section(title-code="A50_TITLE")

    mm-awac-question(question-code="A51")

.horizontal_separator

mm-awac-section(title-code="A52_TITLE")

div
    .element_content
        .element_text Plusieurs méthodes différentes existent pour rapporter le transport routier. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
        .method
            tabset
                tab.tab-color-lightgreen
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A53_TITLE' | translate")
                    .sub_block.tab-color-lightgreen
                        .element_table
                            mm-awac-sub-title(question-code="A54")

                            mm-awac-question(question-code="A55")
                            mm-awac-question(question-code="A56")
                            mm-awac-question(question-code="A57")

                            mm-awac-sub-title(question-code="A58")

                            mm-awac-question(question-code="A59")
                            mm-awac-question(question-code="A60")
                            mm-awac-question(question-code="A61")

                            mm-awac-sub-title(question-code="A62")

                            mm-awac-question(question-code="A63")
                            mm-awac-question(question-code="A64")
                            mm-awac-question(question-code="A65")

                tab.tab-color-green
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A66_TITLE' | translate")
                    .sub_block.tab-color-green
                        .element_table

                            mm-awac-repetition-name(question-code="A67")
                            mm-awac-repetition-question(question-set-code="A67", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A67')")

                                mm-awac-question(question-code="A68",ng-repetition-map="itLevel1")

                                mm-awac-question(question-code="A69",ng-repetition-map="itLevel1")

                                mm-awac-question(question-code="A70",ng-repetition-map="itLevel1", ng-condition="getAnswer('A69',itLevel1).value == '0'")

                                mm-awac-question(question-code="A71",ng-repetition-map="itLevel1")

                                mm-awac-question(question-code="A72",ng-repetition-map="itLevel1")

                                mm-awac-question(question-code="A73",ng-repetition-map="itLevel1", ng-condition="getAnswer('A72',itLevel1).value == '1'")

                                mm-awac-question(question-code="A74",ng-repetition-map="itLevel1", ng-condition="getAnswer('A72',itLevel1).value == '2'|| getAnswer('A72',itLevel1).value == '3'|| getAnswer('A72',itLevel1).value == '4'|| getAnswer('A72',itLevel1).value == '5'")

                                mm-awac-question(question-code="A75",ng-repetition-map="itLevel1", ng-condition="getAnswer('A72',itLevel1).value == '6' || getAnswer('A72',itLevel1).value == '7'")

                                mm-awac-question(question-code="A76",ng-repetition-map="itLevel1")

                            button.add-repetition-button.button(ng-click="addIteration('A67')", type="button")
                                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                span(ng-bind-html="'A67_LOOPDESC' | translate")

                tab.tab-color-yellow
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A77_TITLE' | translate")
                    .sub_block.tab-color-yellow
                        .element_table
                            mm-awac-repetition-name(question-code="A78")
                            mm-awac-repetition-question(question-set-code="A78", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A78')")
                                mm-awac-question(question-code="A79",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A80",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A81",ng-repetition-map="itLevel1", ng-condition="getAnswer('A80',itLevel1).value == '0'")
                                mm-awac-question(question-code="A83",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A88",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A89",ng-repetition-map="itLevel1", ng-condition="getAnswer('A83',itLevel1).value == 'AS_5'")
                                mm-awac-question(question-code="A90",ng-repetition-map="itLevel1", ng-condition="getAnswer('A83',itLevel1).value == 'AS_162'")
                                mm-awac-question(question-code="A91",ng-repetition-map="itLevel1", ng-condition="getAnswer('A83',itLevel1).value == 'AS_6'")
                                mm-awac-question(question-code="A92",ng-repetition-map="itLevel1", ng-condition="getAnswer('A83',itLevel1).value == 'AS_163'")

                            button.add-repetition-button.button(ng-click="addIteration('A78')", type="button")
                                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                span(ng-bind-html="'A78_LOOPDESC' | translate")

    .horizontal_separator

mm-awac-section(title-code="A93_TITLE")
div
    .element_content
        .element_text Plusieurs méthodes différentes existent pour rapporter le transport en commun. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
        .method
            tabset
                tab.tab-color-lightgreen
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A94_TITLE' | translate")
                    .sub_block.tab-color-lightgreen
                        .element_table
                            mm-awac-question(question-code="A95")
                            mm-awac-question(question-code="A96")
                            mm-awac-question(question-code="A97")
                            mm-awac-question(question-code="A98")
                            mm-awac-question(question-code="A99")
                            mm-awac-question(question-code="A100")
                            mm-awac-question(question-code="A101")
                            mm-awac-question(question-code="A102")
                            mm-awac-question(question-code="A103")
                            mm-awac-question(question-code="A104")
                            mm-awac-question(question-code="A105")
                            mm-awac-question(question-code="A106")
                            mm-awac-question(question-code="A107")
                            mm-awac-question(question-code="A108")

                tab.tab-color-green
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A109_TITLE' | translate")
                    .sub_block.tab-color-green
                        .element_table
                            mm-awac-question(question-code="A110")
                            mm-awac-question(question-code="A111")
                            mm-awac-question(question-code="A112")

    .horizontal_separator

mm-awac-section(title-code="A113_TITLE")

div
    .element_content
        .element_text Plusieurs méthodes différentes existent pour rapporter le transport en avion. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
        .method
            tabset
                tab.tab-color-lightgreen
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A114_TITLE' | translate")
                    .sub_block.tab-color-lightgreen
                        .element_table
                            mm-awac-repetition-name(question-code="A115")
                            mm-awac-repetition-question(question-set-code="A115", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A115')")
                                mm-awac-question(question-code="A116",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A117",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A118",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A119",ng-repetition-map="itLevel1")
                                mm-awac-question(question-code="A120",ng-repetition-map="itLevel1")
                            button.add-repetition-button.button(ng-click="addIteration('A115')", type="button")
                                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                span(ng-bind-html="'A115_LOOPDESC' | translate")

                tab.tab-color-green
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A121_TITLE' | translate")
                    .sub_block.tab-color-green
                        .element_table
                            mm-awac-question(question-code="A122")
                            mm-awac-question(question-code="A123")
                            mm-awac-question(question-code="A124", ng-condition="getAnswer('A123',itLevel1).value == '0'")
                            mm-awac-question(question-code="A125", ng-condition="getAnswer('A124',itLevel1).value == '1'",ng-aggregation="2500")
                            mm-awac-question(question-code="A126", ng-condition="getAnswer('A124',itLevel1).value == '0'",ng-aggregation="5000")
                            mm-awac-question(question-code="A127", ng-condition="getAnswer('A123',itLevel1).value == '1'")

