// mm-awac-section("Déchets")
// It lacks a proper fild code for "D2chets alone" -> TODO : insert into Excel file as an additional line
mm-awac-section(title-code="A173_TITLE")

    mm-awac-question(question-code="A174")

.horizontal_separator

mm-awac-section(title-code="A173_TITLE")
    mm-awac-repetition-name(question-code="A175")
    mm-awac-repetition-question(question-set-code="A175", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A175')")
        mm-awac-question(question-code="A176",ng-repetition-map="itLevel1")
        mm-awac-question(question-code="A177",ng-repetition-map="itLevel1")
        mm-awac-question(question-code="A178",ng-repetition-map="itLevel1")
        mm-awac-question(question-code="A179",ng-repetition-map="itLevel1")
    button.add-repetition-button(ng-click="addIteration('A175')", type="button")
        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
        span(ng-bind-html="'A175_LOOPDESC' | translate")


.horizontal_separator

mm-awac-section(title-code="A180_TITLE")
    mm-awac-sub-title(question-code="A181")

    mm-awac-sub-sub-title(question-code="A182")
    mm-awac-question(question-code="A183")
    mm-awac-question(question-code="A184")

    mm-awac-sub-sub-title(question-code="A185")
    mm-awac-question(question-code="A186")
    mm-awac-question(question-code="A187")

    mm-awac-sub-sub-title(question-code="A188")
    mm-awac-question(question-code="A189")
    mm-awac-question(question-code="A190")

    mm-awac-sub-sub-title(question-code="A191")
    mm-awac-question(question-code="A192")
    mm-awac-question(question-code="A193")

    mm-awac-sub-title(question-code="A194")

    .element_text Plusieurs méthodes différentes existent pour rapporter les eaux usées industrielles. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.

    .method
        tabset
            tab.tab-color-lightgreen
                tab-heading
                    i.glyphicon.glyphicon-bell
                    span(ng-bind-html="'A197_TITLE' | translate")
                .sub_block.tab-color-lightgreen
                    .element_table
                        mm-awac-question(question-code="A195")
                        mm-awac-question(question-code="A198")
                        mm-awac-question(question-code="A199")
                        mm-awac-question(question-code="A200")

            tab.tab-color-green
                tab-heading
                    i.glyphicon.glyphicon-bell
                    span(ng-bind-html="'A201_TITLE' | translate")
                .sub_block.tab-color-green
                    .element_table
                        mm-awac-question(question-code="A501")
                        mm-awac-question(question-code="A202")
                        mm-awac-question(question-code="A203")
                        mm-awac-question(question-code="A204")
