div
    .menu_close(ng-click="toForm()")
    h1(ng-bind-html="'ORGANIZATION_MANAGER_TITLE' | translateText")

    .site_manager

        br
        h4(ng-bind-html="'ORGANIZATION_MANAGER_PROPERTIES_TITLE' | translateText")

        .field_form(style="width: 600px;")
            mm-awac-modal-field-text(ng-info="nameInfo")
            .field_row(ng-hide="$root.instanceName == 'verification'")
                .field_cell(ng-bind-html="'ORGANIZATION_STATISTICS_ALLOWED' | translateText")
                .field_cell(ng-hide="$root.instanceName == 'verification' || $root.instanceName == 'admin'")
                    input(type="checkbox", ng-model="statisticsAllowed", style="width: 18px;height: 18px;margin-top: 2px;")
            

        div(ng-hide="isLoading")
            button(type="button", class="btn btn-primary", ng-bind-html="'SAVE_BUTTON' | translate", ng-click="saveOrganization()", ng-disabled="!allFieldValid()")
        img(ng-show="isLoading",src="/assets/images/modal-loading.gif")

        div(ng-hide="$root.instanceName == 'verification' || $root.instanceName == 'admin'")
            br
            br
            h4(ng-bind-html="'SITE_MANAGER_EVENT_TITLE' | translateText")
            .desc(ng-bind-html="'SITE_MANAGER_EVENT_DESC' | translateText")
            br
            div
                span.select_period(ng-bind-html="'SITE_MANAGER_SELECT_PERIOD' | translateText")
                select(ng-options='p.key as p.label for p in $root.periods', ng-model='selectedPeriodForEvent')

            table.site_table
                tr.site_table_header
                    td(ng-bind-html="'SITE_MANAGER_EVENT_NAME' | translateText")
                    td(ng-bind-html="'SITE_MANAGER_EVENT_DESCRIPTION' | translateText")
                    td(ng-bind-html="'SITE_MANAGER_EVENT_PERIOD' | translateText")
                    td(ng-bind-html="'SITE_MANAGER_EDIT_EVENT_BUTTON' | translateText")

                tr(ng-repeat="event in events", ng-show="event.period.key == selectedPeriodForEvent")
                    td {{event.name}}
                    td {{event.description}}
                    td {{event.period.label}}
                    td
                        button(type="button", title="{{'SITE_MANAGER_EDIT_EVENT_BUTTON' | translateText}}", ng-click="editOrCreateEvent(event)", class="edit_icon glyphicon glyphicon-pencil")


            button.button.add(type="button", ng-click="editOrCreateEvent()",ng-bind-html="'SITE_MANAGER_ADD_EVENT_BUTTON' | translateText")
