div.pdf-able
    h1
        span(ng-bind-html="'RESULTS' | translate")

    br

    div
        span(ng-bind-html="'ACCOMPANIMENT_WORD' | translate")
        button
            span(ng-bind-html="'XLS_EXPORT' | translate")
        button
            span(ng-bind-html="'PDF_EXPORT' | translate")

    table.wide
        tr
            td.top-aligned
                .sites-panel
                    .sites-panel-title
                        span(ng-bind-html="'SITES_LIST' | translate")

                    .sites-panel-all-items
                        table
                            tr
                                td
                                    span(ng-bind-html="'ALL_SITES_SELECTED' | translate")
                                td
                                    input(type="checkbox")

                    .sites-panel-items
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")
                        .sites-panel-item
                            table
                                tr
                                    td Namur
                                    td
                                        input(type="checkbox")


            td.top-aligned.horizontally-padded.wide

                div.results_disclaimer
                    span.results_disclaimer_text(ng-bind-html="'RESULTS_DISCLAIMER' | translate")

                div(ng-show="current_tab == 1")
                    h2
                        span(ng-bind-html="'VALUES_BY_CATEGORY' | translate")

                    br

                div(ng-show="current_tab == 2")
                    h2
                        span(ng-bind-html="'IMPACTS_PARTITION' | translate")

                    br

                    h3
                        span(ng-bind-html="'SCOPE_1' | translate")
                    center
                        img(style="display:inline-block; max-width: 5cm;", ng-src="{{ charts.donutUrl1 }}")

                    h3
                        span(ng-bind-html="'SCOPE_2' | translate")
                    center
                        img(style="display:inline-block; max-width: 5cm;", ng-src="{{ charts.donutUrl2 }}")

                    h3
                        span(ng-bind-html="'SCOPE_3' | translate")
                    center
                        img(style="display:inline-block; max-width: 5cm;", ng-src="{{ charts.donutUrl3 }}")

                    br

                    mm-awac-result-table(ng-model="o")

                div(ng-show="current_tab == 3")
                    h2
                        span(ng-bind-html="'KIVIAT_DIAGRAM' | translate")
                    br

                    center
                        img(style="display:inline-block; max-width: 15cm;", ng-src="{{ charts.webUrl }}")

                    br

                    mm-awac-result-table(ng-model="o")

                div(ng-show="current_tab == 4")
                    h2
                        span(ng-bind-html="'NUMBERS' | translate")

                    mm-awac-result-table(ng-model="o")


                div(ng-show="current_tab == 5")
                    h2
                        span(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")

                div(ng-show="current_tab == 6")
                    h2
                        span(ng-bind-html="'CALCULUS_EXPLANATION' | translate")

                div(ng-show="current_tab == 7")
                    h2
                        span(ng-bind-html="'USED_EMISSION_FACTORS' | translate")

                br
                br
                br

            td.top-aligned
                .charts-panel-tabset
                    .charts-panel-tab(ng-click="current_tab = 1", ng-class="{ active: current_tab == 1 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_bars(ng-bind-html="'VALUES_BY_CATEGORY' | translate")

                    .charts-panel-tab(ng-click="current_tab = 2", ng-class="{ active: current_tab == 2 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_donut(ng-bind-html="'IMPACTS_PARTITION' | translate")

                    .charts-panel-tab(ng-click="current_tab = 3", ng-class="{ active: current_tab == 3 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_web(ng-bind-html="'KIVIAT_DIAGRAM' | translate")

                    .charts-panel-tab(ng-click="current_tab = 4", ng-class="{ active: current_tab == 4 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_numbers(ng-bind-html="'NUMBERS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 5", ng-class="{ active: current_tab == 5 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_constant_factors(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 6", ng-class="{ active: current_tab == 6 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_calculus(ng-bind-html="'CALCULUS_EXPLANATION' | translate")

                    .charts-panel-tab(ng-click="current_tab = 7", ng-class="{ active: current_tab == 7 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_fe(ng-bind-html="'USED_EMISSION_FACTORS' | translate")


