ng-virtual
    h1 Results

    table.result_table(border="1")
        thead
            th
            th Scope 1
            th Scope 2
            th Scope 3
        tbody
            tr(ng-repeat="rl in o.reportLines")
                td(ng-bind-html="rl.indicatorName")
                td
                    div(ng-bind-html="rl.scope1Value | numberToI18N", ng-show="rl.scope1Value!=0")
                td
                    div(ng-bind-html="rl.scope2Value | numberToI18N", ng-show="rl.scope1Value!=0")
                td
                    div(ng-bind-html="rl.scope3Value | numberToI18N", ng-show="rl.scope1Value!=0")

    fs-donut(bind="graphs.allScopes")
