div.results.pdf-able
    h1
        span(ng-bind-html="'RESULTS' | translate")

    table.wide
        tr
            td.top-aligned(ng-hide="$root.instanceName == 'municipality'")
                .sites-panel
                    .sites-panel-title
                        span(ng-bind-html="'SITES_LIST' | translate")

                    //
                        .sites-panel-all-items
                            table
                                tr
                                    td
                                        span(ng-bind-html="'ALL_SITES_SELECTED' | translate")
                                    td
                                        input(type="checkbox")

                    .sites-panel-items
                        .sites-panel-item
                            table
                                tr(ng-repeat="site in mySites")
                                    td {{ site.name }}
                                    td
                                        input(type="checkbox", ng-model="site.$selected")


            td.top-aligned.horizontally-padded.wide

                div
                    span(ng-bind-html="'ACCOMPANIMENT_WORD' | translate")
                    span.bold  {{ totalEmissions | numberToI18N }}
                    span  tCO2e

                br
                br

                div(ng-show="siteSelectionIsEmpty()")

                    div(ng-bind-html="'SELECT_AT_LEAST_ONE_SITE' | translate")

                div(ng-hide="siteSelectionIsEmpty()")

                    div(ng-show="current_tab == 1")
                        h2
                            span(ng-bind-html="'VALUES_BY_CATEGORY' | translate")
                        br
                        center
                            table
                                tr
                                    td
                                        div(style="display:inline-block; max-width: 10cm; max-height: 10cm;", ng-bind-html="o.svgHistograms.R_1 | trustAsHtml")
                                    td(style="width: 2em")
                                    td
                                        mm-awac-result-legend(ng-model="o.reportDTOs.R_1", mode="numbers")

                    div(ng-show="current_tab == 2")
                        h2
                            span(ng-bind-html="'IMPACTS_PARTITION' | translate")
                        br

                        table
                            tr
                                td(colspan="3")
                                    h3
                                        span(ng-bind-html="'SCOPE_1' | translate")
                                        span  : {{ totalScope1 | numberToI18N }} tCO2e
                            tr
                                td
                                    div(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.svgDonuts.R_2 | trustAsHtml")
                                td(style="width: 2em")
                                td
                                    mm-awac-result-legend(ng-model="o.reportDTOs.R_2")

                            tr
                                td(colspan="3")
                                    h3
                                        span(ng-bind-html="'SCOPE_2' | translate")
                                        span  : {{ totalScope2| numberToI18N }} tCO2e
                            tr
                                td
                                    div(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.svgDonuts.R_3 | trustAsHtml")
                                td(style="width: 2em")
                                td
                                    mm-awac-result-legend(ng-model="o.reportDTOs.R_3")

                            tr
                                td(colspan="3")
                                    h3
                                        span(ng-bind-html="'SCOPE_3' | translate")
                                        span  : {{ totalScope3| numberToI18N }} tCO2e
                            tr
                                td
                                    div(style="display:inline-block; max-width: 5cm; max-height: 5cm;", ng-bind-html="o.svgDonuts.R_4 | trustAsHtml")
                                td(style="width: 2em")
                                td
                                    mm-awac-result-legend(ng-model="o.reportDTOs.R_4")









                        br
                        br




                    div(ng-show="current_tab == 3")
                        h2
                            span(ng-bind-html="'KIVIAT_DIAGRAM' | translate")
                        br
                        center
                            table
                                tr
                                    td
                                        div(style="display:inline-block; max-width: 15cm; max-height: 15cm;", ng-bind-html="o.svgWebs.R_1 | trustAsHtml")
                                    td(style="width: 2em")
                                    td
                                        mm-awac-result-legend(ng-model="o.reportDTOs.R_1", mode="numbers")

                    div(ng-show="current_tab == 4")
                        h2
                            span(ng-bind-html="'NUMBERS' | translate")
                        mm-awac-result-table(ng-model="o.reportDTOs.R_1")


                    div(ng-show="current_tab == 5")
                        h2
                            span(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")

                    div(ng-show="current_tab == 6")
                        h2
                            span(ng-bind-html="'CALCULUS_EXPLANATION' | translate")
                        br

                        p(ng-repeat="e in o.logEntries")
                            span(ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.ReportLogContributionEntryDTO'")
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART1' | translate")
                                span &#32;
                                span(ng-bind-html="e.biActivityCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.biActivitySubCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivityType | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivitySource | translate")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART2' | translate")
                                span &#32;
                                span(ng-bind-html="e.adValue | numberToI18N")
                                span &#32;
                                span(ng-bind-html="e.adUnit")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART3' | translate")
                                span &#32;
                                span(ng-bind-html="e.biIndicatorCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivityType | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivitySource | translate")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART4' | translate")
                                span &#32;
                                span(ng-bind-html="e.fValue | numberToI18N")
                                span &#32;
                                span(ng-bind-html="e.fUnitOut")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART5' | translate")
                                span &#32;
                                span(ng-bind-html="e.fUnitIn")
                                span(ng-bind-html="'RESULTS_EXPLANATION_CONTRIB_PART6' | translate")
                                span &#32;
                                span(ng-bind-html="e.value | numberToI18N")
                                span &#32;
                                span(ng-bind-html="e.biUnit")

                            span(style="color: #a33", ng-show="e.__type == 'eu.factorx.awac.dto.awac.get.ReportLogNoSuitableFactorEntryDTO'")
                                span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART1' | translate")
                                span &#32;
                                span(ng-bind-html="e.biActivityCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.biActivitySubCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivityType | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivitySource | translate")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART2' | translate")
                                span &#32;
                                span(ng-bind-html="e.adValue | numberToI18N")
                                span &#32;
                                span(ng-bind-html="e.adUnit")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART3' | translate")
                                span &#32;
                                span(ng-bind-html="e.biIndicatorCategory | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivityType | translate")
                                span &#32;/&#32;
                                span(ng-bind-html="e.adActivitySource | translate")
                                span &#32;
                                span(ng-bind-html="'RESULTS_EXPLANATION_NOFACTOR_PART4' | translate")

                    div(ng-show="current_tab == 7")
                        h2
                            span(ng-bind-html="'USED_EMISSION_FACTORS' | translate")

                    br

                    div.results_disclaimer
                        span.results_disclaimer_text(ng-bind-html="'RESULTS_DISCLAIMER' | translate")
                    br
                    br
                    br

            td.top-aligned
                div.align-right
                    button
                        span(ng-bind-html="'XLS_EXPORT' | translate")
                    button
                        span(ng-bind-html="'PDF_EXPORT' | translate")

                br

                .charts-panel-tabset
                    .charts-panel-tab(ng-click="current_tab = 1", ng-class="{ active: current_tab == 1 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_bars(ng-bind-html="'VALUES_BY_CATEGORY' | translate")

                    .charts-panel-tab(ng-click="current_tab = 2", ng-class="{ active: current_tab == 2 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_donut(ng-bind-html="'IMPACTS_PARTITION' | translate")

                    .charts-panel-tab(ng-click="current_tab = 3", ng-class="{ active: current_tab == 3 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_web(ng-bind-html="'KIVIAT_DIAGRAM' | translate")

                    .charts-panel-tab(ng-click="current_tab = 4", ng-class="{ active: current_tab == 4 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_numbers(ng-bind-html="'NUMBERS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 5", ng-class="{ active: current_tab == 5 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_constant_factors(ng-bind-html="'COMPARISION_WITH_CONSTANT_EMISSION_FACTORS' | translate")

                    .charts-panel-tab(ng-click="current_tab = 6", ng-class="{ active: current_tab == 6 }")
                        .charts-panel-tab-arrow
                        .charts-panel-tab-title.tab_calculus(ng-bind-html="'CALCULUS_EXPLANATION' | translate")

                    //
                        .charts-panel-tab(ng-click="current_tab = 7", ng-class="{ active: current_tab == 7 }")
                            .charts-panel-tab-arrow
                            .charts-panel-tab-title.tab_fe(ng-bind-html="'USED_EMISSION_FACTORS' | translate")


