div
    .menu_close(ng-click="toForm()")
    h1 user profile

    style
        .edit_icon {
            width: 22px;
            height: 22px;
            top: -1px;
        }

    .user_data
        div(class="field_form", style="display:table")
            mm-awac-modal-field-text(ng-info="identifierInfo")
            mm-awac-modal-field-text(ng-info="passwordInfo")
                button(type="button", title="{{'UPDATE_PASSWORD_BUTTON' | translateText}}", ng-click="changePassword()", class="edit_icon glyphicon glyphicon-pencil")
            mm-awac-modal-field-text(ng-info="lastNameInfo")
            mm-awac-modal-field-text(ng-info="firstNameInfo")
            mm-awac-modal-field-text(ng-info="emailInfo")
                button(type="button", title="{{'UPDATE_EMAIL_BUTTON' | translateText}}", ng-click="changeEmail()", class="edit_icon glyphicon glyphicon-pencil")

            br
            div(style="display:table-row")
                div(style="display:table-cell")
                div(style="display:table-cell")
                div(style="display:table-cell")
                    div(ng-hide="isLoading", style="text-align: right")
                        button(type="button", class="btn btn-primary", ng-bind-html="'SAVE_BUTTON' | translate", ng-click="send()", ng-disabled="!allFieldValid()")

                    img(ng-show="isLoading",src="/assets/images/modal-loading.gif")

