.question
    .question-label(ng-bind-html='getLabelCode() | translate')

    .question-editor
        .question-editor-holder(ng-transclude=true)

    .question-reviewer
        .label.label-info {{ getReviewers().dataOwner }}
    .question-reviewer
        .label.label-warning {{ getReviewers().dataValidator }}
    .question-reviewer
        .label.label-danger {{ getReviewers().dataVerifier }}
    .question-reviewer
        .label.label-default {{ getReviewers().dataLocker }}
