div(ng-hide="getCondition() === false",class="question_field",ng-class="displayOldDatas() ? 'twoanswer' : 'oneanswer'")
    div
        .info(ng-show="hasDescription()")
            .info_popup(ng-bind-html="getQuestionCode() + '_DESC' | translate")
        span(class="glyphicon glyphicon-share-alt")
        span(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    div
        div.status(ng-class="getStatusClass()")
        span( ng-include="getTemplate(false)")
        .user_icon {{getUserName(false,true)}}
            div {{getUserName(false,false)}}
    div(ng-show="displayOldDatas() && getAnswerToCompare() != null")
        span( ng-include="getTemplate(true)")
        .user_icon {{getUserName(true,true)}}
            div {{getUserName(true,false)}}