ng-virtual
    h1 Results

    table
        thead
            th
            th Scope 1
            th Scope 2
            th Scope 3
        tbody
            - each i in [1,2,3,4,5,6,7,8,9,10]
                tr
                    td Indicator
                    td
                    td
                    td

    fs-donut(bind="o.browsers")