@(startupDateIdentifier: String)

<!doctype html>
<html ng-app="app">
    <head>
        <title>AWAC</title>

        <!-- ------------------------------------------------------------------ -->
        <!-- JAVASCRIPTS                                                        -->
        <!-- ------------------------------------------------------------------ -->

        <!-- Angular dependencies local -->
        <script src='@routes.Assets.at("components/angular/angular.js")'></script>
        <script src='@routes.Assets.at("components/angular-i18n/angular-locale_fr-fr.js")'></script>
        <script src='@routes.Assets.at("components/angular-animate/angular-animate.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-sanitize/angular-sanitize.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-route/angular-route.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-bootstrap/ui-bootstrap-tpls.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-flash/dist/angular-flash.min.js")'></script>
        <script src='@routes.Assets.at("components/ng-file-upload/angular-file-upload-shim.min.js")'></script>
        <script src='@routes.Assets.at("components/ng-file-upload/angular-file-upload.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-dynamic-locale/src/tmhDynamicLocale.js")'></script>

        <!-- Underscore -->
        <script src='@routes.Assets.at("components/underscore/underscore.js")'></script>

        <!-- jQuery -->
        <script src='@routes.Assets.at("components/jquery/dist/jquery.min.js")'></script>

        <!-- Bootstrap -->
        <script src='@routes.Assets.at("components/bootstrap/dist/js/bootstrap.min.js")'></script>

        <!-- Graphael -->
        <script src='@routes.Assets.at("components/raphael/raphael-min.js")'></script>
        <script src='@routes.Assets.at("components/graphael/g.raphael-min.js")'></script>
        <script src='@routes.Assets.at("components/graphael/g.pie-min.js")'></script>

        <!-- Messenger -->
        <script src='@routes.Assets.at("components/messenger/build/js/messenger.min.js")'></script>
        <script src='@routes.Assets.at("components/messenger/build/js/messenger-theme-flat.js")'></script>

        <!-- ChartJS -->
        <script src='@routes.Assets.at("components/chartjs/Chart.min.js")'></script>

        <!-- Tinycolor -->
        <script src='@routes.Assets.at("components/tinycolor/tinycolor.js")'></script>

        <!-- web app -->
        <script src='@routes.Assets.at("javascripts/app.js")?@startupDateIdentifier'></script>

        <!-- ------------------------------------------------------------------ -->
        <!-- STYLES                                                             -->
        <!-- ------------------------------------------------------------------ -->

        <!-- Bootstrap -->
        <link rel="stylesheet" href='@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")'>

        <!-- Messenger -->
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("components/messenger/build/css/messenger.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("components/messenger/build/css/messenger-theme-flat.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/messenger-theme.css")'>

        <!-- Main (hacks) -->
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

        <!-- Style -->
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>

    </head>
    <body class="loginBackground">
        <div class="awac_logo"></div>
        <h1>AWAC calculator : Choose you calculator</h1>
        <ul class="interface_menu">
            <li><a class="btn btn-primary" href="enterprise">Enterprise</a></li>
            <li><a class="btn btn-primary" href="municipality">Municipality</a></li>
        </ul>
    </body>
</html>



