<!doctype html>
<html ng-app="app">
    <head>

        <!-- ------------------------------------------------------------------ -->
        <!-- JAVASCRIPTS                                                        -->
        <!-- ------------------------------------------------------------------ -->

        <!-- Angular dependencies local -->
        <script src='@routes.Assets.at("components/angular/angular.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-animate/angular-animate.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-sanitize/angular-sanitize.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-route/angular-route.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-bootstrap/ui-bootstrap-tpls.min.js")'></script>
        <script src='@routes.Assets.at("components/angular-flash/dist/angular-flash.min.js")'></script>

        <!-- Underscore -->
        <script src='@routes.Assets.at("components/underscore/underscore.js")'></script>

        <!-- jQuery -->
        <script src='@routes.Assets.at("components/jquery/dist/jquery.min.js")'></script>

        <!-- Bootstrap -->
        <script src='@routes.Assets.at("components/bootstrap/dist/js/bootstrap.min.js")'></script>

        <!-- D3 -->
        <script src='@routes.Assets.at("components/d3/d3.min.js")'></script>

        <!-- Dangle -->
        <script src='@routes.Assets.at("components/dangle/dist/dangle.min.js")'></script>

        <!-- web app -->
        <script src='app.js'></script>

        <!-- ------------------------------------------------------------------ -->
        <!-- STYLES                                                             -->
        <!-- ------------------------------------------------------------------ -->

        <!-- bootstrap -->
        <link rel="stylesheet" href='@routes.Assets.at("components/bootstrap/dist/css/bootstrap.min.css")'>

        <!-- Dangle -->
        <link rel="stylesheet" href='@routes.Assets.at("components/inweb-roboto/roboto.css")'>

        <!-- Dangle -->
        <link rel="stylesheet" href='@routes.Assets.at("components/dangle/css/dangle.css")'>

        <!-- Main (hacks) -->
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

        <!-- Style -->
        <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>

        <!-- Developer's helper for translations -->
        <script>
            $(function () {
                $('body').keydown(function (evt) {
                    // console.log(evt);
                    if (evt.which == 190 && evt.ctrlKey && evt.shiftKey && evt.altKey) {
                        if (window.debug) {
                            window.debug = false;
                            $('.translation-code').remove();
                        } else {
                            window.debug = true;
                            $('.translated-text').each(function () {
                                var e = $('<span class="translation-code">' + $(this).data('code') + '</span>')
                                $(this).append(e)
                            })
                        }
                    }
                })
            });
        </script>


        <script type='text/javascript'>
            //install bughred
            (function (d, t) {
                var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
                bh.type = 'text/javascript';
                bh.src = '//www.bugherd.com/sidebarv2.js?apikey=q7ppbvnhgqf4bonklbrbqa';
                s.parentNode.insertBefore(bh, s);
            })(document, 'script');
        </script>

    </head>
    <body ng-controller="MainCtrl">

        <!-- list modal -->
        <mm-awac-modal-login></mm-awac-modal-login>

        <!-- success flash message. -->
        <div flash-alert="success" active-class="in" class="alert fade" >
            <strong class="alert-heading">Success!</strong>
            <span class="alert-message" ng-bind-html="flash.message"></span>
        </div>

        <!-- Error flash message -->
        <div flash-alert="error" active-class="in" class="alert fade alert-error">
            <strong class="alert-heading">Error!</strong>
            <span class="alert-message" ng-bind-html="flash.message"></span>
        </div>


        <div ng-show="!isLoading()">

            <ng-virtual ng-show="isLogin()" ng-view></ng-virtual>

            <mm-awac-enterprise-survey ng-hide="isLogin()" ng-model="o"></mm-awac-enterprise-survey>

        </div>
    </body>
</html>



