<!doctype html>
<html ng-app="app">
<head>

    <!-- Angular dependencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <!-- pretty print json -->
    <!--<link rel="stylesheet" href='@routes.Assets.at("javascripts/highlight-js/styles/default.css")'>-->
    <!--<script src='@routes.Assets.at("javascripts/highlight-js/highlight.pack.js")'></script>-->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- web app -->
    <script src='app.js'></script>

    <!-- styles -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>-->

    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")'>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link type="text/css" rel="stylesheet" href='@routes.Assets.at("stylesheets/style.css")'>

    <!-- ui-select files -->
    <!--<script src='@routes.Assets.at("javascripts/select.js")'></script>-->
    <!--<link rel="stylesheet" href='@routes.Assets.at("stylesheets/select.css")'>-->

    <!-- Select2 theme -->
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->

    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap2.css"> -->
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css"> -->

    </script>


    <script>
        $(function () {
            $('body').keydown(function (evt) {
                console.log(evt);
                if (evt.which == 190 && evt.ctrlKey && evt.shiftKey && evt.altKey) {
                    if(window.debug)
                    {
                        window.debug = false;
                        $('.translation-code').remove();
                    }else {
                        window.debug = true;
                        $('.translated-text').each(function () {
                            var e = $('<span class="translation-code">' + $(this).data('code') + '</span>')
                            $(this).append(e)
                        })
                    }
                }
            })
        });
    </script>

</head>
<body ng-controller="MainCtrl">

@loadingScreen()

<div ng-show="!isLoading()">

    <button ng-click="showLoginModal()">login</button>

    <mm-awac-enterprise-survey ng-model="o"></mm-awac-enterprise-survey>

</div>
</body>
</html>



