mm-awac-section(title-code="A243_TITLE")

    div(ng-bind-html="'A244_TITLE' | translate")
    mm-awac-repetition-question(ng-question-set-code="'A244'", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A244')")

        mm-awac-string-question(ng-question-code="'A245'",ng-repetition-map="itLevel1")

        div(ng-bind-html="'A273_TITLE' | translate")
        mm-awac-repetition-question(ng-question-set-code="'A273'", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A273',itLevel1)")

            mm-awac-string-question(ng-question-code="'A274'",ng-repetition-map="itLevel2")

        button(ng-click="addIteration('A273',itLevel1)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A273_LOOPDESC' | translate")

    button(ng-click="addIteration('A244')", type="button")
        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
        span(ng-bind-html="'A244_LOOPDESC' | translate")

//
    mm-awac-section(title-code="A243_TITLE")


    div(ng-bind-html="'A244_TITLE' | translate")
    mm-awac-repetition-question(ng-question-set-code="'A244'", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A244')")

        mm-awac-string-question(ng-question-code="'A245'",ng-repetition-map="itLevel1")
        mm-awac-real-question(ng-question-code="'A246'",ng-repetition-map="itLevel1")
        mm-awac-string-question(ng-question-code="'A247'",ng-repetition-map="itLevel1")
        mm-awac-select-question(ng-question-code="'A248'",ng-repetition-map="itLevel1")
        mm-awac-boolean-question(ng-question-code="'A249'",ng-repetition-map="itLevel1")

        // Transport
        mm-awac-sub-title
            ng-virtual(ng-bind-html="'A250_TITLE' | translate")

        mm-awac-document-question(question-code="A251")

        mm-awac-sub-sub-title
            ng-virtual(ng-bind-html="'A252_TITLE' | translate")

        .element_content
            .element_text Plusieurs méthodes différentes existent pour rapporter le transport aval. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
        .method
            tabset
                tab.tab-color-lightgreen
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A253_TITLE' | translate")
                    .sub_block.tab-color-lightgreen
                        .element_table
                            mm-awac-real-with-unit-question(question-code="A254",ng-repetition-map="itLevel1")
                            mm-awac-real-with-unit-question(question-code="A255",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A256",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A257",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A258",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A259",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A260",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A261",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A262",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A263",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A264",ng-repetition-map="itLevel1")
                            mm-awac-percentage-question(question-code="A265",ng-repetition-map="itLevel1")
                tab.tab-color-green
                    tab-heading
                        i.glyphicon.glyphicon-bell
                        span(ng-bind-html="'A266_TITLE' | translate")
                    .sub_block.tab-color-green
                        .element_table
                            mm-awac-real-with-unit-question(question-code="A267")
                            mm-awac-select-question(question-code="A268")
                            mm-awac-real-with-unit-question(question-code="A269")
                            mm-awac-real-with-unit-question(question-code="A270")
                            mm-awac-real-with-unit-question(question-code="A271")

        // Distribution
        mm-awac-sub-title
            ng-virtual(ng-bind-html="'A272_TITLE' | translate")

        div(ng-bind-html="'A273_TITLE' | translate")
        mm-awac-repetition-question(ng-question-set-code="'A273'", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A273',itLevel1)")

            mm-awac-string-question(question-code="A274",ng-repetition-map="itLevel2")

            div(ng-bind-html="'A275_TITLE' | translate")
            mm-awac-repetition-question(question-set-code="A275", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A275',itLevel2)")
                mm-awac-select-question(question-code="A276",ng-repetition-map="itLevel3")
                mm-awac-real-with-unit-question(question-code="A277",ng-repetition-map="itLevel3")
            button(ng-click="addIteration('A275',itLevel3)", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'A275_LOOPDESC' | translate")

            mm-awac-real-with-unit-question(question-code="A278",ng-repetition-map="itLevel2")

            div(ng-bind-html="'A279_TITLE' | translate")
            mm-awac-repetition-question(question-set-code="A279", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A279'),itLevel2")
                mm-awac-select-question(question-code="A280",ng-repetition-map="itLevel3")
                mm-awac-real-with-unit-question(question-code="A281",ng-repetition-map="itLevel3")
            button(ng-click="addIteration('A279',itLevel3)", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'A279_LOOPDESC' | translate")

        button(ng-click="addIteration('A273',itLevel2)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A273_LOOPDESC' | translate")

        // Traitement
        mm-awac-sub-title
            ng-virtual(ng-bind-html="'A282_TITLE' | translate")
        mm-awac-document-question(question-code="A283")

        div(ng-bind-html="'A284_TITLE' | translate")
        mm-awac-repetition-question(question-set-code="A284", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A284',itLevel1)")
            mm-awac-select-question(question-code="A285",ng-repetition-map="itLevel2")
            mm-awac-real-with-unit-question(question-code="A286",ng-repetition-map="itLevel2")
        button(ng-click="addIteration('A284',itLevel2)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A284_LOOPDESC' | translate")

        mm-awac-real-with-unit-question(question-code="A287",ng-repetition-map="itLevel1")

        div(ng-bind-html="'A288_TITLE' | translate")
        mm-awac-repetition-question(question-set-code="A288", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A288',itLevel1)")
            mm-awac-select-question(question-code="A289",ng-repetition-map="itLevel2")
            mm-awac-real-with-unit-question(question-code="A290",ng-repetition-map="itLevel2")
        button(ng-click="addIteration('A288',itLevel2)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A288_LOOPDESC' | translate")

        // Utilisation
        mm-awac-sub-title
            ng-virtual(ng-bind-html="'A291_TITLE' | translate")
        mm-awac-document-question(question-code="A292")

        mm-awac-real-question(question-code="A293",ng-repetition-map="itLevel1")
        mm-awac-real-with-unit-question(question-code="A294",ng-repetition-map="itLevel1")
        mm-awac-real-with-unit-question(question-code="A295",ng-repetition-map="itLevel1")
        mm-awac-real-with-unit-question(question-code="A296",ng-repetition-map="itLevel1")

        div(ng-bind-html="'A297_TITLE' | translate")
        mm-awac-repetition-question(question-set-code="A297", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A297',itLevel1)")
            mm-awac-select-question(question-code="A298",ng-repetition-map="itLevel2")
            mm-awac-real-with-unit-question(question-code="A299",ng-repetition-map="itLevel2")
        button(ng-click="addIteration('A297',itLevel2)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A297_LOOPDESC' | translate")

        // Fin de vie
        mm-awac-sub-title
            ng-virtual(ng-bind-html="'A300_TITLE' | translate")
        mm-awac-document-question(question-code="A301")

        mm-awac-real-with-unit-question(question-code="A302",ng-repetition-map="itLevel1")

        div(ng-bind-html="'A303_TITLE' | translate")
        mm-awac-repetition-question(question-set-code="A303", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A303',itLevel1)")
            mm-awac-string-question(question-code="A304",ng-repetition-map="itLevel2")
            mm-awac-real-with-unit-question(question-code="A305",ng-repetition-map="itLevel2")
            mm-awac-select-question(question-code="A306",ng-repetition-map="itLevel2")
            mm-awac-select-question(question-code="A307",ng-repetition-map="itLevel2")
            mm-awac-select-question(question-code="A308",ng-repetition-map="itLevel2")
        button(ng-click="addIteration('A303',itLevel2)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'A303_LOOPDESC' | translate")

    button(ng-click="addIteration('A244')", type="button")
        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
        span(ng-bind-html="'A244_LOOPDESC' | translate")