ng-virtual
    .element
        .element_header
            .title Achat de biens et services
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux transport & distribution, traitement, utilisation et fin de vie des produits vendus
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Lister les différents produits ou groupes de produits vendus par l'entreprise
                    div
                        .sub_title Transport
                        .sub_title Traitement
                        .sub_title Utilisation
    .horizontal_separator
