div
    button.btn.btn-default(ng-click='import()') Import BAD

    table.table(style="width: 200px;")
        tr
            td Total BAd imported
            td {{total_bad}}
        tr
            td Bad with info
            td {{total_info}}
        tr
            td Bad with warning
            td {{total_warning}}
        tr
            td Bad with error
            td {{total_error}}

    div(loading-container='tableParams.settings().$loading', class="width:100%")
        table.table.admin-table-import-bad(ng-table='tableParams', class="width:100%")
            tr(ng-repeat='logLine in $data')
                td(data-title='\'Name\'', sortable='\'lineNb\'',style="width:12.5%") {{logLine.lineNb}}
                td(data-title='\'Code\'', sortable='\'name\'',style="width:12.5%") {{logLine.name}}
                td(data-title='\'Info\'', sortable='\'messagesInfoNb\'',style="width:25%")
                    ul
                        li(ng-repeat="message in logLine.messages['INFO']") {{message}}

                td(data-title='\'Warinig\'', sortable='\'messagesWarningNb\'',style="width:25%")
                    ul
                        li(ng-repeat="message in logLine.messages['WARNING']") {{message}}

                td(data-title="'Error'", sortable='\'messagesErrorNb\'',style="width:25%")
                    ul
                        li(ng-repeat="message in logLine.messages['ERROR']") {{message}}
