<!doctype html>
<html ng-app="app">
    <head>

        <script src='@routes.Assets.at("javascripts/angular-1.2.17/angular.min.js")'></script>

        <script>

            var app = angular.module('app', []);

            // ctrl
            app.controller('MainCtrl', function ($scope) {

                $scope.hello = "Hello";

            });

            // i18n
            app.service('translationService', function ($http, $rootScope) {

                var o = this;

                this.elements = null;

                $http({
                    method: 'GET',
                    url: '/awac/translations/fr',
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).
                        success(function (data, status, headers, config) {
                            o.elements = data;
                        }).
                        error(function (data, status, headers, config) {
                            o.elements = null;
                            console.log("error when loading translations")
                        });

                this.get = function (code) {
                    if (this.elements == null) return '';
                    return this.elements[code];
                }
            });
            app.filter("t", function ($sce, translationService) {
                return function (input) {

                    var text = translationService.get(input);

                    if (text != null) {
                        return  $sce.trustAsHtml("<span class=\"translated-text\" data-code=\"" + input + "\">" + text + "</span>");
                    } else {
                        return  $sce.trustAsHtml("<span class=\"translated-text translation-missing\" data-code=\"" + input + "\">[" + input + "]</span>");
                    }
                };
            });
        </script>


        <style>
            .translated-text {
            }

            .translated-text.translation-missing {
                font-style: italic;
                color: red;
            }
        </style>
    </head>
    <body ng-controller="MainCtrl">

        {{ hello }}

        <h1>Test of translation</h1>

        <b>Good Translated text:</b> @t("ABCD")

        <hr/>

        <b>Bad Translated text:</b> @t("ABCD-EFGH")
    </body>
</html>



