<!doctype html>
<html ng-app="app">
    <head>

        <!-- Angular dependencies -->
        <script src='@routes.Assets.at("javascripts/angular-1.2.17/angular.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/angular-1.2.17/angular-animate.min.js")'></script>
        <script src='@routes.Assets.at("javascripts/angular-1.2.17/angular-sanitize.js")'></script>

        <!-- web app -->
        <script src='app.js'></script>

        <!-- styles -->
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css"/>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>

        <!-- ui-select files -->
        <script src='@routes.Assets.at("javascripts/select.js")'></script>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/select.css")'>

        <!-- Select2 theme -->
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
        <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap2.css"> -->
        <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css"> -->


    </head>
    <body ng-controller="MainCtrl">

        @loadingScreen()

        <div ng-show="!isLoading()">

            <h1>Test of translation</h1>

            <b>Good Translated text:</b> @t("ABCD")
            <br/>
            <b>Bad Translated text:</b> @t("ABCD-EFGH")

            <h1>Test of survey</h1>

            <mm-double label-code="DOUBLE-CODE" ng-model="o.myDouble"></mm-double>

            <mm-double-with-unit label-code="DOUBLE-UNIT-CODE" ng-model="o.myDoubleWithUnit"></mm-double-with-unit>

            <mm-text label-code="TEXT-CODE" ng-model="o.myText"></mm-text>

            {{o}}

        </div>
    </body>
</html>



