.chart-legend

    //
        span {{ ngModel.reportLines }}

    div(ng-show="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
        span(ng-bind-html="'RESULTS_LEGENDS_NODATA' | translate")

    div(ng-repeat="line in ngModel.reportLines | filter:{color: '!!'}")
        span.circled-number(ng-show="getMode()=='numbers' && getNumber(line) != null") {{ getNumber(line) }}
        span.chart-legend-bullet-color(ng-hide="getMode()=='numbers'", style="background: {{ line.color }}")
        span &nbsp;
        span(ng-bind-html="line.indicatorName | translate")
        span &nbsp;
        span (&nbsp;{{ (line.leftScope1Value + line.leftScope2Value + line.leftScope3Value + line.leftOutOfScopeValue) | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e) (&nbsp;{{ line.leftPercentage | numberToI18N }}&nbsp;%&nbsp;)

