// Modal
.modal(ng-show="show",id="modalConfirmationExitForm",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true",ng-enter="save()")
    .modal-dialog
        .modal-content
            .modal-header

                button( type="button",
                        ng-click="close()",
                        style="float:right")
                    span(aria-hidden="true") &times;<span
                    span(class="sr-only") Close
                h4(class="modal-title",id="myModalLabel") Attention

            .modal-body
                .field_form Vous allez perdre toutes vos modifications depuis la dernière sauvegarde. Êtes-vous sûr de vouloir continuer ?
            .modal-footer
                button(type="button",
                    ng-click="continue();")  Continuer sans sauvegarder
                button(type="button",
                        ng-click="save()") Enregister et continuer