// Modal
.modal(ng-enter="save()")
    .modal-dialog
        .modal-content
            .modal-header
                button.button( type="button",
                        ng-click="close()")
                    span(aria-hidden="true") &times;<span
                    span(class="sr-only") Close

                h4(class="modal-title") Attention

            .modal-body
                .field_form Vous allez perdre toutes vos modifications depuis la dernière sauvegarde. Êtes-vous sûr de vouloir continuer ?
            .modal-footer
                button.button(type="button",
                    ng-click="continue();")  Continuer sans sauvegarder
                button.button(type="button",
                        ng-click="save()") Enregister et continuer
                button.button(type="button",
                    ng-click="close()") Annuler