ng-virtual

    label Q1
    input(type="text")

    hr

    label Q2
    input(type="text")

    hr

    label Q3
    input(type="text")

    hr

    label Q4
    input(type="text")

    hr

    label Q5
    input(type="text")

    hr

    label Q6
    input(type="text")

    hr

    label Q7
    input(type="text")

    hr

    label Q8
    input(type="text")

    hr

    label Q9
    input(type="text")

    hr

    label Q10
    input(type="text")
