ng-virtual

    h1 Survey

    label Q1
    input(type="text", ng-model="getByCode('Q1').value")

    hr

    label Q2
    input(type="text", ng-model="getByCode('Q2').value")

    hr

    label Q3
    input(type="text", ng-model="getByCode('Q3').value")

    hr

    label Q4
    input(type="text", ng-model="getByCode('Q4').value")

