<div class="question">

    <label ng-bind-html="labelCode | translate"></label>

    <input type="text"
           style="text-align: right"
           ng-model="ngModel.value"/>

    <ui-select ng-model="ngModel.unit" theme="select2" style="min-width: 150px;">
        <match placeholder="Select a value...">{{ ngModel.unit.value }}</match>
        <choices repeat="u in ngModel.units | filter: $select.search">
            <span ng-bind-html="u.value"></span>
        </choices>
    </ui-select>

    <span class="label label-info" ng-show="ngModel.owner != null">{{ ngModel.owner }}</span>

    <span class="label label-success" ng-show="ngModel.validator != null">{{ ngModel.validator }}</span>

    <span class="label label-danger" ng-show="ngModel.verifier != null">{{ ngModel.verifier }}</span>

</div>
