ng-virtual

    h1 Survey

    label Q1
    input(type="text", ng-model="getAnswerByQuestionCode('Q1').value")

    hr

    label Q2
    input(type="text", ng-model="getAnswerByQuestionCode('Q2').value")
    select(ng-options="p.id as p.name for p in getUnitsByQuestionCode('Q2')", ng-model="getAnswerByQuestionCode('Q2').unitId")

    hr

    label Q3
    input(type="text", ng-model="getAnswerByQuestionCode('Q3').value")

    hr

    label Q4
    input(type="text", ng-model="getAnswerByQuestionCode('Q4').value")
    select(ng-options="p.id as p.name for p in getUnitsByQuestionCode('Q4')", ng-model="getAnswerByQuestionCode('Q4').unitId")

