ng-virtual
    .element
        .element_header
            .title Mobilité
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées à la mobilité
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM

    .horizontal_separator

    .element
        .element_header
            .title Transport routier
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_text Plusieurs méthodes différentes existent pour rapporter le transport routier. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
            .method
                tabset
                    tab.tab-color-lightgreen
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Calcul par les consommations
                        .sub_block.tab-color-lightgreen
                            .element_table
                                div
                                    .sub_title Véhicules de société ou détenus par l'entreprise
                                div
                                    .sub_title Autres véhicules: déplacements domicile-travail des employés
                                div
                                    .sub_title Autres véhicules: Déplacements professionnels & visiteurs
                    tab.tab-color-green
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Estimation par les kilomètres
                        .sub_block.tab-color-green
                            .element_table
                                div
                                    .sub_title Créez autant de catégories de véhicules que souhaité
        tab.tab-color-yellow
            tab-heading
                i.glyphicon.glyphicon-bell
                | Estimation par euros dépensés
            .sub_block.tab-color-yellow
                .element_table
                    div
                        .sub_title Créez autant de catégories de véhicules que souhaité

    .horizontal_separator

    .element
        .element_header
            .title Transport en commun
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_text Plusieurs méthodes différentes existent pour rapporter le transport en commun. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
            .method
                tabset
                    tab.tab-color-lightgreen
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Estimation par le détail des déplacements
                        .sub_block.tab-color-lightgreen
                            .element_table
                    tab.tab-color-green
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Estimation par nombre d'employés
                        .sub_block.tab-color-green
                            .element_table

    .horizontal_separator

    .element
        .element_header
            .title Transport en avion (déplacements professionnels ou des visiteurs)
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_text Plusieurs méthodes différentes existent pour rapporter le transport en avion. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
            .method
                tabset
                    tab.tab-color-lightgreen
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Méthode par le détail des vols
                        .sub_block.tab-color-lightgreen
                            .element_table
                    tab.tab-color-green
                        tab-heading
                            i.glyphicon.glyphicon-bell
                            | Méthode des moyennes
                        .sub_block.tab-color-green
                            .element_table
