h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur le profil individuel

p Cette interface de gestion permet à chaque utilisateur, individuellement, de gérer son profil.

p Il peut ainsi y modifier ses données personnelles (prénom, nonm et adresse courriel) ainsi que le mot de passe utilisés pour se connecter à l'application. L'identifiant n'est pas modifiable.