h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la gestion des utilisateurs

h2 Introduction

p Accessible aux seuls utilisateurs avec un statut <b>administrateur</b>, cette interface permet de gérer l'ensemble des utilisateurs de l'organisation, en déterminant qui est administrateur et en invitant de nouveaux utilisateurs ou en en désactivant certains.

h2 Octroyer le statut administrateur

p Pour octroyer le statut d'administrateur, il suffit de cocher la case à cet effet à côté de son nom.

p <em>Note</em>: un administrateur ne peut jamais se défaire lui-même de son statut: un autre administrateur doit le faire pour lui, ce qui permet de s'assurer qu'il reste toujours un administrateur associé à l'organisation.

h2 Statut de vérificateur principal

p Seuls des vérificateurs avec le statut de vérificateur principal ont le droit d'utiliser l'interface "Soumettre" pour renvoyer des résultats de vérification aux demandeurs.

p Pour octroyer ce statut à un utilisateur, il suffit de cocher la case à cet effet à côté de son nom.

p <em>Note</em>: un administrateur est d'office vérificateur principal

h2 Inviter un nouveau utilisateur sur le compte vérificateur

img(src="/assets/images/help/inviter_utilisateur.png")
p Un clic sur ce bouton ouvre une fenêtre dans laquelle il suffit de mentionner l'adresse courriel de l'utilisateur à inviter: il reçoit alors un courriel avec un lien pour s'enregistrer.

h2 Désactiver un utilisateur

p Pour désactiver un utilisateur, il suffit de cliquer sur la croix orange à côté de son nom. Dès ce moment, l'utilisateur ne saura plus se connecter à l'application avec son identifiant. Aucune des données fournies par cet utilisateur n'est perdue. Elles restent accessibles aux autres utilisateurs, avec mention claire de ce qu'elles ont été fournies par leur ancien collègue.

img(src="/assets/images/help/utilisateurs_actif.png")

p <em>Note</em>: un administrateur ne peut jamais se désactiver lui-même: un autre administrateur doit le faire pour lui, ce qui permet de s'assurer qu'il reste toujours un administrateur associé à l'organisation.

p <em>Note 2</em>: Un utilisateur inactif peut être re-rendu actif à tout moment grâce au bouton vert qui est apparu à côté de son nom.