h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la soumission

p Cette interface permet aux vérificateurs principaux de relire le travail effectué par leurs collègues dans "Vérifier" et de décider alors de faire suivre ou non au demandeur.