h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la gestion

p L'interface gérer permet aux <b>administrateurs</b> du compte de voir les demandes en cours ou d'en encoder des nouvelles via la clé reçue par courriel.

p Pour chaque nouvelle demande, il est possible de l'accepter ou de la refuser. Les statuts évolueront au fur et à mesure des échanges avec le demandeur: ces échanges sont sytématiquement tracés par courriel.

p Une fois une demande acceptée, il faut l'assigner à un ou plusieurs vérificateurs qui auront alors accès au données dans leur partie "Vérifier".