h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur l'archive

p Cette interface vous permet simplement de garder une trace des demandes de vérification qui se sont achevées avec succès, ainsi que de celles qui ont été annulées en cours de route par le demandeur