h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur l'archive

p Cette interface vous permet simpelment de garder une trace des demandes de vérification qui ont été ensuite annulées par le demandeur, et des vérifications qui sont achevées avec succès.