h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la soumission

p Cette interface permet aux <b>vérificateurs principaux</b> de relire le travail effectué par leurs collègues dans "Vérifier" et de décider alors de faire suivre ou non au demandeur.

img(src="/assets/images/help/verification_soumettre.png")

p Une fois un dossier sélectionné dans la première table, toutes les données afférentes à celui-ci apparaissent, comme dans l'interface "Vérifier".

p Mais, ici, le vérificateur principal ne peut que relire le travail de ses collègues, en regardant les statuts de vérification qui ont été assignés à chaque rubrique. En cas de statut négatif, cliquer sur le bouton orange sur fond rouge permet de relire le commentaire associé au rejet de ces données.

p Le bouton "Consulter le commentaire" permet de relire le commentaire final de la vérification lorsque celle-ci s'est conclue de manière négative. En cas de vérification positive, ce bouton est remplacé par "Consulter le rapport de vérification", qui permet de lire le rapport final qu'il est prévu de fournir au demandeur.

p Pour conclure cette étape, le vérificateur principal décide alors s'il accepte ou non la vérification qui a été effectuée.

p S'il l'accepte, elle est retournée au demandeur.

p S'il la refuse, elle revient chez ses collègues dans "Vérifier" pour qu'ils y re-travaillent.