h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la vérification

p Tout vérificateur assigné à un travail de vérification voit apparaître les tâches dans la table du dessus. Lorsqu'il clique sur une des lignes, l'entièreté des données à vérifier apparaît en dessous.

img(src="/assets/images/help/verification_verification.png")

p Pour chaque rubrique de données, le vérificateur n'a que deux choix: les accepter, ou les refuser, en cliquant sur les symboles appropriés.

p Chaque refus nécessite un commentaire d'explication qui sera fourni au demandeur.

p Lorsque toutes les rubriques ont été vérifiées, il est alors possible de clôturer la vérification en cliquant sur la bouton "Finaliser": le système demandera alors soit un commentaire final en cas de problèmes, soit de joindre le document de rapport final de vérification. Cela sera alors envoyé aux vérificateurs principaux qui pourront faire suivre le tout au demandeur dans l'interface "Soumettre".