h1 Accès vérificateur sur les calculateurs de l'AWAC: aide sur la vérification

p Tout vérificateur assigné à un travail de vérification voit apparaître les tâches dans la table du dessous. Lorsqu'il clique sur une des lignes, l'entièreté des données à vérifier appraît en dessous.

p Pour chaque rubrique de données, le vérificateur n'a que deux choix: les accepter, ou les refuser, en cliquant sur les symboles appropriés.

p Chaque refus nécessite un commentaire d'expication qui sera fourni au demandeur.

p Lorsque toutes les rubriques ont été vérifiées, il est alors possible de clôturer la vérification: soit avec un commentaire final en cas de problèmes, soit en joignant le document de rapport final de vérification. Cela sera laors envoyé aux vérificateurs principaux qui pourront faire suivre cela au demandeur dans l'interface "Soumettre".