ng-virtual
    .element
        .element_header
            .title Achat de biens et services
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux achats
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Détail des achats
                div
                    .sub_title Créez et nommez vos postes d'achats (et préciser la catégorie et le type de matériaux ensuite)
                div
                    .sub_title Autres matériaux spécifiques pour lesquels l'entreprise dispose du facteur d'émissions cradle-to-gate
                div
                    .sub_title Créez et nommez vos postes d'achats spécifiques (et précisez ensuite la catégorie, le type de matériaux et le facteur d'émission cradle-to-gate spécifique)

    .horizontal_separator

    .element
        .element_header
            .title Infrastructures
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux infrastructures
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Infrastructures (achetées durant l'année de déclaration)
                div
                    .sub_title Créez et nommez vos postes d'infrastructure
                div
                    .sub_title Autres infrastructures spécifiques pour lesquels l'entreprise dispose du facteur d'émission cradle-to-gate
                div
                    .sub_title Créez et nommez vos postes d'infrastructure spécifiques

    .horizontal_separator
    .element
        .element_header
            .title Actifs loués (aval)
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux actifs loués
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Créez autant de catégories d'actifs loués que nécessaire

    .horizontal_separator

    .element
        .element_header
            .title Franchises
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux franchises
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Créez autant de catégories de franchisés que nécessaire

    .horizontal_separator

    .element
        .element_header
            .title Activités d'investissement
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux activités d'investissement
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM
                div
                    .sub_title Veuillez indiquer ici tous les projets dans lesquels votre entreprise investit
