.translated-text {
}

.translated-text.translation-missing {
    font-style: italic;
    color: red;
}

.loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eee;
    color: #333;

    text-align: center;
    padding-top: 50%;
}

.fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add {
    opacity: 1;
    display: block !important;
}

input.ng-invalid {
    background: #fcc;
}

.tab .tab-content {
    display: none;
}

.tab.active .tab-content {
    display: block;
}

/* field_form */
.field_form {
    display: table;
    margin: 20px;
}

.field_form tr {
    height: 30px;

}

.field_form td:first-child {
    width: 150px;
}

.field_form input {
    width: 150px;
}

.field_form td:last-child {
    padding-left: 20px;
}

.field_form .error_message > div:last-child {
    display: none;
    position: absolute;
    background-color: orangered;
    border: 1px solid #ff0000;
    color: #ffffff;
    padding: 5px;
    max-width: 150px;
    margin-top: -15px;
    margin-left: 20px;
}

.field_form .error_message:hover > div:last-child {
    display: block;
}

.alert {
    z-index : 1000;
    position: fixed;
    width: 30%;
    top: 40px;
    text-align: center;
    margin: 0 35%;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

.alert-error {
    background-color: #ff0000;
    color: #ffffff;
}




.loginBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333;

}

.loginFrame {
    display: block;
    border: 5px solid #a4a298;
    padding: 10px;
    background-color: #cfcdc0;
    width: 50%;
    margin: auto;
    margin-top: 10%;

    padding-bottom: 35px;
}

.loginFrame .field_form {
    width: 100%;
}

.loginFrame .field_form input {
    width: 100%;
}

.loginFrame button {
    float: right;
}