html, body {
    background-color: #eee;
}

body {
    font-family: sans-serif;
}

.translated-text {
}

.translated-text.translation-missing {
    font-style: italic;
    color: red;
    font-size: 50%;
}

.loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eee;
    color: #333;

    text-align: center;
    padding-top: 50%;
}

.fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add {
    opacity: 1;
    display: block !important;
}

input.ng-invalid {
    background: #fcc;
}

input, select {
    width: 100%;
    max-width: 100%;
    min-width: 0%;
    border-radius: 0;
    line-height: 24px;
    height: 24px;
    color: black;
    background: white;
    box-shadow: none;
    outline: none;
}

input:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.question {
    display: table-row;
}

.question-label {
    display: table-cell;
    line-height: 24px;
    padding-right: 24px;
    width: 50%;
}

.question-editor {
    display: table-cell;
    width: 50%;
    white-space: nowrap;
}

.question-editor-holder {
    width: 100%;
    display: table;
}

.question-editor-holder > * {
    display: table-cell;
}

.question-reviewer {
    display: table-cell;
    width: 1%;
}

.mm-dropdown {
    display: block;
    width: 100%;
}
.dropdown-toggle {
    display: block;
    width: 100%;
}


hr {
    display: table-row;
    border: none;
    padding: 0;
    margin: 20px 0;
    margin-left: 100px;
    background: green;
    min-height: 2px;
}

.survey-section {
    display: table-row;
    width: 100%;
}

.survey-section-header {
    display: table-cell;
    min-width: 100px;
}

.survey-section-header span {
    background: green;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.survey-section-content {
    display: table-cell;
    width: 100%;
}

.tab .tab-content {
    display: none;
}

.tab.active .tab-content {
    display: block;
}
