.arial {
    font-family: Arial Unicode MS;
}

.blue {
	color: blue;
}

table {
 border-collapse:collapse;
 width:90%;
 border: 2px solid black;
 }
th, td {
 border:2px solid black;
 width:20%;
 }
td, th {
 text-align:center;
 }
caption {
 font-weight:bold
 }