body {
    font-size: 10px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table.page-header {
    border-bottom: solid 2px #aaa;
    margin-bottom: 1cm;
    text-align: left;
}

th.header {
    border-bottom: 0.5pt solid #333;
    padding: 0.25em 0.5em;
    vertical-align: bottom;
}

th.footer {
    border-top: 0.5pt solid #333;
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

td {
    padding: 0.25em 0.5em;
    white-space: nowrap;
}

.indicators-table td:first-child {
    width: 100%;
}

td.dotted {
    border-bottom: 0.25pt dotted #333;
}

.align-right {
    text-align: right
}

.align-center {
    text-align: center
}

div {
    page-break-inside: avoid;
}

h1 {
    border-bottom: solid 1pt #333;
    page-break-after: avoid;
}

h2 {
    page-break-before: auto;
    page-break-after: avoid;
}

img {
    max-width: 100%;
    width: 100%;
}

.circled-number {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    border: solid 1px black;
    text-align: center;
    margin-right: 6px;
}