/*------------------------------------------------------
[Table of contents]

1. Font

2. Structure
	2.a	Header
	2.b	Data menu
	2.c Nav menu

3. Buttons
	3.a Generic
	3.b	Specifics

4. Content
------------------------------------------------------*/

/*-----------------------------------------------------
[ 1. Font ]
-------------------------------------------------------
*/
/*
@font-face {
    font-family: 'robotolight';
    src: url('font/Roboto-Light-webfont.eot'); *//* IE9 Compat Modes *//*
    src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-8 *//* url('font/Roboto-Light-webfont.woff') format('woff'), *//* Modern Browsers *//* url('font/Roboto-Light-webfont.ttf') format('truetype'), *//* Safari, Android, iOS *//* url('font/Roboto-Light-webfont.svg#robotolight') format('svg');*//* Legacy iOS *//*
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'robotolight';
        src: url('font/Roboto-Light-webfont.svg#robotolight') format('svg');
    }
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto-Regular-webfont.eot'); *//* IE9 Compat Modes *//*
    src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-8 *//* url('font/Roboto-Regular-webfont.woff') format('woff'), *//* Modern Browsers *//* url('font/Roboto-Regular-webfont.ttf') format('truetype'), *//* Safari, Android, iOS *//* url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');*//* Legacy iOS *//*
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'robotoregular';
        src: url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    }
}

@font-face {
    font-family: 'robotomedium';
    src: url('font/Roboto-Medium-webfont.eot'); *//* IE9 Compat Modes *//*
    src: url('font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-8 *//* url('font/Roboto-Medium-webfont.woff') format('woff'), *//* Modern Browsers *//* url('font/Roboto-Medium-webfont.ttf') format('truetype'), *//* Safari, Android, iOS *//* url('font/Roboto-Medium-webfont.svg#robotomedium') format('svg');*//* Legacy iOS *//*
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'robotomedium';
        src: url('font/Roboto-medium-webfont.svg#robotomedium') format('svg');
    }
}

@font-face {
    font-family: 'robotobold';
    src: url('font/Roboto-Bold-webfont.eot'); *//* IE9 Compat Modes *//*
    src: url('font/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-8 *//* url('font/Roboto-Bold-webfont.woff') format('woff'), *//* Modern Browsers *//* url('font/Roboto-Bold-webfont.ttf') format('truetype'), *//* Safari, Android, iOS *//* url('font/Roboto-Bold-webfont.svg#robotobold') format('svg');*//* Legacy iOS *//*
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'robotobold';
        src: url('font/Roboto-Bold-webfont.svg#robotobold') format('svg');
    }
}*/

/*-----------------------------------------------------
[ 2. Structure ]

	[ 2.a Header ]
-------------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

body {
    color: #3c3b37;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 1200px;
    overflow: auto !important;
}

input, select {
    background: #efeee8;
    border: 1px solid #61605b;
    padding: 2px 2px 1px;
    font-size: 12px;
    height: 22px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

select {
    padding: 1px 0 0;
}

.survey-header {
    background-color: #3c3b37;
    height: 70px;
    padding: 5px;
    color: white;
    overflow: hidden;
}

.survey-header-option {
    float: right;
}

.survey-header-option tr:first-child {
    text-align: center;
}

.survey-header-option tr:first-child td:nth-child(2) {
    text-align: center;
}

.survey-header-option tr:last-child td,
.survey-header-option tr:last-child td button {
    vertical-align: top;
}

.survey-header-option td {
    padding-right: 10px;
    padding-left: 10px;
}

.survey-header-option td {
    border-right: 1px solid #61605b;
}

.survey-header-option select {
    padding: 2px;
    min-width: 100px;
    background-color: #61605b;
    color: white;
    margin-bottom: 5px;
}

.survey-header > div {
    display: inline-block;
}

.wallonie_logo {
    vertical-align: top;
    height: 60px;
    width: 48px;
    background: url('../images/wallonie_logo.png');
}

.awac_logo {
    vertical-align: top;
    height: 60px;
    width: 173px;
    background: url('../images/awac_logo.png');
    margin-right: 10px;
}

.calculateur_type {
    padding-top: 5px;
    font-size: 12px;
}

.entreprise_name {
    font-size: 30px;
    font-weight: bold;
    margin-top: -4px;
}

.users {
    margin-right: 10px;
}

.users > div {
    margin-bottom: 13px;
}

.users span.username {
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 3px solid white;
}

.button.user_manage.selected {
    height: 39px;
    border-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*-----------------------------------------------------
	[ 2.b DataCell menu ]
-------------------------------------------------------
*/

.data_menu {
    background-color: #dbd9d2;
    height: 40px;
}

.data_menu > div {
    display: inline-block;
    padding-top: 2px;
    vertical-align: middle;
}

.data_date {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.data_date > div,
.data_date_compare > div,
.data_save > div {
    display: inline-block;
}

.data_date select {
    margin-left: 10px;
    display: inline-block;

    font-weight: bold;
    padding: 2px;
    min-width: 54px;
    background-color: white;
    color: #3c3b37;
}

.data_date_compare {
}

.data_date_compare select {
    margin-left: 10px;
    padding: 2px;
    min-width: 154px;
    background-color: #9d9b91;
    color: white;
    font-style: italic;
}

.big_separator {
    background-color: #61605b;
    width: 10px;
    height: 40px;
    padding: 0;
    margin: 0 20px;
}

.data_save {
    float: right;
    margin-right: 10px;
}

.data_save > div {
    vertical-align: middle;
}

.last_save {
    font-size: 10px;
    font-style: italic;
}

.data_save .small_separator {
    margin: 9px 20px;
    background-color: #61605b;
    height: 20px;
    width: 1px;
}

.save_button {

}

/*-----------------------------------------------------
	[ 2.c Nav menu ]
-------------------------------------------------------
*/

.nav_tabs {
    background-color: #61605b;
}

.nav_entreprise {
    height: 128px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.menu {
    height: 91px;
    /* padding-left: 5px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    display: table;
    width: 100%;
    border-spacing: 5px;
}

.menu > *,
.last_menu > * {
    height: 88px;
    background-color: #efeee8;
    display: table-cell;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    color: #3c3b37;
    vertical-align: top;
    transition: all 0.1s ease-out;
    border: none;
}

.menu_current {
    background-color: #305b2e !important;
    color: white !important;
}

.menu > *:hover,
.last_menu > *:hover {
    background-color: #0988b5;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.menu > * {
    position: relative;
    margin: 0px 3px;
}

.nav_entreprise > div {
    display: inline-block;
}

.site_menu {
/ / width : 74.2 %;
    width: -moz-calc(77.5% - 3px);
    width: -webkit-calc(77.5% - 3px);
    width: calc(77.5% - 3px);
    padding-top: 5px;
    padding-right: 0px;
}

.site {
    /* height: 30px; */
    color: white;
}

.site > div {
    display: inline-block;
}

.site button {
    margin-right: 5px;
}

.site .small_separator {
    vertical-align: middle;
    margin: 0 5px;
    background-color: white;
    height: 16px;
    width: 1px;
}

.sitename {
    font-weight: 900;
}

.sitename {
    padding-top: 4px;
    padding-right: 32px;
    height: 26px;
    background: url('../images/notCompleted.png') right center no-repeat;
}

.last_menu {
    width: 22.5%;
    float: right;
    /*padding: 5px 0 5px 5px;*/
    padding: 0;
    background-color: #9d9b91;
    border-spacing: 5px;
    display: table !important;
}

.last_menu > * {
    min-width: 49%;
    width: 49%;
    height: 118px;
    position: relative;
}

.menu_jauge {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: right;
    text-transform: lowercase;
    font-style: italic;
    color: #9d9b91;
    padding-bottom: 4px;
    padding-right: 8px;
}

.menu > div:hover .menu_jauge {
    color: #a4c9dc;
}

.menu_current .menu_jauge {
    color: #acd595 !important;
}

.jauge {

}

.jauge_limit {
    position: absolute;
    background-color: #3c3b37;
    width: 1px;
    height: 10px;
    z-index: 2;
}

.jauge_current {
    position: absolute;
    height: 10px;
    background-color: #f16c23;
    z-index: 1;
}

.jauge_current.jauge_ok {
    background-color: #28b24c;
}

.jauge_bg {
    height: 10px;
    background-color: #fccc93;
}

.jauge_bg.jauge_ok {
    background-color: #acd595;
}

.menu_arrow {
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    height: 17px;
    background: url('../images/menu_arrow.png') center bottom no-repeat;
    display: none;
    position: absolute;
    bottom: -14px;
}

.menu_current .menu_arrow {
    display: block;
}

.tab-title {
    position: absolute;
    top: 4px;
    left: 4px;
    text-align: left;
}

/*-----------------------------------------------------
	[ 2.c Nav menu ]
-------------------------------------------------------
*/

.modal {
    display: block !important;
    z-index: 11000;
}

.modal-header > button {
    float: right;
}

.modal-background {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.modal-content {
    display: block;
    border-radius: 0;
    border: 5px solid #A4A298;
    padding: 10px 10px 35px;
    background-color: #CFCDC0;
    margin: 10% auto auto;
}

.question-comment-textarea {
    width: 530px;
    height: 189px;
}

/*-----------------------------------------------------
[ 3. Buttons ]

	[ 3.a Generic ]
-------------------------------------------------------
*/

button.button[type="button"] {
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
    background-color: #9d9b91;
    /*background-color: #628a60;*/
    border: solid 1px rgba(0, 0, 0, 0.05);
    outline: none;
    color: white;
    margin-left: 5px;
    transition: all 0.1s ease-out;
}

button.button[type="button"]:hover:enabled {
    color: white;
    background-color: #0988b5;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

button.button[type="button"]:active:enabled {
    color: white;
    background-color: #0988b5;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

button.button[type="button"]:disabled {
    color: white;
    background-color: #808080;
}

button.button[type="button"].selected {
    background-color: #305b2e;
}

/*-----------------------------------------------------
	[ 3.b Specific ]
-------------------------------------------------------
*/

button.button.confidentiality {
    background-color: #fccc93;
    color: #f16c23;
}

button.button.help {
    background-color: #acd595;
    color: #305b2e;
}

button.button.save {
    background-color: #f16c23;
    color: white;
}

button.button.site_manage {
    background-color: #3c3b37;
}

button.button.verification {
    float: right;
    background-color: #35b34b;
    color: white;
}

button.button.upload {
    float: right;
    height: 23px;
    padding-left: 25px;
    background: url('../images/upload.png') 7px center no-repeat #efeee8;
    color: #3c3b37;
}

button.button.comments {
    height: 22px;
    width: -moz-calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
    text-align: left;
    padding-left: 25px;
    font-size: 11px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url('../images/comments.png') 7px center no-repeat #3c3b37;
    margin-left: 0;
}

button.button.add {
    height: 23px;
    background: url('../images/add.png') 7px center no-repeat #9d9b91;
    padding-left: 25px;
}

/*-----------------------------------------------------
[ 4. Content ]
-------------------------------------------------------
*/

.content-with-menu {
    position: absolute;
    bottom: 0;
    top: 238px;
    overflow: auto;
    border: 5px solid #305b2e;
    border-top-width: 15px;
    left: 0;
    right: 0;
    min-width: 1200px;
    padding-bottom: 150px;
}

.content-with-little-menu {
    position: absolute;
    bottom: 0;
    top: 110px;
    overflow: auto;
    border: 5px solid #305b2e;
    border-top-width: 15px;
    left: 0;
    right: 0;
    min-width: 1200px;
    padding-bottom: 150px;

}

.content-without-menu {
    position: absolute;
    bottom: 0;
    top: 70px;
    overflow: auto;
    border: 5px solid #305b2e;
    border-top-width: 15px;
    left: 0;
    right: 0;
    min-width: 1200px;
    padding-bottom: 150px;
}

h1 {
    background-color: #305b2e;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 16px 10px;
}

.menu_close {
    background: url('../images/close.png') center bottom no-repeat;
    width: 20px;
    height: 15px;
    float: right;
    margin-right: 11px;
    cursor: pointer;
}

.menu_close:hover {
    background-position: center top;
}

.element {
    padding: 10px;
    min-height: 115px;
}

.element_header {
    height: 40px;
}

.title {
    display: table-cell;
    height: 40px;
    line-height: 12px;
    width: 203px;
    padding-left: 10px;
    color: white;
    background: center right no-repeat #305b2e;
    vertical-align: middle;
}

.title_arrow {
    display: table-cell;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #305b2e;
}

.upload_banner {
    display: table-cell;
    width: -moz-calc(100% - 133px);
    width: -webkit-calc(100% - 133px);
    width: calc(100% - 133px);
    background: url('../images/upload_arrow.png') left center no-repeat #dbd9d2;
}

.upload_banner .element_table > div > div:nth-child(1) div {
    display: inline-block;
}

.upload_banner .element_table > div > div * {
    vertical-align: middle;
}

.element_sidebar {
    float: left;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.block_status {
    border: 4px solid #2e5c2e;
    background-color: #2e5c2e;
    display: inline-block;
}

.block_status > div {
    height: 41px;
    width: 41px;
}

.block_status .lock_status {
    background: url('../images/status/lock.png') center center no-repeat #acd595;
}

.block_status .lock_status.disable_status {
    background: url('../images/status/lock_disabled.png') center center no-repeat #e6dccc;
}

.block_status .answered_status {
    background: url('../images/status/answered.png') center center no-repeat #acd595;
}

.block_status .answered_status.disable_status {
    background: url('../images/status/answered_disabled.png') center center no-repeat #e6dccc;
}

.block_status .validate_status {
    background: url('../images/status/valid.png') center center no-repeat #acd595;
}

.block_status .validate_status.disable_status {
    background: url('../images/status/valid_disabled.png') center center no-repeat #e6dccc;
}

.element_content {
    margin: 10px 0 0 73px;
}

.element_text {
    background-color: #efeee8;
    padding: 5px 10px;
    min-height: 42px;
    margin-bottom: 5px;
}

.repetition-title {
    margin-left: 35px;
}

.repetition-title .glyphicon {
    margin-right: 5px;
}

.repetition-question {
    position: relative;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 5px !important;
    border: solid 1px #ddd;
    margin: 5px;
}

.repetition-question .button.remove-button {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #8a6060;
}

.button.add-repetition-button {
    margin-left: 40px !important;
}

.repetition-question-title {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

.question_field {
    padding: 3px 0px 3px 35px;
}

.question_field > div {
    display: inline-block;
}

.question_field > div {
    padding-right: 15px;
}

.question_field.oneanswer > div {
    width: 50%;
}

.question_field.twoanswer > div:first-child {
    width: 30%;
}

.question_field.twoanswer > div:nth-child(n+2) {
    width: 35%;
}

.question_field.twoanswer > div:last-child > button:first-child {
    margin-right: 12px;
    font-weight: bold;
}

.question_field > div:first-child .glyphicon {
    margin-right: 5px;
}

.question_field .oneelement {
    width: calc(100% - 94px);
    display: inline-block;
}

.question_field .twoelement > * {
    display: inline-block;
}

.question_field .twoelement > *:first-child {
    width: calc(60% - 47px);
}

.question_field .twoelement > *:last-child {
    width: calc(40% - 55px);
    margin-left: 8px;
}

.question_field .error_message {
    position: absolute;
    margin-left: -172px;
    margin-top: -25px;
    z-index: 2;
}

.question_field .error_message > * {
    display: inline-block;
}

.question_field .error_message > *:first-child {
    background-color: #FF0000;
    border: 1px solid #B10000;
    width: 200px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.question_field .error_message > *:last-child {
    vertical-align: top;
    margin-top: 4px;
    margin-left: -1px;
    z-index: 2;
}

.question_info {
    display: inline-block;
    position: relative;
    float: right;
    width: 18px;
    height: 18px;
    background: url('../images/info.png') no-repeat center center;
}

.question_info_popup {
    font-weight: normal;
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #efeee8;
    /* border: 1px solid #dbd9d2; */
    width: 250px;
    min-height: 20px;
    top: 0;
    right: 17px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.question_info:hover .question_info_popup,
.question_info_popup:hover {
    display: block;
}

.question_info + div {
    padding-right: 20px;

}

.sub_title {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #dbd9d2;
    padding-left: 15px !important;
    width: calc(50% + 10px) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sub_sub_title {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #dbd9d2;
    width: calc(50% - 25px) !important;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    padding-bottom: 2px;
    margin-left: 35px;
}

.status {
    margin-right: 12px;
    display: inline-block;
    width: 21px;
    height: 21px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
/ / font-weight : 700;
    color: white;
    padding: 5px 0;
    vertical-align: middle;
}

.status.answer {
    background: url('../images/status/answer.png') no-repeat;
}

.status.answer_temp {
    background: url('../images/status/answer_temp.png') no-repeat;
}

.status.pending {
    background: url('../images/status/pending.png') no-repeat;
}

.status.pending_temp {
    background: url('../images/status/pending_temp.png') no-repeat;
}

.status.stop {
    background: url('../images/status/stop.png') no-repeat;
}

.edit_comment_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
}

.edit_comment_icon_selected {
    background-color: #35b34b;
}

.user_icon {
    margin: 0 5px;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #9d9b91;
    color: white;
    /*font-style: italic;*/
    vertical-align: middle;
}

.user_icon > div {
    display: none;
    position: absolute;
    margin-left: -112px;
    margin-top: -25px;
}

.user_icon > div > * {
    display: inline-block;
}

.user_icon > div > *:first-child {
    background-color: #cccccc;
    border: 1px solid #777777;
    width: 100px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user_icon > div > *:last-child {
    vertical-align: top;
    margin-top: 4px;
    margin-left: -1px;
    z-index: 2;
}

.user_icon:hover > div,
.user_icon > div:hover {
    display: block;
}

.document-question {
    border: 1px solid #dbd9d2;
}

.document-question-block {
    width: calc(100% - 72px);
    display: inline-block;
}

.document-question-block > div {
    display: inline-block;
}

.document-question-block input {
    width: 100% !important;
    height: 25px !important;
}

.document-question-progress-bar {
    text-align: center;
    border: 1px solid #dbd9d2;
    width: calc(100% - 70px);
    height: 20px;
    display: inline-block;
}

.document-question-progress-bar > div {
    height: 20px;
    background-color: #5cb85c;
}

.document-question-progress-percentage {
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    margin-left: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    text-align: right;
}

.element_table > div > div:nth-child(3) .user_icon {
    font-style: normal;
}

.horizontal_separator {
    height: 5px;
    background-color: #305b2e;
    clear: both;
}

.method {
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.sub_nav {
    margin-top: 20px;
}

.tab-panel {
    position: relative;
}

.tab-panel > div {
    display: inline-block;
}

.tab-panel .tab-header {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 2px;
    border-bottom: 5px solid white;
    height: 34px;
}

.tab-panel > div:nth-child(1) > .tab-header {
    background-color: #28b24c;
}

.tab-panel > div:nth-child(2) > .tab-header {
    background-color: #809d3e;
}

.tab-panel > div:nth-child(3) > .tab-header {
    background-color: #e1ad29;
}

.tab-panel > div:nth-child(4) > .tab-header {
    background-color: #e38a27;
}

.tab-panel .active .tab-header {
    height: 39px;
}

.sub_nav > div {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 2px;
    border-bottom: 5px solid white;
}

.sub_nav > div:nth-child(1) {
    background-color: #28b24c;
}

.sub_nav > div:nth-child(2) {
    background-color: #809d3e;
}

.sub_nav > div:nth-child(3) {
    background-color: #e1ad29;
}

.sub_nav > div:nth-child(4) {
    background-color: #e38a27;
}

.sub_nav > div:nth-child(1).sub_nav_current {
    border-bottom: 5px solid #28b24c;
}

.sub_nav > div:nth-child(2).sub_nav_current {
    border-bottom: 5px solid #809d3e;
}

.sub_nav > div:nth-child(3).sub_nav_current {
    border-bottom: 5px solid #e1ad29;
}

.sub_nav > div:nth-child(4).sub_nav_current {
    border-bottom: 5px solid #e38a27;
}

.sub_block {
    border-width: 5px;
    border-style: solid;
    padding: 15px 0;
    position: relative;
}

.tab-panel .tab-content {
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: 50px;
}

.tab-panel > div:nth-child(1) > .tab-content {
    border-color: #28b24c;
}

.tab-panel > div:nth-child(2) > .tab-content {
    border-color: #809d3e;
}

.tab-panel > div:nth-child(3) > .tab-content {
    border-color: #e1ad29;
}

.tab-panel > div:nth-child(4) > .tab-content {
    border-color: #e38a27;
}

.sub_block_1 {
    border-color: #28b24c;
}

.sub_block_2 {
    border-color: #809d3e;
}

.sub_block_3 {
    border-color: #e1ad29;
}

.sub_block_4 {
    border-color: #e38a27;
}

.nav-tabs > li {
    margin-right: 3px;
}

.nav > li > a {
    color: white;
}

.nav > li:not(.active) > a:hover, .nav > li:not(.active) > a:focus {
    background-color: #0988b5 !important;
    transition: background-color 0.2s ease;
}

.nav-tabs > li > a {
    border-radius: 0;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white;
    border: 0;
    border-bottom: 5px solid white;
}

.tab-color-lightgreen a {
    background-color: #28b24c !important;
    border-color: #28b24c !important;
}

.tab-color-lightgreen.sub_block {
    border-color: #28b24c;
}

.tab-color-green a {
    background-color: #809d3e !important;
    border-color: #809d3e !important;
}

.tab-color-green.sub_block {
    border-color: #809d3e;
}

.tab-color-yellow a {
    background-color: #e1ad29 !important;
    border-color: #e1ad29 !important;
}

.tab-color-yellow.sub_block {
    border-color: #e1ad29;
}

.tab-color-orange a {
    background-color: #e38a27 !important;
    border-color: #e38a27 !important;
}

.tab-color-orange.sub_block {
    border-color: #e38a27;
}

/*
 * DOCUMENT MANAGER (MODAL)
 */

.document-manager-table {
    width: 100%;
}

.document-manager-table thead td {
    border: 2px solid #dbd9d2;
    font-weight: bold;
    text-align: center;
}

.document-manager-table td {
    padding: 5px;
}

.document-manager-table tbody td {
    border: 1px solid #dbd9d2;
}

.document-manager-table tbody td:first-child {
    width: 50%;
}

.document-manager-table tbody td:last-child {
    text-align: center;
}

/*
 * ASSOCIATED USER/SITE (MODAL)
 */

.associate-user-table {
    width: 100%;
}

.associate-user-table thead td {
    border: 2px solid #dbd9d2;
    font-weight: bold;
    text-align: center;
}

.associate-user-table td {
    padding: 5px;
    text-align: center;
}

.associate-user-table tbody td {
    border: 1px solid #dbd9d2;
}

.associate-user-table tbody td:first-child {
    width: 40%;
}

.associate-user-table tbody td:last-child {
    width: 20%;
    text-align: center;
}



/*
 * PROGRESS BAR FOR TABS
 */
.tab-pg-bar {
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
}

.tab-pg-text {
    font-size: 12px;
    text-align: right;
    text-transform: lowercase;
    font-style: italic;
    color: #9d9b91;
}

.tab-pg-background {
    background: darkorange;
    width: 100%;
}

.tab-pg-indicator {
    background: orange;
    height: 10px;
}

.tab-pb-green-bg {
    background: #82d998
}

.tab-pb-green-fg {
    background: #28b24c
}

.tab-pb-orange-bg {
    background: #d9b882
}

.tab-pb-orange-fg {
    background: #b07c28
}

.tab-pb-red-bg {
    background: #d98282
}

.tab-pb-red-fg {
    background: #b02828
}

*:disabled {
    opacity: 0.75;
    color: #f5f4f2;
    background-color: #333333;
}

.condition-false {
    display: none !important;
}

.user_table,
.site_table {
    border-spacing: 2px;
    border-collapse: separate;
}

.site_table {
    width: 100%;
}

.user_table td,
.site_table td {
    padding: 5px;
    line-height: 12px;
    background-color: #e7e4e2;
}

.user_table td {
    width: 50px;
    text-align: center;
}

.user_table td:first-child {
    min-width: 500px;
    text-align: left;
    padding-left: 10px;
}

.user_table tr {
    height: 40px;
}

.user_table_header td,
.site_table_header td {
    background-color: white;
    font-weight: bold;
}

.user_deleted td {
    color: #b4b2b1;
    font-style: italic;
    background-color: #f5f4f2;
}

.button_delete {
    background: url('../images/delete.png') center top no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
}

.is_admin .button_delete:hover {
    background-position: center bottom;
    cursor: pointer;
}

.user_deleted .button_delete {
    background-image: url('../images/reactivate.png');

}

.wide {
    width: 100%;
}

.dtable {
    display: table;
}

.dtable-row {
    display: table-row;
}

.dtable-cell {
    display: table-cell;
}

.user_data {
    width: 40%;
    min-width: 600px;
}

.fields {
    display: table;
    width: 100%;
    padding: 30px;
}

.fields .field {
    display: table-row;
    padding: 30px;
}

.fields .field .label {
    display: table-cell;
    width: 30%;
    min-width: 150px;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    color: #3c3b37;
    font-size: 12px;
}

.fields .field .editor {
    display: table-cell;
    width: 70%;
    min-width: 300px;
    padding: 5px;
}

.fields .field .editor > * {
    width: 100%;
}

.actions {
    text-align: right;
    padding: 30px;
}

ul.messenger.messenger-fixed.messenger-on-top {
    list-style-type: none;
}

ul.messenger-theme-flat .messenger-message.alert-success,
ul.messenger-theme-flat .messenger-message.alert-error,
ul.messenger-theme-flat .messenger-message.alert-info {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

ul.messenger-theme-flat .messenger-message.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

ul.messenger-theme-flat .messenger-message.alert-error {
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff0000;
}

ul.messenger-theme-flat .messenger-message.alert-info {
    /*color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    */
}

ul.messenger-theme-flat .messenger-message .messenger-message-inner:before {
    width: 0 !important;
    height: 0 !important;
}

ul.messenger > li {
    box-shadow: 5px 5px 5px #888888;
}

.graph {
    display: inline-block;
    margin: auto;
}

.align-right {
    text-align: right;
}

.result_table {
    margin: auto;
}

.result_table h2 {
    font-size: 1.5em;
    border-bottom: solid 2px #666;
}

.indicators_table {
    width: 100%;
}

.indicators_table > thead > tr > th {
    white-space: nowrap;
    padding: 0.5em 1em;
    border-bottom: solid #666 2px;

}

.indicators_table > tbody > tr > td {
    padding: 0.5em 1em;
    border-bottom: dotted #666 1px;
}

.indicators_table > tbody > tr > td {
    border-left: dotted #666 1px;
    border-right: dotted #666 1px;
}

.indicators_table > tbody > tr:hover {
    background: #d7edd5;
}

.indicators_table > tfoot > tr > td {
    white-space: nowrap;
    padding: 0.5em 1em;
    border-top: solid #666 2px;
    font-weight: bold;
}

.indicators_table > tbody > tr > td.scope1 {
    border-left: dashed 2px #666;
}

.indicators_table > tbody > tr > td.out-of-scope {
    border-right: dashed 2px #666;
}

.chart-legend {
    text-align: left;
    vertical-align: top;
}

.chart-legend-bullet-color {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 2px;
    margin-right: 0.5em;
}

.forgot_password_success_message {
    text-align: center;
    margin: 15px;
    font-size: 18px;
    color: darkgreen;
}

.interface_menu {
    height: 40px;
    list-style-type: none;
    margin-left: 50px;
}

.interface_menu li {
    float: left;
    margin-right: 5px;
}

.interface_menu li a {
    display: block;
    color: white;
}

.interface_menu li a:hover {
    text-decoration: none;
}

.interface_menu li .selected {
    background-color: #000080;
    border-color: #000080;
}

.interface_menu li .selected {
    background-color: #000080;
    border-color: #000080;
}

.admin-table-import-bad td {
    border-right: 1px solid #ddd;
}

.admin-table-import-bad ul {
    list-style-type: none;
}

/*
 * sites-panel
 */
.sites-panel {
    width: 300px;
}

.sites-panel-title {
    background: #333;
    color: #eee;
    font-weight: bold;
    margin-bottom: 4px;
    width: 100%;
    padding: 0.25em 0.5em;
}

.sites-panel-items {
    width: 100%;
}

.sites-panel-item, .sites-panel-all-items {
    background: #ccc;
    padding: 0.25em 0.5em;
    margin-bottom: 4px;
    width: 100%;
}

.sites-panel-item > table {
    width: 100%;
}

.sites-panel-item > table td:first-child {
    width: 100%;
}

/*
 * charts-panel
 */
.charts-panel-tabset {
    white-space: nowrap;
}

.charts-panel-tab {
    margin-bottom: 4px;
}

.charts-panel-tab-title {
    display: inline-block;
    background: #333;
    color: #eee;
    font-weight: bold;
    padding: 0.5em 0em;
    margin: 0;
    width: 300px;
    height: 7em;
    vertical-align: middle;
}

.charts-panel-tab-arrow {
    display: inline-block;
    width: 3.5em;
    height: 7em;
    border-top: 3.5em solid transparent;
    border-bottom: 3.5em solid transparent;
    border-right: 3.5em solid #333;
    vertical-align: middle;
}

.charts-panel-tab.active .charts-panel-tab-title {
    background-color: #363;
}

.charts-panel-tab.active .charts-panel-tab-arrow {
    border-right-color: #363;
}

.charts-panel-tab:hover .charts-panel-tab-title {
    background-color: #484;
}

.charts-panel-tab:hover .charts-panel-tab-arrow {
    border-right-color: #484;
}

.top-aligned {
    vertical-align: top;
}

.horizontally-padded {
    padding: 0em 1em;
}

.circled-number {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    border: solid 1px black;
    text-align: center;
    margin-right: 6px;
}

.results_disclaimer {
    text-align: right;
}

.results_disclaimer_text {
    text-align: left;
    display: inline-block;
    padding: 0.5em;
    border: solid 1px #333;
}

.tab_donut {
    background-image: url('/assets/images/schemas/schema_pieChart.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_web {
    background-image: url('/assets/images/schemas/schema_araignee.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_numbers {
    background-image: url('/assets/images/schemas/schema_chiffres.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_constant_factors {
    background-image: url('/assets/images/schemas/schema_facteursConstants.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_fe {
    background-image: url('/assets/images/schemas/schema_FE.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_calculus {
    background-image: url('/assets/images/schemas/schema_calcul.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.tab_bars {
    background-image: url('/assets/images/schemas/schema_barchart.png');
    background-position: bottom 4px right 4px;
    background-repeat: no-repeat;
}

.no-scope-message {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    font-size: 16px;
    border: 4px solid #ac2925;
    display: inline-block;
    background-color: #e38a27;
    color: #f9f2f4;
    width: 600px;
    margin-left: calc(50% - 300px);
}

