span.twoelement
    span(style="text-align:right")
        span(style="vertical-align:middle;margin-right : 15px;") oui
        input(type="radio",name="{{getQuestionCode()}}", ng-model="getAnswerValue().value",value="1", style="width :20px !important;margin:0;vertical-align:middle;",ng-change="edited()")
    span(style="text-align:right")
        span(style="vertical-align:middle;margin-right : 15px;") non
        input(type="radio",name="{{getQuestionCode()}}", ng-model="getAnswerValue().value",value="0",style="width :20px !important;margin:0;vertical-align:middle;",ng-change="edited()")