package eu.factorx.awac.buisness.bad.impl;

import com.fasterxml.jackson.databind.JsonNode;
import eu.factorx.awac.controllers.SecuredController;
import eu.factorx.awac.dto.awac.post.AnswerLineDTO;
import eu.factorx.awac.dto.awac.post.QuestionAnswersDTO;
import eu.factorx.awac.dto.myrmex.post.ConnectionFormDTO;
import eu.factorx.awac.models.business.Scope;
import eu.factorx.awac.models.business.Site;
import eu.factorx.awac.models.code.type.*;
import eu.factorx.awac.models.data.answer.QuestionSetAnswer;
import eu.factorx.awac.models.knowledge.Period;
import eu.factorx.awac.models.reporting.BaseActivityData;
import eu.factorx.awac.service.PeriodService;
import eu.factorx.awac.service.QuestionSetAnswerService;
import eu.factorx.awac.service.ScopeService;
import eu.factorx.awac.service.SiteService;
import eu.factorx.awac.service.knowledge.activity.contributor.impl.BaseActivityDataAE_BAD1;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import play.libs.Json;
import play.mvc.Result;
import play.test.FakeRequest;

import java.util.*;

import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertTrue;
import static play.test.Helpers.callAction;
import static play.test.Helpers.status;


@Component
public class ${bad.getActivityCategoryCode()}Test} {

    @Autowired
    private QuestionSetAnswerService questionSetAnswerService;

    @Autowired
    private SiteService siteService;

    @Autowired
    private ScopeService scopeService;

    @Autowired
    private PeriodService periodService;

    @Autowired
    private BaseActivityData${bad.getActivityCategoryCode()} baseActivityData${bad.getActivityCategoryCode()};

    private final static Long FORM_ID = 1L;
    private final static Long PERIOD_ID = 1L;
    private String identifier = "user1";
    private String identifierPassword = "password";

    /**
     * run test
     * need an id of a scope (site)
     * @param scopeId
     */
    public void test(long scopeId){

        Site site = siteService.findById(scopeId);
        Period period = periodService.findById(PERIOD_ID);
        Scope scope = scopeService.findBySite(site);

        //
        // 1) build data
        //
        QuestionAnswersDTO questionAnswersDTO = new QuestionAnswersDTO();
        questionAnswersDTO.setFormId(FORM_ID);
        questionAnswersDTO.setPeriodId(PERIOD_ID);
        questionAnswersDTO.setScopeId(scope.getId());
        questionAnswersDTO.setLastUpdateDate(new Date().toString());

        List<AnswerLineDTO> answerLineDTOList = new ArrayList<>();

        //add answers
        #foreach($question in $questions)
        answerLineDTOList.addAll(buildAnswer$question);
        #end

        questionAnswersDTO.setListAnswers(answerLineDTOList);

        //
        // 2) send request
        //
        //Json node
        JsonNode node = Json.toJson(questionAnswersDTO);
        FakeRequest saveFakeRequest = new FakeRequest();
        saveFakeRequest.withHeader("Content-type", "application/json");
        saveFakeRequest.withJsonBody(node);

        //connection
        ConnectionFormDTO cfDto = new ConnectionFormDTO(identifier, identifierPassword, InterfaceTypeCode.ENTERPRISE.getKey(), "");
        saveFakeRequest.withSession(SecuredController.SESSION_IDENTIFIER_STORE,cfDto.getLogin());

        // Call controller action
        Result result = callAction(
            eu.factorx.awac.controllers.routes.ref.AnswerController.save(),
            saveFakeRequest
        );

        // control result
        assertEquals(200, status(result));

        //
        // 3) control BAD
        //
        Map<QuestionCode, List<QuestionSetAnswer>> questionSetAnswers = questionSetAnswerService.getAllQuestionSetAnswers(scope, period);
        List<BaseActivityData> bads = baseActivityDataAE_bad1.getBaseActivityData(questionSetAnswers);

        //control size
        assertEquals("The number of bad generated is not correct. expected : $answers.size(), generated : "+bads.size(),$answers.size() ,bads.size());

        //control content
        #foreach($answer in $answers)
        controlBad${foreach.count}(bads.get(${foreach.count}));
        #end
    }

    #foreach($question in $questions)
    /**
     * build the AnswerLineDTO
     * question : $question
     */
    private List<AnswerLineDTO> buildAnswer$question{

        List<AnswerLineDTO> list = new ArrayList<>();

         #foreach($repetition in $question.repetitions)
        //repetition A15:1
        Map<String, Integer> mapRepetition${foreach.count} = new HashMap<>();
        #foreach ($entry in $repetition.entrySet())
        mapRepetition${foreach.count}.put("$entry.key",$entry.value);
        #end
        list.add(new AnswerLineDTO("$question.code",$question.value, identifier, mapRepetition${foreach.count}));
        #end

        return list;
    }
    #end

    /**
     * control the content and the value of the bad
     * @param bad
     */
    private void controlBad1(BaseActivityData bad){
        //control global
        controlGlobalBad(bad);

        //control value
        assertTrue("Value error : expected : 6.5, founded : "+bad.getValue(),bad.getValue().equals(6.5));
    }

    /**
     * control all except value
     * @param bad
     */
    private void controlGlobalBad(BaseActivityData bad){
        assertTrue("BaseActivityDataCode error. Expected : ${bad.getActivityCategoryCode()}, founded : "+bad.getKey(),bad.getKey().equals(BaseActivityDataCode.${bad.getActivityCategoryCode()}));
        assertTrue("Rank error : Expected : ${bad.getRank()}, founded : "+bad.getRank(),bad.getRank().equals(${bad.getRank()}));
        assertTrue("SpecificPurpose error : Expected : {}, founded : "+bad.getSpecificPurpose(),bad.getSpecificPurpose() == null);
        assertTrue("ActivityCategory error : Expected : {}, founded : "+bad.getActivityCategory(),bad.getActivityCategory().equals(ActivityCategoryCode.AC_1));
        assertTrue("ActivitySubCategory error : Expected : {}, founded : "+bad.getActivitySubCategory(),bad.getActivitySubCategory().equals(ActivitySubCategoryCode.ASC_1));
        assertTrue("ActivityType error : Expected : {}, founded : "+bad.getActivityType(),bad.getActivityType().equals(ActivityTypeCode.AT_1));
        assertTrue("ActivitySource error : Expected : {}, founded : "+bad.getActivitySource(),bad.getActivitySource().equals(new ActivitySourceCode("AS_1")));
        assertTrue("ActivityOwnership error : Expected : {}, founded : "+bad.getActivityOwnership(),bad.getActivityOwnership().equals(true));
        assertTrue("Unit error : Expected : {}, founded : "+bad.getUnit().getSymbol(),bad.getUnit().getUnitCode().equals(UnitCode.U5321));
    }
}
