.chart-legend

    div(ng-show="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
        span(ng-bind-html="'RESULTS_LEGENDS_NODATA' | translate")

    table
        thead
            tr
                th

                th(ng-hide="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
                    span.period-header(style="color: {{ ngModel.leftColor }}; border-bottom-color: {{ ngModel.leftColor }}") {{ngModel.leftPeriod}}

                th(ng-show="ngModel.rightPeriod != null")
                    span.period-header(style="color: {{ ngModel.rightColor }}; border-bottom-color: {{ ngModel.rightColor }}") {{ngModel.rightPeriod}}

                th
                    span.period-header(style="color: {{ ngTypeColor }}; border-bottom-color: {{ ngTypeColor }}")
                        span(ng-show="$root.instanceName == 'household'", ng-bind-html="'TYPICAL_HOUSEHOLD_TITLE' | translate")
                        span(ng-show="$root.instanceName == 'event'", ng-bind-html="'TYPICAL_EVENT_TITLE' | translate")
                        span(ng-show="$root.instanceName == 'littleemitter'", ng-bind-html="'TYPICAL_LITTLEEMITTER_TITLE' | translate")

                th
                    span.period-header(style="color: {{ ngIdealColor }}; border-bottom-color: {{ ngIdealColor }}")
                        span(ng-show="$root.instanceName == 'household'", ng-bind-html="'IDEAL_HOUSEHOLD_TITLE' | translate")
                        span(ng-show="$root.instanceName == 'event'", ng-bind-html="'IDEAL_EVENT_TITLE' | translate")
                        span(ng-show="$root.instanceName == 'littleemitter'", ng-bind-html="'IDEAL_LITTLEEMITTER_TITLE' | translate")


        tbody
            tr(ng-repeat="(indicator, value) in ngType")
                td
                    span.circled-number(ng-show="getNumber(indicator) != null") {{ getNumber(indicator) }}

                td.align-right.data-cell(ng-hide="(ngModel.reportLines | filter:{color: '!!'}).length == 0")
                    span {{ getLeftTotal(indicator) | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e

                td.align-right.data-cell(ng-show="ngModel.rightPeriod != null")
                    span {{ getRightTotal(indicator) | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e

                td.align-right.data-cell
                    span {{ ngType[indicator] | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e
                td.align-right.data-cell
                    span {{ ngIdeal[indicator] | numberToI18NRoundedOrFullIfLessThanOne }}&nbsp;tCO2e
