h1 Calculateur CO2 commune de l'AWAC: aide sur la présentation des résultats

h2 Introduction

p La partie Résultats vous présente le bilan GES de votre commune, selon vos critères et présenté de différentes manières. Petit tour d'horizon des options qui s'ouvrent à vous.

h2 Résultat annuel ou comparaison

p Il vous permet de choisir si souhaitez voir le résultat pour une année seulement, ou au contraire comparer le résultat de deux années différentes, comme illustré ci-dessous.

img(src="/assets/images/help/resultats_commune_comparaison.png")

h2 Export du résultat

p Deux boutons, disponibles juste au-dessus des différentes manières de visualiser le résultat, vous permettent de télécharger celui-ci au format Excel ou PDF sur votre ordinateur. Dans chaque cas, après avoir cliqué sur le bouton, vous devrez patienter une bonne dizaine de secondes, le temps que le serveur assemble le document pour vous. Ensuite, votre navigateur sauvegardera le ficher demandé selon son mécanisme habituel (endroit habituel, avec ou sans pop-up, selon la configuration de votre navigateur).

p Le ficher Excel contient juste le résultat brut et les données saisies, triées dans des cases différentes pour vous permettre de les re-travailler à votre guise et/ou de les mettre en page différement.

p Le ficher PDF contient les données saisies, mais également tous les graphiques de présentation du résultat.

h2 Différentes vues

p Le résultat est présenté de différentes manières, chacune accesssible via les onglets sur le bord droit du navigateur. Voici les explications de l'objectif de chaque mode de présentation.

h3 Valeurs par rubrique

p Cette vue présente l'ensemble des rubriques du résultat sous forme de "bar-chart" (diagramme par bâtons), afin de mettre en évidence les impacts dominants de votre bilan GES. En mode de comparaison de deux années, les rubriques de chacune des deux années sont présentées côte à côte dans deux couleurs différentes.

h3 Répartition des impacts

p Cette vue présente les résultats scindés selon les 3 périmètres (scopes) de l'ISO 14064, dans des "pie-charts" (présentation en fromage). Cela permet de mettre en évidence les rubriques principales qui contribuent à chacun de ces périmètres.

h3 Diagramme araignée

p Cette vue est la même que celle des "valeurs par rubrique", mais sous forme de diagramme araignée, où chaque rubrique est représentée sur un axe différent. En cas de comparaison de deux années, cela permet de mieux visualiser les divergences entre les années.

h3 Chiffres

p Cette vue présente les résultats sous forme d'un tableau de chiffres.

h3 Comparaison à facteurs constants

p Cette vue présente à nouveau un "bar-chart" (diagramme par bâtons) comme les "valeurs par rubrique". Actif seulement en cas de comparaison de deux années, les données de l'année de comparaison ont cette fois étés multipliées par les facteurs d'émission de l'année de référence (et non pas par ceux de leur année de données, comme dans les autres vues). Cela permet de visualiser le changement dû seulement aux consommations engendrées par les données, indépendamment de tout changement de facteur d'émission.

h3 Explication du calcul

p Cette dernière rubrique, qui est également exportée tant en Excel qu'en PDF, vous permet de comprendre le raisonnement qui a mené au calcul du résultat qui vous est présenté. Elle vous présente chaque fois la valeur résultant du jeu de données fournies avec le facteur d'émission qui y a été appliqué, et la contribution au résultat qui en découle. Si certaines phrases apparaissent en rouge, cela signifie qu'un faceteur d'émission n'a pas été trouvé, et nous vous invitons alors à le signaler à l'AWAC.

h3 Convention des maires

p Cette vue vous présente les indicateurs nécessaires à remplir votre suivi annuel des engagements communaux liés à la convention des maires. Les résultats sont présentés en différents indicateurs scindés afin que vous puissiez reprendre les valeurs correspondant à votre approche (avec ou sans calcul LCA).

h2 Résultats vérifiés de manière externe

p Si une vérification a été effectuée (cf. pages principales), le rapport de vérification, s'il existe pour l'année sélectionnée, devient également disponible via la présente interface.