h1 Calculateur CO2 commune de l'AWAC: aide sur la gestion de l'organisation

h2 Introduction

p Accessible aux seuls utilisateurs avec un statut <b>administrateur</b>, cette interface permet de gérer trois aspects au niveau général de votre organisation: son nom, le partage des données avec l'AWAC pour un usage statitstique (cf. confidetnailité) et les facteurs infulants le bilan GES.

h2 Nom de l'organisation

p Vous pouvez changer ici le nom global de votre organisation tel qu'il apparaît tout en haut du calculateur.

h2 Partage des données avec l'AWAC

p En accord avec les principes édictés dans la confidentialité de l'outil, c'est ici que vous pouvez décider de partager ou non vos données avec l'AWAC pour alimenter la représentativitié de ses statistiques.

h2 Facteurs influants sur la performance GES

p Comme indiqué par le texte explicatif présent dans l'interface, vous pouvez ici décrire les changements principaux survenus telle ou telle année, et qui expliquent des variations significatives de votre bilan d'une année sur l'autre.

p Cet aspect est pour votre bonne compréhension interne, mais peut également s'avérer particulièrement utile lorsque vous demandez une vérification externe de vos données: le vérificateur aura en effet accès à ces facteurs afin de mieux comprendre la nature de votre bilan.