div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        //achat bien et service
        mm-awac-section(title-code="AC114")
            .element_content
                .element_text(ng-bind-html="'EXPLAIN_AC114' | translate")

            mm-awac-question(question-code="AC115",ng-optional="true")

            mm-awac-repetition-name(question-code="AC116")
            mm-awac-repetition-question(question-set-code="AC116", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC116')")

                mm-awac-question(question-code="AC117",ng-map-index="{'AC116':$index}", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC118",ng-map-index="{'AC116':$index}", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC119", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_61'")
                mm-awac-question(question-code="AC120", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_62'")
                mm-awac-question(question-code="AC121", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_63'")
                mm-awac-question(question-code="AC122", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_64'")
                mm-awac-question(question-code="AC123", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_65'")
                mm-awac-question(question-code="AC124", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_66'")
                mm-awac-question(question-code="AC125", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_67'")
                mm-awac-question(question-code="AC126", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_68'")
                mm-awac-question(question-code="AC127", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_61' || getAnswer('AC118',itLevel1).value == 'AT_62' || getAnswer('AC118',itLevel1).value == 'AT_63' || getAnswer('AC118',itLevel1).value == 'AT_64'")
                mm-awac-question(question-code="AC128", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_61' || getAnswer('AC118',itLevel1).value == 'AT_62' || getAnswer('AC118',itLevel1).value == 'AT_63' || getAnswer('AC118',itLevel1).value == 'AT_64' || getAnswer('AC118',itLevel1).value == 'AT_65' || getAnswer('AC118',itLevel1).value == 'AT_66' || getAnswer('AC118',itLevel1).value == 'AT_67'")
                mm-awac-question(question-code="AC129", ng-map-index="{'AC116':$index}",ng-repetition-map="itLevel1",ng-condition="getAnswer('AC118',itLevel1).value == 'AT_68'")


            mm-awac-repetition-add-button(question-set-code="AC116")
    mm-awac-form-navigator
