div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        //achat bien et service
        mm-awac-section(title-code="AC130")
            .element_content
                .element_text(ng-bind-html="'EXPLAIN_AC130' | translate")

            mm-awac-question(question-code="AC131",ng-optional="true")

            mm-awac-repetition-name(question-code="AC132")
            mm-awac-repetition-question(question-set-code="AC132", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC132')")

                mm-awac-question(question-code="AC133", ng-map-index="{'AC132':$index}",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC134",ng-map-index="{'AC132':$index}",ng-repetition-map="itLevel1", ng-condition="(getAnswer('AC133',itLevel1).value | stringToFloat) < 18   || getAnswer('AC133',itLevel1).value == '23'")
                mm-awac-question(question-code="AC135",ng-map-index="{'AC132':$index}",ng-repetition-map="itLevel1", ng-condition="getAnswer('AC133',itLevel1).value == '20' || getAnswer('AC133',itLevel1).value == '21'|| getAnswer('AC133',itLevel1).value == '22'")
                mm-awac-question(question-code="AC136",ng-map-index="{'AC132':$index}",ng-repetition-map="itLevel1", ng-condition="getAnswer('AC133',itLevel1).value == '18' || getAnswer('AC133',itLevel1).value == '19'")
            mm-awac-repetition-add-button(question-set-code="AC132")

        .horizontal_separator

        // investissement AC137
        mm-awac-section(title-code="AC137")
            .element_content
                .element_text(ng-bind-html="'EXPLAIN_AC137' | translate")

            mm-awac-question(question-code="AC138",ng-optional="true")

            mm-awac-repetition-name(question-code="AC139")
            mm-awac-repetition-question(question-set-code="AC139", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC139')")

                mm-awac-question(question-code="AC140", ng-map-index="{'AC139':$index}",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC141", ng-map-index="{'AC139':$index}",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC142", ng-map-index="{'AC139':$index}",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC143", ng-map-index="{'AC139':$index}",ng-repetition-map="itLevel1")

            mm-awac-repetition-add-button(question-set-code="AC139")
    mm-awac-form-navigator
