mm-awac-section(title-code="AC9_TITLE")

    // main loop
    mm-awac-repetition-name(question-code="AC10")
    mm-awac-repetition-question(question-set-code="AC10", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC10')")

        mm-awac-question(question-code="AC11", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC12", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC13", ng-repetition-map="itLevel1", ng-condition="getAnswer('AC12',itLevel1).value == '8'")
        mm-awac-question(question-code="AC14", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC15", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC16", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC17", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC18", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC19", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC20", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC21", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC22", ng-repetition-map="itLevel1", ng-condition="getAnswer('AC19',itLevel1).value == '1' || getAnswer('AC19',itLevel1).value == '3'")
        mm-awac-question(question-code="AC23", ng-repetition-map="itLevel1")

        // combistible AC24
        mm-awac-sub-title(question-code="AC24")

        mm-awac-repetition-name(question-code="AC25")
        mm-awac-repetition-question(question-set-code="AC25", ng-iteration="itLevel2", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('AC25', itLevel1)", ng-repetition-map="itLevel1")

            mm-awac-question(question-code="AC26", ng-repetition-map="itLevel2")
            mm-awac-question(question-code="AC27", ng-repetition-map="itLevel2")

        button.button.add-repetition-button(ng-click="addIteration('AC25',itLevel1)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'AC25_LOOPDESC' | translate")

        // electricité AC28
        mm-awac-sub-title(question-code="AC28")
        mm-awac-sub-sub-title(question-code="AC29")

        mm-awac-question(question-code="AC30", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC31", ng-repetition-map="itLevel1")

        // vapeur AC32
        mm-awac-block(ng-condition="getAnswer('AC19',itLevel1).value == '1' || getAnswer('AC19',itLevel1).value == '3'")
            mm-awac-sub-title(question-code="AC32")

            mm-awac-repetition-name(question-code="AC33")
            mm-awac-repetition-question(question-set-code="AC33", ng-iteration="itLevel2", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('AC33', itLevel1)", ng-repetition-map="itLevel1")

                mm-awac-question(question-code="AC34", ng-repetition-map="itLevel2")
                mm-awac-question(question-code="AC35", ng-repetition-map="itLevel2")
                mm-awac-question(question-code="AC36", ng-repetition-map="itLevel2")

            button.button.add-repetition-button(ng-click="addIteration('AC33',itLevel1)", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'AC33_LOOPDESC' | translate")

        // refroidissement AC37
        mm-awac-sub-title(question-code="AC37", ng-repetition-map="itLevel1")
        mm-awac-question(question-code="AC38", ng-repetition-map="itLevel1")

        mm-awac-repetition-name(question-code="AC39")
        mm-awac-repetition-question(question-set-code="AC39", ng-iteration="itLevel2", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('AC39', itLevel1)", ng-repetition-map="itLevel1")

            mm-awac-question(question-code="AC40", ng-repetition-map="itLevel2")
            mm-awac-question(question-code="AC41", ng-repetition-map="itLevel2")

        button.button.add-repetition-button(ng-click="addIteration('AC39',itLevel1)", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'AC39_LOOPDESC' | translate")

        //déchets AC42
        mm-awac-block(ng-condition="getAnswer('AC19',itLevel1).value == '1' || getAnswer('AC19',itLevel1).value == '3'")
            mm-awac-sub-title(question-code="AC42", ng-repetition-map="itLevel1")
            mm-awac-question(question-code="AC43", ng-repetition-map="itLevel1")

            mm-awac-repetition-name(question-code="AC44")
            mm-awac-repetition-question(question-set-code="AC44", ng-iteration="itLevel2", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('AC44', itLevel1)", ng-repetition-map="itLevel1")

                mm-awac-question(question-code="AC45", ng-repetition-map="itLevel2")
                mm-awac-question(question-code="AC46", ng-repetition-map="itLevel2")
                mm-awac-question(question-code="AC47", ng-repetition-map="itLevel2",ng-condition="getAnswer('AC45',itLevel2).value != 'AS_186' || getAnswer('AC45',itLevel2).value != 'AS183'")
                mm-awac-question(question-code="AC48", ng-repetition-map="itLevel2",ng-condition="getAnswer('AC45',itLevel2).value != 'AS_186')")
                mm-awac-question(question-code="AC49", ng-repetition-map="itLevel2",ng-condition="getAnswer('AC45',itLevel2).value == 'AS_183')")
                mm-awac-question(question-code="AC50", ng-repetition-map="itLevel2",ng-condition="getAnswer('AC45',itLevel2).value == 'AS_183')")
                mm-awac-question(question-code="AC51", ng-repetition-map="itLevel2")

            button.button.add-repetition-button(ng-click="addIteration('AC44',itLevel1)", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'AC44_LOOPDESC' | translate")



    button.button.add-repetition-button(ng-click="addIteration('AC10')", type="button")
        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
        span(ng-bind-html="'AC10_LOOPDESC' | translate")

    // éclairage public AS52
    mm-awac-section(title-code="AC52_TITLE")
        mm-awac-question(question-code="AC53")
        mm-awac-question(question-code="AC54")
        mm-awac-question(question-code="AC55")

         // coffret de voirie AC56
        mm-awac-repetition-name(question-code="AC56")
        mm-awac-repetition-question(question-set-code="AC56", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC56')")

            mm-awac-question(question-code="AC57", ng-repetition-map="itLevel1")
            mm-awac-question(question-code="AC58", ng-repetition-map="itLevel1")
            mm-awac-question(question-code="AC59", ng-repetition-map="itLevel1")

        button.button.add-repetition-button(ng-click="addIteration('AC56')", type="button")
            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
            span(ng-bind-html="'AC56_LOOPDESC' | translate")
