div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        // mobilite AC60
        mm-awac-section(title-code="AC60")

            mm-awac-question(question-code="AC61")

            // transport routier AC62
            mm-awac-sub-title(question-code="AC62")

            mm-awac-sub-title(question-code="A400")
                div
                .element_content
                    .element_text(ng-bind-html="'FORM_MULTI_METHOD' | translate")
                    .method
                        tabset
                            tab.tab-color-lightgreen(active="getTab(1,1).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,1)")
                                    span(ng-bind-html="'A402' | translate")
                                .sub_block.tab-color-lightgreen
                                    .element_table
                                        mm-awac-question(question-code="A403",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A404",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A405",ng-tab-set="1",ng-tab="1")
                            tab.tab-color-green(active="getTab(1,2).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,2)")
                                    span(ng-bind-html="'A406' | translate")
                                .sub_block.tab-color-green
                                    .element_table
                                        mm-awac-repetition-name(question-code="A407")
                                        mm-awac-repetition-question(question-set-code="A407", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A407')")
                                            mm-awac-question(question-code="A408",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A409",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A410",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A411",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            button.button.add-repetition-button(ng-click="addIteration('A407')", type="button")
                                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                            span(ng-bind-html="'A407_LOOPDESC' | translate")
                                tab.tab-color-yellow(active="getTab(1,3).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,3)")
                                    span(ng-bind-html="'A412' | translate")
                                .sub_block.tab-color-yellow
                                    .element_table
                                        mm-awac-repetition-name(question-code="A413")
                                        mm-awac-repetition-question(question-set-code="A413", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A413')")
                                            mm-awac-question(question-code="A414",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A415",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A416",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A417",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            button.button.add-repetition-button(ng-click="addIteration('A413')", type="button")
                                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                            span(ng-bind-html="'A413_LOOPDESC' | translate")
                mm-awac-sub-title(question-code="A500")
            div
                .element_content
                    .element_text(ng-bind-html="'FORM_MULTI_METHOD' | translate")
                    .method
                        tabset
                            tab.tab-color-lightgreen(active="getTab(1,1).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,1)")
                                    span(ng-bind-html="'A502' | translate")
                                .sub_block.tab-color-lightgreen
                                    .element_table
                                        mm-awac-question(question-code="A503",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A504",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A505",ng-tab-set="1",ng-tab="1")
                            tab.tab-color-green(active="getTab(1,2).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,2)")
                                    span(ng-bind-html="'A506' | translate")
                                .sub_block.tab-color-green
                                    .element_table
                                        mm-awac-repetition-name(question-code="A507")
                                        mm-awac-repetition-question(question-set-code="A507", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A507')")
                                            mm-awac-question(question-code="A508",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A509",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A510",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            mm-awac-question(question-code="A511",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                        button.button.add-repetition-button(ng-click="addIteration('A507')", type="button")
                                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                            span(ng-bind-html="'A507_LOOPDESC' | translate")
                            tab.tab-color-yellow(active="getTab(1,3).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,3)")
                                    span(ng-bind-html="'A512' | translate")
                                .sub_block.tab-color-yellow
                                    .element_table
                                        mm-awac-repetition-name(question-code="A513")
                                        mm-awac-repetition-question(question-set-code="A513", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A513')")
                                            mm-awac-question(question-code="A514",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A515",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A516",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            mm-awac-question(question-code="A517",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                        button.button.add-repetition-button(ng-click="addIteration('A513')", type="button")
                                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                            span(ng-bind-html="'A513_LOOPDESC' | translate")
                mm-awac-sub-title(question-code="A600")
                div
                    .element_content
                        .element_text(ng-bind-html="'FORM_MULTI_METHOD' | translate")
                        .method
                            tabset
                                tab.tab-color-lightgreen(active="getTab(1,1).active")
                                    tab-heading
                                        i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,1)")
                                        span(ng-bind-html="'A602' | translate")
                                    .sub_block.tab-color-lightgreen
                                        .element_table
                                            mm-awac-question(question-code="A603",ng-tab-set="1",ng-tab="1")
                                            mm-awac-question(question-code="A604",ng-tab-set="1",ng-tab="1")
                                            mm-awac-question(question-code="A605",ng-tab-set="1",ng-tab="1")
                                tab.tab-color-green(active="getTab(1,2).active")
                                    tab-heading
                                        i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,2)")
                                        span(ng-bind-html="'A606' | translate")
                                    .sub_block.tab-color-green
                                        .element_table
                                            mm-awac-repetition-name(question-code="A607")
                                            mm-awac-repetition-question(question-set-code="A607", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A607')")
                                                mm-awac-question(question-code="A608",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                                mm-awac-question(question-code="A609",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                                mm-awac-question(question-code="A610",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                                mm-awac-question(question-code="A611",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                            button.button.add-repetition-button(ng-click="addIteration('A607')", type="button")
                                                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                                span(ng-bind-html="'A607_LOOPDESC' | translate")
                                tab.tab-color-yellow(active="getTab(1,3).active")
                                    tab-heading
                                        i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,3)")
                                        span(ng-bind-html="'A612' | translate")
                                    .sub_block.tab-color-yellow
                                        .element_table
                                            mm-awac-repetition-name(question-code="A613")
                                            mm-awac-repetition-question(question-set-code="A613", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A613')")
                                                mm-awac-question(question-code="A614",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                                mm-awac-question(question-code="A615",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                                mm-awac-question(question-code="A616",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                                mm-awac-question(question-code="A617",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="3")
                                            button.button.add-repetition-button(ng-click="addIteration('A613')", type="button")
                                                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                                                span(ng-bind-html="'A613_LOOPDESC' | translate")


            //transport public AC92
            mm-awac-sub-title(question-code="AC92")
            mm-awac-sub-sub-title(question-code="AC93")

            mm-awac-question(question-code="AC94")
            mm-awac-question(question-code="AC95")
            mm-awac-question(question-code="AC96")
            mm-awac-question(question-code="AC97")

            // déplacements professionels AC98
            mm-awac-sub-title(question-code="AC98")

            mm-awac-question(question-code="AC99")
            mm-awac-question(question-code="AC100")
            mm-awac-question(question-code="AC101")
            mm-awac-question(question-code="AC102")
            mm-awac-question(question-code="AC103")
            mm-awac-question(question-code="AC104")
            mm-awac-question(question-code="AC105")

            // déplacement avion AC106
            mm-awac-sub-title(question-code="AC106")

            mm-awac-repetition-name(question-code="AC107")
            mm-awac-repetition-question(question-set-code="AC107", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AC107')")

                mm-awac-question(question-code="AC108", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC109", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC110", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC111", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC112", ng-repetition-map="itLevel1")
                mm-awac-question(question-code="AC113", ng-repetition-map="itLevel1")

            button.button.add-repetition-button(ng-click="addIteration('AC107')", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'AC107_LOOPDESC' | translate")