@(message: String)
<!DOCTYPE html>
<head>
    <title>PDF test</title>
    <link rel="stylesheet" href="/public/stylesheets/pdf.css"/>
</head>
<body>
    <img src="/public/images/factorxlogo.gif"/><br/>
    <h1>AWAC</h1>

    <table border="2">
        <caption>Account Information List</caption><br/>
            <tr>
                <th>Message: @message</th>
                <th>Identifier</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
    </table>
</body>