div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AEV124")

            mm-awac-question(question-code="AEV125",ng-optional="true")

            mm-awac-sub-title(question-code="AEV126")

            mm-awac-repetition-name(question-code="AEV127", ng-condition="getAnswer('AEV80').value == '1'")
            mm-awac-repetition-question(question-set-code="AEV127", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionmapByQuestionSet('AEV127')")
                mm-awac-question(question-code="AEV128",ng-repetition-map="itLevel1",ng-map-index="{'AEV127':$index}")
                mm-awac-question(question-code="AEV129",ng-repetition-map="itLevel1",ng-map-index="{'AEV127':$index}")
            mm-awac-repetition-add-button(question-set-code="AEV127")

            mm-awac-sub-title(question-code="AEV130")
            mm-awac-question(question-code="AEV131")

            mm-awac-sub-title(question-code="AEV132")
            mm-awac-sub-sub-title(question-code="AEV133")
            mm-awac-question(question-code="AEV134")
            mm-awac-question(question-code="AEV135")
            mm-awac-sub-sub-title(question-code="AEV136")
            mm-awac-question(question-code="AEV137")

