// Modal
.modal-fullscreen.modal-help
    .modal-fullscreen-header
        button.button(type="button",ng-click="close()")
            span(aria-hidden="true") &times;
            span(class="sr-only", ng-bind-html="'CLOSE_BUTTON' | translate")

    .modal-fullscreen-body

        .modal-help-content

    .modal-fullscreen-footer




