div
    div(ng-hide='$root.hideHeader()')
        .survey-header
            // user block
            table.survey-header-option
                tr
                    td
                        div
                            select(ng-options='l.value as l.label for l in $root.languages', ng-model='$root.language')
                    td
                        div(ng-bind-html="'SURVEY_INTERFACE_MANAGEMENT' | translate")
                    td
                        div(ng-show='$root.currentPerson!=null')
                            span(ng-bind-html='\'WELCOME\' | translate')
                            | ,
                            span.username {{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}
                        div(ng-show='$root.currentPerson==null') Your are currently not connected
                tr
                    td
                        button.button.confidentiality(type='button', mm-not-implemented='mm-not-implemented', ng-bind-html="'SURVEY_INTERFACE_CONFIDENTIALITY' | translate")
                        button.button.help(type='button', mm-not-implemented='mm-not-implemented', ng-bind-html="'SURVEY_INTERFACE_ASSISTANCE' | translate")
                    td
                        //  user manager button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_MANAGER_BUTTON\' | translate', ng-click='nav(\'/user_manager\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_manager\') == true}')
                    td
                        // user data button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_DATA_BUTTON\' | translate', ng-click='nav(\'/user_data\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_data\') == true}')
                        //  logout button
                        button.button.user_manage(ng-show='$root.currentPerson!=null', type='button', ng-click='$root.logout();', ng-bind-html='\'LOGOUT_BUTTON\' | translate')
            .wallonie_logo
            .awac_logo
            div
                .calculateur_type(ng-bind-html='\'TITLE_MUNICIPALITY\' | translate')
                .entreprise_name {{ $root.organizationName }}
        .data_menu(ng-show='displayLittleMenu===true || displayMenu===true')
            .data_date
                div(ng-bind-html='\'PERIOD_DATA\' | translate')
                select(ng-options='p.key as p.label for p in $root.availablePeriods', ng-model='$root.periodSelectedKey')
            .big_separator
            .data_date_compare
                div(ng-bind-html="'SURVEY_INTERFACE_COMPARE_TO' | translate")
                select(ng-options='p.key as p.label for p in periodsForComparison', ng-model='$root.periodToCompare')
            .big_separator
            .data_save
                .last_save(ng-hide='lastSaveTime===null')
                    span(ng-bind-html='\'LAST_SAVE\' | translate')
                    br
                    | {{lastSaveTime | date: 'medium' }}
                .small_separator
                .save_button
                    button.button.save(type='button', ng-click='save()', ng-bind-html='\'SAVE_BUTTON\' | translate')
        .nav_tabs(ng-show='displayMenu===true')
            .nav_entreprise
                .site_menu
                    .site
                        button.button.verification(type='button', mm-not-implemented='mm-not-implemented', ng-bind-html="'SURVEY_INTERFACE_VERIFICATION' | translate")
                    .menu
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/form/TAB_C1\') == true}', ng-click='nav(\'/form/TAB_C1\')')
                            .tab-title(ng-bind-html='\'TAB_C1\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB_C1\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/form/TAB_C2\') == true}', ng-click='nav(\'/form/TAB_C2\')')
                            .tab-title(ng-bind-html='\'TAB_C2\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB_C2\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/form/TAB_C3\')  == true}', ng-click='nav(\'/form/TAB_C3\')')
                            .tab-title(ng-bind-html='\'TAB_C3\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB_C3\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/form/TAB_C4\') == true}', ng-click='nav(\'/form/TAB_C4\')')
                            .tab-title(ng-bind-html='\'TAB_C4\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB_C4\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/form/TAB_C5\') == true}', ng-click='nav(\'/form/TAB_C5\')')
                            .tab-title(ng-bind-html='\'TAB_C5\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB_C5\')')
                            .menu_arrow
                .last_menu
                    button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/results\') == true}', ng-click='nav(\'/results\')')
                        .tab-title(ng-bind-html="'SURVEY_INTERFACE_RESULT' | translate")
                    button.button(mm-not-implemented='mm-not-implemented')
                        .tab-title(ng-bind-html="'SURVEY_INTERFACE_REDUCTION' | translate")

    div(class="{{getClassContent()}}",ng-view)
    .footer
