// Modal
.modal(ng-enter="save()")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button",ng-click="close()")
                    span(aria-hidden="true") &times;<span
                    span(class="sr-only") Close

                h4(class="modal-title",id="myModalLabel") Ajouter un commentaire

            .modal-body
                .field_form
                    textarea(class="question-comment-textarea",ng-model="comment")
            .modal-footer

                button(type="button",
                class="btn btn-primary",
                ng-click="close();")
                    | Cancel

                button(type="button",
                class="btn btn-primary",
                ng-click="save();")
                    | Save
