h1 Calculateur CO2 entreprise de l'AWAC: aide sur les actions de réduction

h2 Introduction

p En vous aidant à établir votre bilan de gaz à effet de serre, l'objectif du calculateur proposé par l'AWAC est de vous aider à définir des actions visant à réduire votre impact climatique. Comment?

p Sur base du bilan établi, vous pouvez déterminer les parties les plus impactantes de vos activités, et ainsi choisir de vous y prendre autrement afin de réduire votre impact. C'est ce que l'on appelle une "action de réduction": un objectif qui vous est propre et que vous vous fixez.

p Parfois, avant que de déterminer une action de réduction, il y a lieu de bien s'assurer de son impact, et pour ce faire d'affiner les données utilisées dans le bilan. Cela s'appelle une action de "meilleure mesure" des données.

h2 Créer une action

img(src="/assets/images/help/bouton_ajouter_action.png")
p Cliquez sur ce bouton pour créer une action que vous souhaitez mettre en oeuvre.

p Cela ouvre une fenêtre qui vous permet de décrire l'action que vous souhaitez mettre en oeuvre: objectif, implications financières, responsable... Afin de mieux en tracer les détails opérationnels, vous avez également la possibilité d'associer un ou plusieurs fichiers à l'action.

h2 Exporter les actions
img(src="/assets/images/help/bouton_export_XLS.png")
p A tout moment, ce bouton vous permet d'exporter en format .xls l'ensemble de toutes vos actions afin de pouvoir l'utiliser hors outil de la manière qui vous convient le mieux pour suivre et implémenter ces actions.

h2 Consulter et modifier une action
img(src="/assets/images/help/details_actions.png", width="80%")
p Pour relire l'ensemble des détails liés à une action, un simple clic sur le symbole + dans la colonne "Détails" fournit tous les détails de l'action choisie. En bas de ces détails, trois boutons vous permettent de re-travailler vos actions.

h3 Editer une action
p Ce bouton vous permet de re-modifier à l'envi tous les champs descriptifs de l'action

h3  Indiquer une action comme réalisée

p Le bouton "Marquer une action comme réalisée" permet de changer instantanément son statut en "réalisé" lors de l'année actuelle, sans devoir passer par le mode édition.

h3 Supprimer une action

p Contrairement au fait de passer une action en statut "annulé" pour ce souvenir de ce que l'action avait été identifiée mais s'est avérée infaisable, il est possible de purement et simplement supprimer une action, qui n'apparaîtra dès lors plus nulle part.