h1 Calculateur CO2 entreprise de l'AWAC: aide générale

h2 Introduction

p Le but du présent calculateur est de vous permettre de réaliser le bilan GES de votre organisation de la manière la plu ssimple possible tout en respectant le prescrit du GHG protocol. C'est pourquoi l'AWAC a sélectionné pour vous les bonnes questions à se poser, et pour lesquelles il vou s"suffit" de fournir les données vous concernant afin d'obtenir un bilan GES valide. La présente page d'aide générale vous détaille d'abord l'ensemble des boutons disponibles dans les menus du haut de l'application, avant de détailler la manière de fournir les données nécessaires au calcul du bilan.

h2 Interface générale

p L'image ci-dessous vous présente le menu principal de l'application:
img(src="/assets/images/help/entreprise_menu.png", width="80%")

p Les annotations numérotées  correspondent aux explications ci-dessous:

p 1. Chaque utilisateur se connecte à l'application via son identifiant et son mot de passe. Il peut à tout moment modifier ses coordonnées personnelles via le menu "Mon profil".

p 2. Chaque utilisateur peut demander à avoir les interfaces et les questions liées à la collecte de données dans la langue de son choix parmi les langues disponibles dans l'application.

p 3. Le calculateur entreprise permettant de consolider le bilan de l'organisation comem la somme de bilans sur différents sites, il faut que l'utilisateur choisisse un site parmis ceux auxquels il a accès. La gestion des sites (pour les créer et y donner accès) est effectuée par les administrateurs (le créateur d'un compte est en administrateur par défaut) via le bouton "Gérer les sites".

p 4. Tout administrateur peut également "Gérer les utilsiateurs" pour les rendre administrateurs, inviter de nouveaux utilisateurs ou en désactiver certains.

p 5. Et les administrateurs peuvent également modifier certains paramètres d'organisation via le bouton "Gérer l'organisation".

p 6. L'utilisateur choisit alors pour quelle année (parmis celles demandées, cf. "Gérer les sites") il souhaite fournir des données

p 7. A tout moment, il peut enregistrer les données fournies. Pour chaque formulaire thématique de données (voir plus bas), l'application indique le moment du dernier enregitrement effectué.

p 8. L'utilisateur a aussi la possibilité de comparer les données avec celle d'une autre année, ce qui peut facilité le recopiage des données restées similaires (voir plus bas).

p 9. Les administrateurs peuvent également demander une vérification externe des données (voir plus bas).

h2 Fournir des données

p Chaque utilisateur impliqué est invité à fournir les données qu'il maîtrise. Poru ce faire, il lui suffit de remplir les cases faites pour. Plusieurs types de données différentes sont indiquées avec des icones différentes:

p De plus, pour toutes les questions attendues par le système pour offrir un résultat le plus exhaustif possible, une icône sous forme de main vient donner une indication compélmentaire:

p Derrière la donnée, un case avec des initiales indique également quel utilisateur a fourni la donnée. Si on laisse la souris dessus, le nom complet de la personne apparaît.

h3 Remplissage des données

h3 Types de données et création de blocs de données

h3 Comparaison des données d'une autre année et recopiage d'une année à l'autre

h3 Données alternatives

h2 Résultats et plan d'actions

h3 Résultats

h3 Actions de réduction

h2 Travailler à plusieurs

p Afin de  faciliter la collecte des données nécessaires à un bilan complet, il est souvent plus efficace de pouvoir travailler à plusieurs collègues. C'est pourquoi plusieurs utilisateurs... Il est toutefois important de ne pas annuler le travail des uns des autres: impossibilité daccéder à la même page.

h3 Se réserver des données

h3 Valider des données

h2 Faire vérifier les données de manière externe

p Le rapport de vérification deviendra alors disponible ici, pour chacun des sites pour lequel un tel rapport existe pour l'année sélectionnée: