div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        // mm-awac-section("Déchets")
        // It lacks a proper fild code for "D2chets alone" -> TODO : insert into Excel file as an additional line
        mm-awac-section(title-code="A173")
            .element_content
                .element_text(ng-bind-html="'EXPLAIN_A173' | translate")

            mm-awac-question(question-code="A174",ng-optional="true")

        .horizontal_separator

        mm-awac-section(title-code="A4999")

            mm-awac-repetition-name(question-code="A5000")
            mm-awac-repetition-question(question-set-code="A5000", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A5000')")
                mm-awac-question(question-code="A5001",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="A5002",ng-repetition-map="itLevel1")
                mm-awac-question(question-code="A5003",ng-repetition-map="itLevel1")

            mm-awac-repetition-add-button(question-set-code="A5000")

        .horizontal_separator

        mm-awac-section(title-code="A180")

            mm-awac-sub-title(question-code="A181")

            mm-awac-sub-sub-title(question-code="A182")
            mm-awac-question(question-code="A183")
            mm-awac-question(question-code="A184")

            mm-awac-sub-sub-title(question-code="A185")
            mm-awac-question(question-code="A186")
            mm-awac-question(question-code="A187")

            mm-awac-sub-sub-title(question-code="A188")
            mm-awac-question(question-code="A189")
            mm-awac-question(question-code="A190")

            mm-awac-sub-sub-title(question-code="A191")
            mm-awac-question(question-code="A192")
            mm-awac-question(question-code="A193")

            mm-awac-sub-title(question-code="A194")

            .element_text(ng-bind-html="'FORM_MULTI_METHOD' | translate")

            .method
                tabset
                    tab.tab-color-lightgreen(active="getTab(1,1).active")
                        tab-heading
                            i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,1)")
                            .status(class="{{getStatusClassForTab(1,1)}}")
                            span(ng-bind-html="'A197' | translate")
                        .sub_block.tab-color-lightgreen
                            .element_table
                                mm-awac-question(question-code="A198",ng-tab-set="1",ng-tab="1")
                                mm-awac-question(question-code="A199",ng-tab-set="1",ng-tab="1")
                                mm-awac-question(question-code="A200",ng-tab-set="1",ng-tab="1")

                    tab.tab-color-green(active="getTab(1,2).active")
                        tab-heading
                            i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,2)")
                            .status(class="{{getStatusClassForTab(1,2)}}")
                            span(ng-bind-html="'A201' | translate")
                        .sub_block.tab-color-green
                            .element_table
                                mm-awac-question(question-code="A202",ng-tab-set="1",ng-tab="2")
                                mm-awac-question(question-code="A203",ng-tab-set="1",ng-tab="2")
                                mm-awac-question(question-code="A204",ng-tab-set="1",ng-tab="2")
