div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="A243")

            mm-awac-repetition-name(question-code="A244")
            mm-awac-repetition-question(ng-question-set-code="'A244'", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('A244')")

                mm-awac-question(ng-question-code="'A245'",ng-repetition-map="itLevel1")
                mm-awac-question(ng-question-code="'A246'",ng-repetition-map="itLevel1")
                mm-awac-question(ng-question-code="'A247'",ng-repetition-map="itLevel1")

                mm-awac-block()
                    // Transport
                    mm-awac-sub-title(question-code="A250")

                    mm-awac-question(question-code="A251",ng-repetition-map="itLevel1")

                    mm-awac-sub-sub-title(question-code="A252")

                    .element_content
                        .element_text(ng-bind-html="'FORM_MULTI_METHOD' | translate")
                    .method
                        tabset
                            tab.tab-color-lightgreen(active="getTab(1,1,itLevel1).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,1,itLevel1)")
                                    span(ng-bind-html="'A253' | translate")
                                .sub_block.tab-color-lightgreen
                                    .element_table
                                        mm-awac-question(question-code="A254",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A255",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A256",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A257",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A258",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A259",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A260",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A261",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A262",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A263",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A264",ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="1")
                                        mm-awac-question(question-code="A265",ng-repetition-map="itLevel1",
                                        ng-aggregation="(getAnswer('A256',itLevel1).value | nullToZero)+( getAnswer('A257',itLevel1).value | nullToZero)+(getAnswer('A258',itLevel1).value | nullToZero)+(getAnswer('A259',itLevel1).value| nullToZero)+(getAnswer('A260',itLevel1).value| nullToZero)+(getAnswer('A261',itLevel1).value| nullToZero)+(getAnswer('A262',itLevel1).value| nullToZero)+(getAnswer('A263',itLevel1).value| nullToZero)+(getAnswer('A264',itLevel1).value| nullToZero)",
                                        ng-tab-set="1",ng-tab="1")
                            tab.tab-color-green(active="getTab(1,2,itLevel1).active")
                                tab-heading
                                    i.glyphicon.glyphicon-bell(ng-show="tabIsMaster(1,2,itLevel1)")
                                    span(ng-bind-html="'A266' | translate")
                                .sub_block.tab-color-green
                                    .element_table
                                        mm-awac-question(question-code="A267", ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                        mm-awac-question(question-code="A268", ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2")
                                        mm-awac-question(question-code="A269", ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2", ng-condition="getAnswer('A268',itLevel1).value == '3'",ng-aggregation="5000")
                                        mm-awac-question(question-code="A270", ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2", ng-condition="getAnswer('A268',itLevel1).value == '2'",ng-aggregation="2500")
                                        mm-awac-question(question-code="A271", ng-repetition-map="itLevel1",ng-tab-set="1",ng-tab="2", ng-condition="getAnswer('A268',itLevel1).value == '1'",ng-aggregation="200")

                mm-awac-block()
                    // Distribution
                    mm-awac-sub-title(question-code="A272")

                    mm-awac-repetition-name(question-code="A273")
                    mm-awac-repetition-question(ng-question-set-code="'A273'", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A273',itLevel1)")

                        mm-awac-question(question-code="A274",ng-repetition-map="itLevel2")

                        mm-awac-repetition-name(question-code="A275")
                        mm-awac-repetition-question(question-set-code="A275", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A275',itLevel2)")
                            mm-awac-question(question-code="A276",ng-repetition-map="itLevel3")
                            mm-awac-question(question-code="A277",ng-repetition-map="itLevel3")
                        button.button.add-repetition-button(ng-click="addIteration('A275',itLevel2)", type="button")
                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                            span(ng-bind-html="'A275_LOOPDESC' | translate")

                        mm-awac-repetition-name(question-code="A1024")
                        mm-awac-repetition-question(question-set-code="A1024", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A1024',itLevel2)")
                            mm-awac-question(question-code="A1025",ng-repetition-map="itLevel3")
                            mm-awac-question(question-code="A1026",ng-repetition-map="itLevel3")
                        button.button.add-repetition-button(ng-click="addIteration('A1024',itLevel2)", type="button")
                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                            span(ng-bind-html="'A1024_LOOPDESC' | translate")

                        mm-awac-repetition-name(question-code="A1027")
                        mm-awac-repetition-question(question-set-code="A1027", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A1027',itLevel2)")
                            mm-awac-question(question-code="A1028",ng-repetition-map="itLevel3")
                            mm-awac-question(question-code="A1029",ng-repetition-map="itLevel3")
                        button.button.add-repetition-button(ng-click="addIteration('A1027',itLevel2)", type="button")
                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                            span(ng-bind-html="'A1027_LOOPDESC' | translate")

                        mm-awac-question(question-code="A278",ng-repetition-map="itLevel2")

                        mm-awac-repetition-name(question-code="A279")
                        mm-awac-repetition-question(question-set-code="A279", ng-iteration="itLevel3", ng-repetition-map="itLevel2", ng-repeat="itLevel3 in getRepetitionMapByQuestionSet('A279',itLevel2)")
                            mm-awac-question(question-code="A280",ng-repetition-map="itLevel3")
                            mm-awac-question(question-code="A281",ng-repetition-map="itLevel3")

                        button.button.add-repetition-button(ng-click="addIteration('A279',itLevel2)", type="button")
                            span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                            span(ng-bind-html="'A279_LOOPDESC' | translate")

                    button.button.add-repetition-button(ng-click="addIteration('A273',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A273_LOOPDESC' | translate")

                mm-awac-question(ng-question-code="'A248'",ng-repetition-map="itLevel1")
                mm-awac-question(ng-question-code="'A249'",ng-repetition-map="itLevel1", ng-condition="getAnswer('A248',itLevel1).value == '2'")

                mm-awac-block(ng-condition="getAnswer('A249',itLevel1).value == '1'")
                    // Traitement
                    mm-awac-sub-title(question-code="A282")
                    mm-awac-question(question-code="A283",ng-repetition-map="itLevel1")

                    mm-awac-repetition-name(question-code="A284")
                    mm-awac-repetition-question(question-set-code="A284", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A284',itLevel1)")
                        mm-awac-question(question-code="A285",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A286",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A284',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A284_LOOPDESC' | translate")

                    mm-awac-repetition-name(question-code="A1030")
                    mm-awac-repetition-question(question-set-code="A1030", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A1030',itLevel1)")
                        mm-awac-question(question-code="A1031",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A1032",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A1030',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A1030_LOOPDESC' | translate")

                    mm-awac-repetition-name(question-code="A1033")
                    mm-awac-repetition-question(question-set-code="A1033", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A1033',itLevel1)")
                        mm-awac-question(question-code="A1034",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A1035",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A1033',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A1033_LOOPDESC' | translate")

                    mm-awac-question(question-code="A287",ng-repetition-map="itLevel1")

                    mm-awac-repetition-name(question-code="A288")
                    mm-awac-repetition-question(question-set-code="A288", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A288',itLevel1)")
                        mm-awac-question(question-code="A289",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A290",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A288',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A288_LOOPDESC' | translate")

                mm-awac-block(ng-condition="getAnswer('A248',itLevel1).value == '1' || getAnswer('A249',itLevel1).value == '1'")
                    // Utilisation
                    mm-awac-sub-title(question-code="A291")
                    mm-awac-question(question-code="A292",ng-repetition-map="itLevel1")

                    mm-awac-question(question-code="A293",ng-repetition-map="itLevel1")
                    mm-awac-question(question-code="A294",ng-repetition-map="itLevel1")
                    mm-awac-question(question-code="A295",ng-repetition-map="itLevel1")
                    mm-awac-question(question-code="A296",ng-repetition-map="itLevel1")

                    mm-awac-repetition-name(question-code="A297")
                    mm-awac-repetition-question(question-set-code="A297", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A297',itLevel1)")
                        mm-awac-question(question-code="A298",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A299",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A297',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A297_LOOPDESC' | translate")

                mm-awac-block(ng-condition="getAnswer('A248',itLevel1).value == '1' || getAnswer('A249',itLevel1).value == '1'")
                    // Fin de vie
                    mm-awac-sub-title(question-code="A300")
                    mm-awac-question(question-code="A301",ng-repetition-map="itLevel1")

                    mm-awac-question(question-code="A302",ng-repetition-map="itLevel1")

                    mm-awac-repetition-name(question-code="A5010")
                    mm-awac-repetition-question(question-set-code="A5010", ng-iteration="itLevel2", ng-repetition-map="itLevel1", ng-repeat="itLevel2 in getRepetitionMapByQuestionSet('A5010',itLevel1)")
                        mm-awac-question(question-code="A5011",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A5012",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A5013",ng-repetition-map="itLevel2")
                        mm-awac-question(question-code="A5014",ng-repetition-map="itLevel2")
                    button.button.add-repetition-button(ng-click="addIteration('A5010',itLevel1)", type="button")
                        span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                        span(ng-bind-html="'A5010_LOOPDESC' | translate")

            button.button.add-repetition-button(ng-click="addIteration('A244')", type="button")
                span(ng-bind-html="'ADD_NEW_ITERATION' | translate",style="margin-right : 5px")
                span(ng-bind-html="'A244_LOOPDESC' | translate")
