ng-virtual
    .element
        .element_header
            .title Consommation de combustibles
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux consommations de combustible
                    .oneelement(ng-repeat="v in A('A14').value")
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A14')", ng-model="v")
                        .user_icon XM
                    .oneelement
                        button(ng-click="A('A14').value.push(null)") Add
                div
                    div Combustion de combustible par les sources statiques des sites de l'entreprise
                div
                    div Combustible
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A16')", ng-model="A('A16').value")
                        .user_icon XM
                div
                    div Quantité
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="A('A17').value")
                        select(ng-options="p.id as p.name for p in U('A17')", ng-model="A('A17').unitId")
                        .user_icon XM

    .horizontal_separator

    .element
        .element_header
            .title Electricité et vapeur achetées
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux achats d'électricité et de vapeur
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A21')", ng-model="A('A21').value")
                        .user_icon XM
                div
                    div(style="text-decoration: underline") Electricité
                div
                    div Consommation d'électricité verte
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="A('A23').value")
                        select(ng-options="p.id as p.name for p in U('A23')", ng-model="A('A23').unitId")
                        .user_icon XM
                div
                    div Consommation d'électricité grise
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="A('A24').value")
                        select(ng-options="p.id as p.name for p in U('A24')", ng-model="A('A24').unitId")
                        .user_icon XM
                div
                    div(style="text-decoration: underline") Vapeur
                div
                    div Energie primaire utilisée pour produire la vapeur:
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A26')", ng-model="A('A26').value")
                        .user_icon XM
                div
                    div Efficacité de la chaudière
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="A('A27').value")
                        select(ng-options="p.id as p.name for p in U('A27')", ng-model="A('A27').unitId")
                        .user_icon XM
                div
                    div Quantité achetée
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="A('A28').value")
                        select(ng-options="p.id as p.name for p in U('A28')", ng-model="A('A28').unitId")
                        .user_icon XM

