div.factors
    h1 {{'FACTORS' | translateText }}

    br

    button.button.btn.save(type="button", ng-click="save()")
        span.fa.fa-save
        span &nbsp;
        span(ng-bind-html="'SAVE' | translate")

    button.button(type="button", ng-click="exportXls()")
        span.fa.fa-file-excel-o
        span &nbsp;
        span(ng-bind-html="'FACTOR_BUTTON_EXPORT_TO_XLS' | translate")

    br
    br

    table.factors-table(ng-table="parameters", show-filter="true" )
        tr(ng-repeat-start="row in $data", ng-class="{ 'row-modified': isModified(row) }")
            td.details(data-title="'FACTORS_TABLE_DETAILS' | translateText")
                mm-plus-minus-toggle-button(ng-model="a.opened")
            td.name(data-title="'FACTORS_TABLE_KEY' | translateText", filter="{ 'key': 'text' }") {{ row.key }}
            td.type(sortable="'typeString'", data-title="'FACTORS_TABLE_TYPE' | translateText", filter="{ 'typeString': 'text' }") {{ row.typeString }}
            td.unit-category-in(data-title="'FACTORS_TABLE_UNIT_CATEGORY_IN' | translateText", filter="{ 'unitCategoryIn': 'select' }", filter-data="names('unitCategoryIn')") {{ row.unitCategoryIn }}
            td.origin(sortable="'origin'", data-title="'FACTORS_TABLE_ORIGIN' | translateText", filter="{ 'origin': 'text' }")
                input(type="text", ng-model="row.origin")


        tr(ng-repeat-end, ng-show="a.opened").details
            td(colspan="5")
                table
                    tr(ng-repeat="fv in row.factorValues | orderBy:'dateIn'")
                        td
                            span A partir de
                        td
                            select.years(
                            ng-options="p.key as p.label for p in getAvailablePeriods(row, fv) | orderBy:'label'",
                            ng-model="fv.dateIn",
                            style="width: 100px; text-align: right"
                            )

                        td
                            span Valeur
                        td
                            input(type="number", step="any", ng-model="fv.value")
                        td
                            span tCO2e
                            span &nbsp;/&nbsp;
                            span {{ row.unitIn }}
                        td
                            button.button.btn.btn-danger(type="button", ng-click="removeFactorValue(row, fv)")
                                i.fa.fa-times


                button.button(type="button", ng-click="addValue(row)")
                    span.fa.fa-plus-circle
                    span &nbsp;
                    span(ng-bind-html="'FACTOR_BUTTON_CREATE_FACTOR_VALUE' | translate")


    br
    br
    br

    h3 Créer un facteur

    br

    table.new-factor
        tr
            td
                span(ng-bind-html="'FACTORS_CREATE_TYPE' | translate")
            td
                select(ng-options="p as (p | translateText) for p in newFactor.indicatorCategories", ng-model="newFactor.indicatorCategory")
                span &nbsp;/&nbsp;
                select(ng-options="p as (p | translateText) for p in newFactor.activityTypes", ng-model="newFactor.activityType")
                span &nbsp;/&nbsp;
                select(ng-options="p as (p | translateText) for p in newFactor.activitySources", ng-model="newFactor.activitySource")

        tr
            td
                span(ng-bind-html="'FACTORS_CREATE_UNIT_CATEGORY_TYPE' | translate")
            td
                select(ng-options="p as (p | translateText) for p in newFactor.unitCategories", ng-model="newFactor.unitCategory")

        tr
            td
                span(ng-bind-html="'FACTORS_CREATE_ORIGIN' | translate")
            td
                input.origin(type="text", ng-model="newFactor.origin")

    button.button(type="button", ng-click="createFactor()")
        span.fa.fa-plus-circle
        span &nbsp;
        span(ng-bind-html="'FACTOR_BUTTON_CREATE' | translate")
