div.factors
    span
        h1 {{'FACTORS' | translateText }}

    br

    table.factors-table(ng-table="parameters", show-filter="true" )
        tr(ng-repeat-start="row in $data")
            td().details(data-title="'FACTORS_TABLE_DETAILS' | translateText")
                mm-plus-minus-toggle-button(ng-model="a.opened")
            td().name(data-title="'FACTORS_TABLE_KEY' | translateText", filter="{ 'key': 'text' }") {{ row.key }}
            td.type(sortable="'typeString'", data-title="'FACTORS_TABLE_TYPE' | translateText", filter="{ 'typeString': 'text' }") {{ row.typeString }}
            td().unit-category-in(data-title="'FACTORS_TABLE_UNIT_CATEGORY_IN' | translateText", filter="{ 'unitCategoryIn': 'select' }", filter-data="names('unitCategoryIn')") {{ row.unitCategoryIn }}
            td.origin(sortable="'origin'", data-title="'FACTORS_TABLE_ORIGIN' | translateText", filter="{ 'origin': 'text' }") {{ row.origin }}


        tr(ng-repeat-end, ng-show="a.opened").details
            td(colspan="5")
                table
                    tr(ng-repeat="fv in row.factorValues")
                        td {{ row.currentValue }}
                        td {{ row.unitIn }}

                        td {{ fv.value }}
                        td {{ row.unitOut }}

                        td
                            datepicker(ng-model="fv.dateIn")
                        td
                            datepicker(ng-model="fv.dateOut")

                button.button(type="button") Create new factor value


    br

    button.button(type="button", ng-click="createFactor()")
        span.fa.fa-plus-circle
        span &nbsp;
        span(ng-bind-html="'FACTOR_BUTTON_CREATE' | translate")

    button.button(type="button", ng-click="exportFactorsToXls()")
        span.fa.fa-file-excel-o
        span &nbsp;
        span(ng-bind-html="'FACTOR_BUTTON_EXPORT_TO_XLS' | translate")
