table.actions-table
    thead
        tr
            th Détails
            th CodeList
            th CodeList référencée
            th &nbsp;
    tbody
        tr(ng-repeat-start="subList in subLists")
            td.details
                mm-plus-minus-toggle-button(ng-model="subList.opened")
            td.codeList
                span.text {{ subList.codeList }}
            td.referencedCodeList
                span.text {{ subList.referencedCodeList }}
            td.editButton
                button.button(type="button", ng-click="editSubList(subList)") Editer
        tr(ng-repeat-end, ng-if="subList.opened").details
            td &nbsp;
            td(colspan="3")
                table
                    tr(ng-repeat="listItem in subList.items")
                        td [{{ listItem.orderIndex }}]
                        td {{ listItem.key }}
                        td {{ getLabelByKey(subList.referencedCodeList, listItem.key) }}
