.admin-translation
    span
        h1 Traductions
    br

    ul.nav.nav-pills.navbar-inverse
        li.dropdown(role='presentation')
            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
                | Interface et Messages
                span.caret
            ul.dropdown-menu(role='menu')
                li
                    a(href="#", ng-click="toState('interface')", onclick="return false") Interface
                li
                    a(href="#", ng-click="toState('error-messages')", onclick="return false") Messages d'erreurs
                li
                    a(href="#", ng-click="toState('emails')", onclick="return false") E-Mails

        li
            a(href="#", ng-click="toState('forms')", onclick="return false") Questionnaires

        li.dropdown(role='presentation')
            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
                | Listes de choix
                span.caret
            ul.dropdown-menu(role='menu')
                li
                    a(href="#", ng-click="toState('base-lists')", onclick="return false") Listes de base
                li
                    a(href="#", ng-click="toState('sub-lists')", onclick="return false") Sous-listes

    .translation-view
        .animate-switch-container(ng-switch="state")
            .animate-switch(ng-switch-when="interface")
                div(ng-include="'$/angular/views/admin/translation_interface.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-when="error-messages")
                div(ng-include="'$/angular/views/admin/translation_error_messages.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-when="emails")
                div(ng-include="'$/angular/views/admin/translation_emails.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-when="forms")
                div(ng-include="'$/angular/views/admin/translation_forms.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-when="base-lists")
                div(ng-include="'$/angular/views/admin/translation_base-lists.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-when="sub-lists")
                div(ng-include="'$/angular/views/admin/translation_sub_lists.html'", ng-controller="AdminTranslationSubListCtrl")
            .animate-switch(ng-switch-default)
                span DEFAULT

