h4 Sous-listes
.waiting-data(ng-show="waitingData")
    img(src="/assets/images/modal-loading.gif")
    span Veuillez patienter...

table.translations-table(ng-hide="waitingData")
    thead
        tr
            th Détails
            th CodeList
            th CodeList référencée
            th Calculateur(s)
    tbody
        tr(ng-repeat-start="subList in subLists")
            td.details
                mm-plus-minus-toggle-button(ng-model="subList.opened")
            td.codelist
                span.text {{ subList.codeList }}
            td.referencedCodeList
                span.text {{ subList.referencedCodeList }}
            td.calculators
                span.text {{ subList.calculators }}
        tr(ng-repeat-end, ng-show="subList.opened").details
            td(colspan="3")
                .sublist-header
                    .order-column #
                    .key-column Clé
                    .labels-columns
                        .label-column Libellé
                .sublist-content
                    .sublist-items(ui-sortable="sortableOptions", ng-model="subList.items")
                        .sublist-item(ng-repeat="item in subList.items")
                            .order-column {{ $index + 1 }}
                            .key-column {{ item.key }}
                            .labels-columns
                                .label-column {{ getLabelByKey(subList.referencedCodeList, item.key) }}
                    .sublist-add-item Ajouter un élément:
                        .sublist-item
                            .order-column
                                button.button(type="button", ng-click="addItem(subList)", style="margin:0; min-height:22px; padding:0px 5px 2px 5px; border-radius:2px;")
                                    span.fa.fa-plus-circle(style="vertical-align:middle;")
                            .key-column &nbsp;
                            .labels-columns
                                .label-column
                                    select(ng-model="itemToAdd.key", ng-options="cl.key as cl.key + ' - ' + cl.label for cl in codeLabels[subList.referencedCodeList]")

br
button.button(type="button", ng-click="save()", ng-disabled="isLoading") Enregistrer les modifications
button.button(type="button", ng-click="loadSubLists()", ng-disabled="isLoading") Annuler
                                                        