h4 Interface

.waiting-data(ng-show="waitingData")
    img(src="/assets/images/modal-loading.gif")
    span Veuillez patienter...

table.translations-table(ng-hide="waitingData")
    thead
        tr
            th Détails
            th Catégorie

    tbody
        tr(ng-repeat-start="group in codeLabelsGroups")
            td.details
                mm-plus-minus-toggle-button(ng-model="group.opened")
            td.topic
                span.text {{ group.topic }}
        tr(ng-repeat-end, ng-show="group.opened").details
            td &nbsp;
            td.topic-content
                table.codelabels-table
                    thead
                        tr
                            th Key
                            th Label EN
                            th Label FR
                            th Label NL
                    tbody
                        tr(ng-repeat="codeLabel in group.codeLabels")
                            td.tr-key {{ codeLabel.key }}
                            td.tr-label
                                textarea(ng-model="codeLabel.labelEn")
                            td.tr-label
                                textarea(ng-model="codeLabel.labelFr")
                            td.tr-label
                                textarea(ng-model="codeLabel.labelNl")

br
button.button(type="button", ng-click="save()", ng-disabled="isLoading") Enregistrer les modifications
button.button(type="button", ng-click="undo()", ng-disabled="isLoading") Annuler

