ng-virtual
    table.indicators_table
        thead
            th(width="100%")

            th.align-right.scope1
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_1' | translate")
                        span  (tCO2e)
            th.align-right.scope2
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_2' | translate")
                        span  (tCO2e)
            th.align-right.scope3
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_3' | translate")
                        span  (tCO2e)
            th.align-right.out-of-scope
                div
                    span.wrapped
                        span(ng-bind-html="'OUT_OF_SCOPE' | translate")
                        span  (tCO2e)

            th.align-right.scope1
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_1' | translate")
                        span  (tCO2e)
            th.align-right.scope2
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_2' | translate")
                        span  (tCO2e)
            th.align-right.scope3
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_3' | translate")
                        span  (tCO2e)
            th.align-right.out-of-scope
                div
                    span.wrapped
                        span(ng-bind-html="'OUT_OF_SCOPE' | translate")
                        span  (tCO2e)

        tbody
            tr(ng-repeat="rl in ngModel.reportLines", ng-show="showAll || (rl.leftScope1Value + rl.leftScope2Value + rl.leftScope3Value + rl.leftOutOfScopeValue > 0)")
                td
                    span(ng-bind-html="rl.indicatorName | translate")

                td.align-right.scope1
                    span(ng-bind-html="rl.leftScope1Value | numberToI18NOrLess", ng-show="rl.leftScope1Value > 0")
                td.align-right.scope2
                    span(ng-bind-html="rl.leftScope2Value | numberToI18NOrLess", ng-show="rl.leftScope2Value > 0")
                td.align-right.scope3
                    span(ng-bind-html="rl.leftScope3Value | numberToI18NOrLess", ng-show="rl.leftScope3Value > 0")
                td.align-right.out-of-scope
                    span(ng-bind-html="rl.leftOutOfScopeValue | numberToI18NOrLess", ng-show="rl.leftOutOfScopeValue > 0")

                td.align-right.scope1
                    span(ng-bind-html="rl.rightScope1Value | numberToI18NOrLess", ng-show="rl.rightScope1Value > 0")
                td.align-right.scope2
                    span(ng-bind-html="rl.rightScope2Value | numberToI18NOrLess", ng-show="rl.rightScope2Value > 0")
                td.align-right.scope3
                    span(ng-bind-html="rl.rightScope3Value | numberToI18NOrLess", ng-show="rl.rightScope3Value > 0")
                td.align-right.out-of-scope
                    span(ng-bind-html="rl.rightOutOfScopeValue | numberToI18NOrLess", ng-show="rl.rightOutOfScopeValue > 0")

        tfoot
            tr
                td
                    span(ng-bind-html="'RESULTS_TOTAL' | translate")
                    span {{ (getLeftTotalScope1() + getLeftTotalScope2() + getLeftTotalScope3() + getLeftTotalOutOfScope()) | numberToI18NOrLess }}
                    span (tCO2e)
                td.align-right.scope1
                    span(ng-bind-html="getLeftTotalScope1() | numberToI18NOrLess")
                td.align-right.scope2
                    span(ng-bind-html="getLeftTotalScope2() | numberToI18NOrLess")
                td.align-right.scope3
                    span(ng-bind-html="getLeftTotalScope3() | numberToI18NOrLess")
                td.align-right.out-of-scope
                    span(ng-bind-html="getLeftTotalOutOfScope() | numberToI18NOrLess")

                td.align-right.scope1
                    span(ng-bind-html="getRightTotalScope1() | numberToI18NOrLess")
                td.align-right.scope2
                    span(ng-bind-html="getRightTotalScope2() | numberToI18NOrLess")
                td.align-right.scope3
                    span(ng-bind-html="getRightTotalScope3() | numberToI18NOrLess")
                td.align-right.out-of-scope
                    span(ng-bind-html="getRightTotalOutOfScope() | numberToI18NOrLess")

    div
        input(type="checkbox", ng-model="showAll")
        label
            span(ng-bind-html="'SHOW_ALL_INDICATORS' | translate")
