ng-virtual
    table.indicators_table
        thead
            th(width="100%")
            th.align-right.scope1
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_1' | translate")
                        span  (tCO2e)
            th.align-right.scope2
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_2' | translate")
                        span  (tCO2e)
            th.align-right.scope3
                div
                    span.wrapped
                        span(ng-bind-html="'SCOPE_3' | translate")
                        span  (tCO2e)
            th.align-right.out-of-scope
                div
                    span.wrapped
                        span(ng-bind-html="'OUT_OF_SCOPE' | translate")
                        span  (tCO2e)

        tbody
            tr(ng-repeat="rl in ngModel.reportLines", ng-show="showAll || (rl.scope1Value + rl.scope2Value + rl.scope3Value + rl.outOfScopeValue > 0)")
                td
                    span(ng-bind-html="rl.indicatorName | translate")
                td.align-right.scope1
                    span(ng-bind-html="rl.scope1Value | numberToI18NOrLess", ng-show="rl.scope1Value > 0")
                td.align-right.scope2
                    span(ng-bind-html="rl.scope2Value | numberToI18NOrLess", ng-show="rl.scope2Value > 0")
                td.align-right.scope3
                    span(ng-bind-html="rl.scope3Value | numberToI18NOrLess", ng-show="rl.scope3Value > 0")
                td.align-right.out-of-scope
                    span(ng-bind-html="rl.outOfScopeValue | numberToI18NOrLess", ng-show="rl.outOfScopeValue > 0")
        tfoot
            tr
                td
                    span(ng-bind-html="'RESULTS_TOTAL' | translate")
                    span {{ (totalScope1 + totalScope2 + totalScope3 + totalOutOfScope) | numberToI18NOrLess }}
                    span (tCO2e)
                td.align-right.scope1
                    span(ng-bind-html="getTotalScope1() | numberToI18NOrLess")
                td.align-right.scope2
                    span(ng-bind-html="getTotalScope2() | numberToI18NOrLess")
                td.align-right.scope3
                    span(ng-bind-html="getTotalScope3() | numberToI18NOrLess")
                td.align-right.out-of-scope
                    span(ng-bind-html="getTotalOutOfScope() | numberToI18NOrLess")

    div
        input(type="checkbox", ng-model="showAll")
        label
            span(ng-bind-html="'SHOW_ALL_INDICATORS' | translate")
