h1 Calculateur CO2 ménages de l'AWAC: gestion de la confidentialité de vos données

h2 Introduction

p L'AWAC ne se considère a aucun moment être le propriétaire des données fournies via l'outil. Tant vous que les autres utilisateurs restez chaque fois les propriétaires des données que vous fournissez. L'AWAC en le gardien, et n'en fera aucun usage hormis ceux décrits ci-dessous.

h2 Protection de la vie privée

p Si vous nous fournissez des informations personnelles, elles seront traitées conformément aux dispositions de la loi du 8 décembre 1992. Les autres données seront traitées, moyennant votre accord (voir plus bas),  anonymement à des fins statistiques et pour vous adresser des messages électroniques généraux; elles ne seront pas communiquées à des tiers, à l’exception du sous-traitant avec lequel l’AWAC a conclu une convention relative à la confidentialité des données, ni utilisées à des fins commerciales. L’AWAC s'engage à prendre les meilleures mesures de sécurité afin d'éviter que des tiers n'abusent des données à caractère personnel qui lui ont été communiquées.

h2 Confidentialité de vos données

p Afin de garantir cette confidentialité, divers mécanismes techniques sont utilisés: la connexion au service s’établit par protocole https, avec certificat TSL/SSL1, à l’instar de ce qui se fait pour les transactions financières électroniques, et non pas simple protocole http. De plus, aucun mot de passe utilisateur ne circule en clair: ils sont systématiquement tous encryptés et seules les versions cryptées sont mémorisées.

h2 Usage statistique de vos données

p Un tel usage prend place uniquement si vous avez explicitement marqué votre accord, soit lors de la création de votre compte, soit à tout moment via l'interface de "gérer l'organisation" en activant le choix "Permettre à l’AWAC d’inclure mes données dans son analyse statistique".

p Les données saisies en ligne et les résultats associés sont traités collectivement et anonymement. Ces données et résultats pourront alors être exploités, en totalité ou en partie, en vue de réalisations statistiques, de réalisations de rapports ou d’études relatives à la consommation d’énergie et d’émission de gaz à effet de serre.