div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AP15")

            mm-awac-question(question-code="AP16", ng-optional="true")

            mm-awac-repetition-name(question-code="AP17")
            mm-awac-repetition-question(question-set-code="AP17", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AP17')")

                mm-awac-question(question-code="AP18",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}")
                mm-awac-question(question-code="AP19",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP18',itLevel1).value == 'AS_42'")
                mm-awac-question(question-code="AP20",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP18',itLevel1).value != 'AS_42' || getAnswer('AP19',itLevel1).value == 'false'")
                mm-awac-question(question-code="AP21",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '1' && (getAnswer('AP18',itLevel1).value == 'AS_1' || getAnswer('AP18',itLevel1).value == 'AS_3' || getAnswer('AP18',itLevel1).value == 'AS_376' || getAnswer('AP18',itLevel1).value == 'AS_377' || getAnswer('AP18',itLevel1).value == 'AS_4')")
                mm-awac-question(question-code="AP22",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '1' && (getAnswer('AP18',itLevel1).value == 'AS_10' || getAnswer('AP18',itLevel1).value == 'AS_11' || getAnswer('AP18',itLevel1).value == 'AS_13')")
                mm-awac-question(question-code="AP23",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '1' && getAnswer('AP18',itLevel1).value == 'AS_42'")
                mm-awac-question(question-code="AP24",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2'")
                mm-awac-question(question-code="AP25",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && (getAnswer('AP18',itLevel1).value == 'AS_1' || getAnswer('AP18',itLevel1).value == 'AS_3' || getAnswer('AP18',itLevel1).value == 'AS_376' || getAnswer('AP18',itLevel1).value == 'AS_377' || getAnswer('AP18',itLevel1).value == 'AS_4')")
                mm-awac-question(question-code="AP500",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && (getAnswer('AP18',itLevel1).value == 'AS_10' || getAnswer('AP18',itLevel1).value == 'AS_11' || getAnswer('AP18',itLevel1).value == 'AS_13')")
                mm-awac-question(question-code="AP501",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && getAnswer('AP18',itLevel1).value == 'AS_42'")
                mm-awac-question(question-code="AP26",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_1'")
                mm-awac-question(question-code="AP27",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && (getAnswer('AP18',itLevel1).value == 'AS_3' || getAnswer('AP18',itLevel1).value == 'AS_4' || getAnswer('AP18',itLevel1).value == 'AS_376' || getAnswer('AP18',itLevel1).value == 'AS_377')")
                mm-awac-question(question-code="AP28",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && (getAnswer('AP18',itLevel1).value == 'AS_11' || getAnswer('AP18',itLevel1).value == 'AS_13')")
                mm-awac-question(question-code="AP29",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_10'")
                mm-awac-question(question-code="AP30",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_42'")
                mm-awac-question(question-code="AP31",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_1'")
                mm-awac-question(question-code="AP32",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && (getAnswer('AP18',itLevel1).value == 'AS_3' || getAnswer('AP18',itLevel1).value == 'AS_4' || getAnswer('AP18',itLevel1).value == 'AS_376' || getAnswer('AP18',itLevel1).value == 'AS_377')")
                mm-awac-question(question-code="AP33",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && (getAnswer('AP18',itLevel1).value == 'AS_11' || getAnswer('AP18',itLevel1).value == 'AS_13')")
                mm-awac-question(question-code="AP34",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_10'")
                mm-awac-question(question-code="AP35",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '2' && getAnswer('AP18',itLevel1).value == 'AS_42'")
                mm-awac-question(question-code="AP36",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && (getAnswer('AP18',itLevel1).value == 'AS_3' || getAnswer('AP18',itLevel1).value == 'AS_4' || getAnswer('AP18',itLevel1).value == 'AS_376' || getAnswer('AP18',itLevel1).value == 'AS_377')")
                mm-awac-question(question-code="AP37",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && (getAnswer('AP18',itLevel1).value == 'AS_11' || getAnswer('AP18',itLevel1).value == 'AS_13')")
                mm-awac-question(question-code="AP38",ng-repetition-map="itLevel1",ng-map-index="{'AP17':$index}", ng-condition="getAnswer('AP20',itLevel1).value == '3' && getAnswer('AP18',itLevel1).value == 'AS_42'")

            mm-awac-repetition-add-button(question-set-code="AP17")

        .horizontal_separator

        mm-awac-section(title-code="AP41")

            mm-awac-question(question-code="AP42", ng-optional="true")
            mm-awac-question(question-code="AP43")
            mm-awac-question(question-code="AP44")
            mm-awac-question(question-code="AP45", ng-condition="getAnswer('AP44').value == '1'")
            mm-awac-question(question-code="AP46", ng-condition="getAnswer('AP44').value == '2'")
            mm-awac-question(question-code="AP47", ng-condition="getAnswer('AP44').value == '2'")
            mm-awac-question(question-code="AP48", ng-condition="getAnswer('AP44').value == '3'")
            mm-awac-question(question-code="AP49", ng-condition="getAnswer('AP44').value == '3'")
            mm-awac-question(question-code="AP50", ng-condition="getAnswer('AP44').value == '3'")

        .horizontal_separator
    
        mm-awac-section(title-code="AP51")

            mm-awac-question(question-code="AP52",ng-optional="true")
            
            mm-awac-repetition-name(question-code="AP53")
            mm-awac-repetition-question(question-set-code="AP53", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AP53')")
                mm-awac-question(question-code="AP54",ng-repetition-map="itLevel1",ng-map-index="{'AP53':$index}")
                mm-awac-question(question-code="AP55",ng-repetition-map="itLevel1",ng-map-index="{'AP53':$index}")
            mm-awac-repetition-add-button(question-set-code="AP53")

        .horizontal_separator

        mm-awac-section(title-code="AP56")

            mm-awac-question(question-code="AP57",ng-optional="true")

            mm-awac-repetition-name(question-code="AP58")
            mm-awac-repetition-question(question-set-code="AP58", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AP58')")
                mm-awac-question(question-code="AP59",ng-repetition-map="itLevel1",ng-map-index="{'AP58':$index}")
                mm-awac-question(question-code="AP60",ng-repetition-map="itLevel1",ng-map-index="{'AP58':$index}")
            mm-awac-repetition-add-button(question-set-code="AP58")
