div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AP159")

            mm-awac-question(question-code="AP160", ng-optional="true")

            mm-awac-repetition-name(question-code="AP161", ng-condition="getAnswer('AP80').value == '1'")
            mm-awac-repetition-question(question-set-code="AP161", ng-iteration="itLevel1", ng-repeat="itLevel1 in getRepetitionMapByQuestionSet('AP161')")
                mm-awac-question(question-code="AP162",ng-repetition-map="itLevel1",ng-map-index="{'AP161':$index}")
                mm-awac-question(question-code="AP163",ng-repetition-map="itLevel1",ng-map-index="{'AP161':$index}", ng-condition="getAnswer('AP162',itLevel1).value != '13' && getAnswer('AP162',itLevel1).value != '14' && getAnswer('AP162',itLevel1).value != '15' && getAnswer('AP162',itLevel1).value != '16'")
                mm-awac-question(question-code="AP164",ng-repetition-map="itLevel1",ng-map-index="{'AP161':$index}", ng-condition="getAnswer('AP163',itLevel1).value == '1'")
                mm-awac-question(question-code="AP165",ng-repetition-map="itLevel1",ng-map-index="{'AP161':$index}", ng-condition="getAnswer('AP163',itLevel1).value == '2'")
                mm-awac-question(question-code="AP166",ng-repetition-map="itLevel1",ng-map-index="{'AP161':$index}", ng-condition="getAnswer('AP162',itLevel1).value == '13' || getAnswer('AP162',itLevel1).value == '14' || getAnswer('AP162',itLevel1).value == '15' || getAnswer('AP162',itLevel1).value == '16'")
            mm-awac-repetition-add-button(question-set-code="AP161")

    mm-awac-form-navigator
