div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AP187")

            mm-awac-question(question-code="AP188",ng-optional="true")

            mm-awac-sub-sub-title(question-code="AP189")
            mm-awac-question(question-code="AP190")
            mm-awac-question(question-code="AP191")
            mm-awac-question(question-code="AP192")
            mm-awac-question(question-code="AP193")
            mm-awac-question(question-code="AP194")
            mm-awac-question(question-code="AP195")
            mm-awac-question(question-code="AP196",
            ng-aggregation="(getAnswer('AP190').value | nullToZero)+(getAnswer('AP191').value | nullToZero)+(getAnswer('AP192').value | nullToZero)+(getAnswer('AP193').value | nullToZero)+(getAnswer('AP194').value | nullToZero)+(getAnswer('AP195').value | nullToZero)")


    mm-awac-form-navigator
