ng-virtual

    h1 Survey

    label Q1
    input(type="text", ng-model="getValue('Q1').value", ng-keyup="computeResult()")

    hr

    label Q2
    input(type="text", ng-model="getValue('Q2').value", ng-keyup="computeResult()")

    hr

    label Q3
    input(type="text", ng-model="getValue('Q3').value", ng-keyup="computeResult()")

    hr

    label Q4
    input(type="text", ng-model="getValue('Q4').value", ng-keyup="computeResult()")

    h1 Result

    label Weighed sum of Q's
    input(type="text", ng-model="indicatorValue")

    button(type="button", ng-click="save()") Save
