<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour, ${user.person.firstName} ${user.person.firstName} de l'organisation ${request.awacCalculatorInstance.scope.organization.name} a annulé sa demande de vérification du bilan GES réalisé sur l'outil de l'AWAC pour le périmètre ${request.awacCalculatorInstance.scope.name} sur l'année ${request.awacCalculatorInstance.period.label}. Bien à vous, L'outil AWAC.
</body>
</html>