<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour,  ${user.person.firstName} ${user.person.firstName} de l'organisation ${request.awacCalculatorInstance.scope.organization.name} vous demande de bien vouloir vérifier son bilanGES réalisé sur l'outil de l'AWAC pour le périmètre${request.awacCalculatorInstance.scope.name} sur l'année ${request.awacCalculatorInstance.period.label}. Il a joint le message suivant à votre intention: ${request.emailVerificationContent.content}.Son numéro de contact téléphonique est le ${request.emailVerificationContent.phoneNumber}. Si vous possédez déjà un compte de vérification sur l'outil de l'AWAC, mais qui n'est pas associé àla présente adresse courriel fournie par l'AWAC, utilisez cette clé ${request.key} pour gérer la demande depuis votre compte existant.Si vous n'avez pas encore de compte, pour en créer un, suivez le lien suivant ${link} etutilisez-y la clé fournie. L'interface de l'outil vous permettra alors d'accepter ou de refuser cette demande. Bien à vous, L'outil AWAC.

</body>
</html>