<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour, ${request.organizationVerifier.name} a fini la vérification de votre bilan GES portant sur ${request.awacCalculatorInstance.scope.name} / ${request.awacCalculatorInstance.period.label}. Des données sont rejetées et il vous appartient de les corriger et de re-soumettre. Bien à vous, L'outil AWAC.

</body>
</html>