<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour,<br/><br/>
${user.person.firstname} ${user.person.lastname} de l'organisation ${request.awacCalculatorInstance.scope.organization.name} vous a octroyé l'accès aux données du périmètre ${request.awacCalculatorInstance.scope.name} sur l'année ${request.awacCalculatorInstance.period.label}.<br/>
Vous pouvez maintenant assigner ce travail à des collaborateurs dans vos interfaces de vérification.<br/><br/>

Bien à vous,<br/>
L'outil AWAC.<br/>

</body>
</html>