<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour, ${request.organizationVerifier.name} a décliné votre demande de vérification du bilan du périmètre ${request.awacCalculatorInstance.scope.name} sur l'année ${request.awacCalculatorInstance.period.label}. Bien à vous, L'outil AWAC
</body>
</html>