<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour,<br/><br/>

${user.person.firstname} ${user.person.lastname} a rouvert le travail de vérification sur ${request.awacCalculatorInstance.scope.organization.name} / ${request.awacCalculatorInstance.scope.name} / ${request.awacCalculatorInstance.period.label}.<br/>
Il n'a pas fait suivre au client et attend un re-travail de votre part.<br/><br/>

Bien à vous,<br/>
Le gestionnaire du calculateur AWAC

</body>
</html>