<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
Bonjour, ${user.person.firstName} ${user.person.firstName} n'est pas satisfait du rapport de vérification sur ${request.awacCalculatorInstance.scope.name} / ${request.awacCalculatorInstance.period.label} et ne l'a pas accepté. Il vous appartient d'en re-soumettre un nouveau. Bien à vous, L'outil AWAC.

</body>
</html>