@media screen {
    h1 {
        text-align: left;
        padding: 10px 0 10px 10px;
    }
    .actions-table {
        .base-table();
    }


    button[type="button"].edit_icon {
        box-sizing: border-box;
        max-width:  22px;
        min-width:  22px;
        min-height: 22px;
        max-height: 22px;
        margin: 0;
        padding: 0;
    }

    span.icon {
        &.scope_type_icon {
            width: 16px;
            height: 16px;
            display: inline-block;

            &.org {
                background: url('../images/organization.png') center center no-repeat;
            }
            &.site {
                background: url('../images/site.png') center center no-repeat;
            }
        }

        &.action_type_icon {
            width: 16px;
            height: 16px;
            display: inline-block;

            &.reducing {
                background: url('../images/actions/reduction.png') center center no-repeat;
            }
            &.better_measure {
                background: url('../images/actions/meilleure_mesure.png') center center no-repeat;
            }
        }

        &.action_done_icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            background: url('../images/actions/done_status.png') center center no-repeat;
        }
    }

    &.advices {

        & > .waiting-data {
            text-align: left;
            & > img {
                margin: 0px 10px 0px 10px;
            }
            & > span, div {
                font-style: italic;
            }

        }

        & > .desc {
            text-align: left;
            margin-bottom: 15px;
        }
    }

    ul.sortable-list {
        li {
            padding:5px;
        }
    }
}
