@media screen {

    .modal {
        .input-group .form-control {
            width: 100%;
            font-size: inherit;
            border: 1px solid #61605b;
            border-radius: 0px;
            height: 22px;
            padding: 2px 2px 1px 2px;
            background-color: #efeee8;
        }
        .input-group-addon {
            border: 1px solid #61605b;
            border-radius: 0px;
            padding: 2px 2px 1px 2px;
            min-width: 40px;
        }
    }

    //
    // FULL-SCREEN MODAL
    //
    .modal-fullscreen {
        position: absolute;
        z-index: 1000000;
        left: 1cm;
        top: 1cm;
        bottom: 1cm;
        right: 1cm;
        border: 5px solid #A4A298;
        padding: 10px 10px 35px;
        background-color: #CFCDC0;
        overflow: hidden;

        .modal-fullscreen-header {
            text-align: right;
        }

        .modal-fullscreen-body {
            overflow-y: auto;
            height: 100%;
        }

        .modal-fullscreen-footer {

        }

    }

    //
    // field_form
    //
    .field_form {
        margin: 20px;
        width: ~"calc(100% - 40px)";
        display: table;

        .red {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: red;
            z-index: 9999999;
        }

        .field_row {
            min-height: 22px;
            vertical-align: middle;
            padding-top: 3px;
            display: table-row;
            &.field_form_separator > .field_cell {
                padding-top: 10px;
            }
            & > .field_cell {
                display: table-cell;
                vertical-align: top;
                border-bottom: solid 4px transparent;
                box-sizing: border-box;
                height: 22px;

                &.field_wide {
                    -webkit-column-span: all; /* Chrome, Safari, Opera */
                    column-span: all;
                }

                & .field_row.field_form_separator {
                    padding-top: 10px;
                }
            }
            & > .field_cell:first-child {
                min-width: 200px;
                padding-right: 1em;
            }

            & > .field_cell:nth-child(2) {
                width: 100%;

                .wrapper_table {
                    display: table;
                    & > .wrapper_row {
                        display: table-row;
                        & > .wrapper_cell {
                            display: table-cell;
                            margin: 0;
                            padding: 0;
                            vertical-align: top;
                            &:not(:first-child) {
                                border-left: solid 4px transparent;
                                &[ng-transclude]:empty {
                                    display: none;
                                }
                            }
                            & > * {
                                width: 100%;
                            }
                        }
                    }

                }

            }

            & > .field_cell:nth-child(2) > * {
                width: 100%;
            }

            & > .field_cell:nth-child(3) {
                padding-left: 20px;
            }

            input, select {
                height: 22px;
                padding: 0 4px;
            }
            textarea {
                resize: none;
                height: 150px;
            }
            select {
                min-width: 100px;
            }
        }
        .error_message > div:last-child {
            display: none;
            position: absolute;
            background-color: orangered;
            border: 1px solid #ff0000;
            color: #ffffff;
            padding: 5px;
            width: 150px;
            margin-top: -15px;
            margin-left: -150px;
            z-index: 2;
        }
        .error_message:hover > div:last-child {
            display: block;
        }

    }

    .modal.create_or_edit_action {
        .modal-dialog {
            width: 700px;
            height: 100%;
            margin: auto;

            .modal-content {
                position: relative;
                height: ~"calc(100% - 2cm)";
                max-height: 800px;
                margin: 1cm auto;


                .modal-header {
                    height: 50px;
                    position: absolute;
                    top:0;
                    right: 0;
                    left: 0;

                }

                .modal-body {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50px;
                    bottom: 50px;
                    overflow-y: auto;
                }

                .modal-footer {
                    height: 50px;
                    position: absolute;
                    bottom:0;
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}

