@media screen {

    .admin-translation {

        h1 {
            text-align: left;
            padding: 10px 0 10px 10px;
        }
        ul.translations-dashboard {

            margin-left: 20px;
            & > li {
                font-weight: bold;
                padding: 5px;
                list-style-position: inside;
                & > ul {
                    margin-left: 20px;
                }
            }
        }

        .translation-view {
            padding: 2em;
        }
    }

    .admin-translations-helps {
        .list-group-item {
            cursor: pointer;
        }
    }
}