ng-virtual
    .element
        .element_header
            .title(ng-bind-html="getTitleCode() | translate")
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table(ng-transclude)