<ng-virtual>
    <div ng-hide="$root.isLogin()">
        <div class="header">

            <!-- user block -->
            <table class="header-option">

                <tr>
                    <td>
                        <div>
                            <select ng-model="$parent.language">
                                <option value="en" ng-bind-html="'EN' | translate"></option>
                                <option value="fr" ng-bind-html="'FR' | translate"></option>
                                <option value="nl" ng-bind-html="'NL' | translate"></option>
                            </select>
                        </div>
                    </td>

                    <td>
                        <div>Gestion</div>
                    </td>
                    <td>
                        <div ng-show="$root.currentPerson!=null"><span
                                ng-bind-html="'WELCOME' | translate"></span>, <span
                                class="username">{{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}</span>
                        </div>
                        <div ng-show="$root.currentPerson==null">Your are currently not connected</div>
                    </td>

                </tr>

                <tr>

                    <td>

                        <button type="button" class="confidentiality" mm-not-implemented>Confidentialité</button>
                        <button type="button" class="help" mm-not-implemented>Assistance</button>
                    </td>
                    <!--<div class="small_separator"></div>-->

                    <td>


                        <!-- site manager button -->
                        <button type="button"
                                class="user_manage"
                                ng-bind-html="'SITE_MANAGER_BUTTON' | translate"
                                ng-click="nav('/site_manager')">
                        </button>

                        <!-- user manager button -->
                        <button type="button"
                                class="user_manage"
                                ng-bind-html="'USER_MANAGER_BUTTON' | translate"
                                ng-click="nav('/user_manager')">
                        </button>

                    </td>

                    <!--<div class="small_separator"></div>-->


                    <td>


                        <!-- user data button -->
                        <button type="button"
                                class="user_manage"
                                ng-bind-html="'USER_DATA_BUTTON' | translate"
                                ng-click="nav('/user_data')">
                        </button>

                        <!-- logout button -->
                        <button ng-show="$root.currentPerson!=null"
                                type="button"
                                ng-click="$root.logout();"
                                ng-bind-html="'LOGOUT_BUTTON' | translate"
                                class="user_manage">
                        </button>

                    </td>
                </tr>
            </table>


            <div class="wallonie_logo"></div>
            <div class="awac_logo"></div>
            <div>
                <div class="calculateur_type" ng-bind-html="'TITLE' | translate"></div>
                <div class="entreprise_name">{{ $root.organization.name }}</div>
            </div>

        </div>

        <div class="data_menu">
            <div class="data_date">
                <div ng-bind-html="'PERIOD_DATA' | translate"></div>
                <select ng-options="p.id as p.label for p in $root.periods" ng-model="period"></select>
            </div>

            <div class="big_separator"></div>

            <div class="data_date_compare">
                <div>Comparaison avec</div>
                <select ng-options="p.id as p.label for p in periodsForComparison" ng-model="periodToCompare"
                        placeholder="Selectionner une période"></select>
            </div>

            <div class="big_separator"></div>

            <div class="data_save">
                <div class="last_save" ng-hide="lastSaveTime===null">
                    <span ng-bind-html="'LAST_SAVE' | translate"></span><br>
                    {{lastSaveTime | date: 'medium' }}
                </div>
                <div class="small_separator"></div>
                <div class="save_button">
                    <button type="button" class="save" ng-click="save()"
                            ng-bind-html="'SAVE_BUTTON' | translate"></button>
                </div>
            </div>
        </div>


        <div class="nav_tabs">
            <div class="nav_entreprise">
                <div class="site_menu">
                    <div class="site">
                        <button type="button" class="site_manage" mm-not-implemented>Gérer les sites</button>
                        <div>Site</div>
                        <div class="small_separator"></div>
                        <div class="sitename">{{ $root.organization.sites[0].name }}</div>
                        <button type="button" class="verification" mm-not-implemented>Vérification</button>
                    </div>
                    <div class="menu">
                        <div class="{{ getMenuCurrentClass('/form1') }}" ng-click="nav('/form1')">
                            <div ng-bind-html="'TAB1' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB1')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>
                        <div class="{{ getMenuCurrentClass('/form2') }}" ng-click="nav('/form2')">
                            <div ng-bind-html="'TAB2' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB2')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>
                        <div class="{{ getMenuCurrentClass('/form3') }}" ng-click="nav('/form3')">
                            <div ng-bind-html="'TAB3' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB3')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>
                        <div class="{{ getMenuCurrentClass('/form4') }}" ng-click="nav('/form4')">
                            <div ng-bind-html="'TAB4' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB4')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>

                        <div class="{{ getMenuCurrentClass('/form5') }}" ng-click="nav('/form5')">
                            <div ng-bind-html="'TAB5' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB5')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>

                        <div class="{{ getMenuCurrentClass('/form6') }}" ng-click="nav('/form6')">
                            <div ng-bind-html="'TAB6' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB6')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>

                        <div class="{{ getMenuCurrentClass('/form7') }}" ng-click="nav('/form7')">
                            <div ng-bind-html="'TAB7' | translate"></div>
                            <mm-awac-tab-progress-bar ng-value="getProgress('TAB7')"></mm-awac-tab-progress-bar>
                            <div class="menu_arrow"></div>
                        </div>
                    </div>
                </div>
                <div class="last_menu">
                    <div class="{{ getMenuCurrentClass('/results') }}" ng-click="nav('/results')">
                        résultats
                    </div>
                    <div mm-not-implemented>
                        actions de réduction
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="{true: '', false: 'content'}[$root.isLogin()]" ng-view>
    </div>


    <div class="footer"></div>

</ng-virtual>