ng-virtual
    div(ng-hide='$root.isLogin()')
        .header
            table.header-option
                tr
                    td
                        div
                            select(ng-options='l.value as l.label for l in $root.languages', ng-model='$root.language')
                    td
                        div Gestion
                    td
                        div(ng-show='$root.currentPerson!=null')
                            span(ng-bind-html='\'WELCOME\' | translate')
                            | ,
                            span.username {{$root.currentPerson.firstName}} {{$root.currentPerson.lastName}}
                        div(ng-show='$root.currentPerson==null') Your are currently not connected
                tr
                    td
                        button.button.confidentiality(type='button', mm-not-implemented='mm-not-implemented') Confidentialité
                        button.button.help(type='button', mm-not-implemented='mm-not-implemented') Assistance
                    td
                        //  site manager button
                        button.button.user_manage(type='button', ng-bind-html='\'SITE_MANAGER_BUTTON\' | translate', ng-class='{\'selected\': isMenuCurrentlySelected(\'/site_manager\') == true}',mm-not-implemented='mm-not-implemented')
                        // user manager button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_MANAGER_BUTTON\' | translate', ng-click='nav(\'/user_manager\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_manager\') == true}')
                    td
                        //  user data button
                        button.button.user_manage(type='button', ng-bind-html='\'USER_DATA_BUTTON\' | translate', ng-click='nav(\'/user_data\')', ng-class='{\'selected\': isMenuCurrentlySelected(\'/user_data\') == true}')
                        // logout button
                        button.button.user_manage(ng-show='$root.currentPerson!=null', type='button', ng-click='$root.logout();', ng-bind-html='\'LOGOUT_BUTTON\' | translate')
            .wallonie_logo
            .awac_logo
            div
                .calculateur_type(ng-bind-html='\'TITLE_ENTERPRISE\' | translate')
                .entreprise_name {{ $root.organization.name }}
        .data_menu(ng-show='displayMenu===true')
            .data_date
                div(ng-bind-html='\'PERIOD_DATA\' | translate')
                select(ng-options='p.key as p.label for p in $root.periods', ng-model='periodKey')
            .big_separator
            .data_date_compare
                div Site sélectionné
                select(ng-options='s.scope as s.name for s in $root.organization.sites', ng-model='scopeId')
            .big_separator
            .data_date_compare
                div Comparaison avec
                select(ng-options='p.key as p.label for p in periodsForComparison', ng-model='periodToCompare')
            .big_separator
            .data_save
                .last_save(ng-hide='lastSaveTime===null')
                    span(ng-bind-html='\'LAST_SAVE\' | translate')
                    br
                    | {{lastSaveTime | date: 'medium' }}
                .small_separator
                .save_button
                    button.button.save(type='button', ng-click='save()', ng-bind-html='\'SAVE_BUTTON\' | translate')
        .nav_tabs(ng-show='displayMenu===true')
            .nav_entreprise
                .site_menu
                    .site
                        button.button.verification(type='button', mm-not-implemented='mm-not-implemented') Vérification
                    .menu
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab2\') == true}', ng-click='nav(\'/enterprise-tab2\')')
                            .tab-title(ng-bind-html='\'TAB2\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB2\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab3\')  == true}', ng-click='nav(\'/enterprise-tab3\')')
                            .tab-title(ng-bind-html='\'TAB3\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB3\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab4\') == true}', ng-click='nav(\'/enterprise-tab4\')')
                            .tab-title(ng-bind-html='\'TAB4\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB4\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab5\') == true}', ng-click='nav(\'/enterprise-tab5\')')
                            .tab-title(ng-bind-html='\'TAB5\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB5\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab6\') == true}', ng-click='nav(\'/enterprise-tab6\')')
                            .tab-title(ng-bind-html='\'TAB6\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB6\')')
                            .menu_arrow
                        button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/enterprise-tab7\') == true}', ng-click='nav(\'/enterprise-tab7\')')
                            .tab-title(ng-bind-html='\'TAB7\' | translate')
                            mm-awac-tab-progress-bar(ng-value='getProgress(\'TAB7\')')
                            .menu_arrow
                .last_menu
                    button.button(ng-class='{\'menu_current\': isMenuCurrentlySelected(\'/results\') == true}', ng-click='nav(\'/results\')')
                        .tab-title résultats
                    button.button(mm-not-implemented='mm-not-implemented')
                        .tab-title actions de réduction
    div(class="{{getClassContent()}}",ng-view)
    .footer
