.survey-section
    .survey-section-header
        span(ng-bind-html="getLabelCode() | translate")
    .survey-section-content
        ng-virtual(style="display: table; width: 100%", ng-transclude=true)