.field_row(ng-hide="getInfo().hidden === true")
    .field_cell(ng-bind-html='getInfo().fieldTitle | translate', ng-click="logField()")
    .field_cell
        .dropdown
        a.dropdown-toggle(id="{{id}}",role='button', data-toggle='dropdown', data-target='#', href='')
            .input-group
                input.form-control(type='text', ng-model='resultFormated')
                span.input-group-addon
                    i.glyphicon.glyphicon-calendar
            ul.dropdown-menu.date_input(role='menu', aria-labelledby='dLabel')
                datetimepicker(data-ng-model='result', data-datetimepicker-config="{ dropdownSelector: '{{idHtag}}',minView:'day' }")

        div(ng-transclude)

    .field_cell
        img(ng-if='!getInfo().hideIsValidIcon', ng-show='getInfo().isValid', src='/assets/images/field_valid.png')
        .error_message(ng-hide='getInfo().isValid')
            img(src='/assets/images/field_invalid.png')
            div {{getInfo().validationMessage | translateText}}


