input.oneelement(   type="text",
                    ng-model="getAnswer().value",
                    numbers-only="double",
                    style="text-align:right;",
                    ng-disabled="getDataToCompare()==true || getIsAggregation()===true")