div
    div
        i(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .oneelement
        //.status.answer(mm-not-impleented)
        // input(type="text", ng-model="getAnswerByQuestionCode(getQuestionCode()).value")
        //.user_icon(mm-not-implemented) XM