div
    div(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .oneelement
        .status.answer(mm-not-implemented)
        input(type="text", ng-model="getAnswerByQuestionCode(getQuestionCode()).value")
        .user_icon(mm-not-implemented) XM