div(ng-hide="getCondition() === false")
    div(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .oneelement
        .status.answer(mm-not-implemented)
        select(ng-options="p.key as p.label for p in getOptionsByQuestionCode()", ng-model="getAnswerValue().value")
        .user_icon(mm-not-implemented) XM