span.twoelement
    input(  type="text",
            ng-model="getAnswer().value",
            numbers-only="double",
            style="text-align:right;",
            percent,
            ng-disabled="getDataToCompare()==true")
    span(style="margin-left:5px") %