tr
    td {{getInfo().fieldTitle | translateText}}
        td
            input(  type='{{getInfo().fieldType}}',
                    ng-disabled='getInfo().disabled',
                    ng-model='getInfo().field',
                    placeholder='{{getInfo().placeholder | translateText}}',
                    focus-me="{{getInfo().focus}}")
        td
            img(ng-show='getInfo().isValid', src='/awac/assets/images/field_valid.png')
            .error_message(ng-hide='getInfo().isValid')
                img(src='/awac/assets/images/field_invalid.png')
                div {{getInfo().validationMessage | translateText}}
