div
    div.form-error-message(ng-show="errorMessage != null") {{errorMessage}}
    div(ng-show="loading===false && errorMessage === null")
        mm-awac-section(title-code="AM111")

            mm-awac-question(question-code="A51",ng-optional="true")

        .horizontal_separator

