div
    .sub_sub_title
        .info(ng-show="hasDescription()")
            .info_popup(ng-bind-html="getQuestionCode() + '_DESC' | translate")
        span(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
        ng-virtual(ng-transclude=true)
