div(ng-hide="getCondition() === false")
    div(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .twoelement
        .status.answer(mm-not-implemented)
        input(type="text", ng-model="getAnswerValue().value")
        select(ng-options="p.id as p.name for p in getUnitsByQuestionCode()", ng-model="getAnswerValue().unitId")
        .user_icon(mm-not-implemented) XM