div
    div(ng-bind-html="getQuestionCode() + '_TITLE' | translate")
    .twoelement
        .status.answer
        input(type="text", ng-model="getAnswerByQuestionCode(getQuestionCode()).value")
        select(ng-options="p.id as p.name for p in getUnitsByQuestionCode(getQuestionCode())", ng-model="getAnswerByQuestionCode(getQuestionCode()).unitId")
        .user_icon XM