ng-virtual
    .element
        .element_header
            .title AWAC - Entreprises
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                //
                    Année de référence pour comparaison du présent bilan GES
                    A quel secteur pricipal appartient votre site?
                    Quel est le code NACE principal de votre site?
                    Quel est le code NACE principal de votre site?
                    Quel est le code NACE principal de votre site?
                    Est-ce que votre activité est purement ou principalement de bureaux?
                    Etes-vous dans le secteur public ou privé?
                    Indiquez la surface totale du site:
                    Quelle est la surface des bureaux?
                    Etes-vous participant aux accords de branche de 2ème génération?
                    Quel est le nombre d'employés sur l'année du bilan?

                div
                    div Année de référence pour comparaison du présent bilan GES
                    .oneelement
                        .status.answer
                        input(type="text", ng-model="getAnswerByQuestionCode('A2').value")
                        .user_icon XM

                div
                    div A quel secteur pricipal appartient votre site?
                    .oneelement
                        .status.answer
                        select(ng-options="p.id as p.labelFr for p in getOptionsByQuestionCode('A3')", ng-model="getAnswerByQuestionCode('A3').value")
                        .user_icon XM

                div
                    div Quel est le code NACE principal de votre site?
                    .oneelement
                        .status.answer
                        select(ng-options="p.id as p.labelFr for p in getOptionsByQuestionCode('A4')", ng-model="getAnswerByQuestionCode('A4').value")
                        .user_icon XM
                div
                    div Quel est le code NACE principal de votre site?
                    .oneelement
                        .status.answer
                        select(ng-options="p.id as p.labelFr for p in getOptionsByQuestionCode('A5')", ng-model="getAnswerByQuestionCode('A5').value")
                        .user_icon XM
                div
                    div Quel est le code NACE principal de votre site?
                    .oneelement
                        .status.answer
                        select(ng-options="p.id as p.labelFr for p in getOptionsByQuestionCode('A6')", ng-model="getAnswerByQuestionCode('A6').value")
                        .user_icon XM

                div
                    div Est-ce que votre activité est purement ou principalement de bureaux?
                    .oneelement
                        .status.answer
                        input(type="checkbox", ng-model="getAnswerByQuestionCode('A7').value")
                        .user_icon XM

                div
                    div Etes-vous dans le secteur public ou privé?
                    .oneelement
                        .status.answer
                        select(ng-options="p.id as p.labelFr for p in getOptionsByQuestionCode('A8')", ng-model="getAnswerByQuestionCode('A8').value")
                        .user_icon XM
                div
                    div Indiquez la surface totale du site:
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="getAnswerByQuestionCode('A9').value")
                        select(ng-options="p.id as p.name for p in getUnitsByQuestionCode('A9')", ng-model="getAnswerByQuestionCode('A9').unitId")
                        .user_icon XM

                div
                    div Quelle est la surface des bureaux?
                    .twoelements
                        .status.answer
                        input(type="text", ng-model="getAnswerByQuestionCode('A10').value")
                        select(ng-options="p.id as p.name for p in getUnitsByQuestionCode('A10')", ng-model="getAnswerByQuestionCode('A10').unitId")
                        .user_icon XM

                div
                    div Etes-vous participant aux accords de branche de 2ème génération?
                    .oneelement
                        .status.answer
                        input(type="checkbox", ng-model="getAnswerByQuestionCode('A11').value")
                        .user_icon XM


                div
                    div Quel est le nombre d'employés sur l'année du bilan ?
                    .twoelements
                        .status
                        input(type="text", ng-model="getAnswerByQuestionCode('A12').value"))
                        .user_icon AG
