<!DOCTYPE html>
<html>
    <head>
        <title>${title}</title>
    </head>
    <body>
        BlaBla
        Organisation cliente : $CUSTOMER_ORGANIZATION
        le type : $CUSTOMER_INTERFACE_TYPE
        la périod : $REQUEST_PERIOD
        #if($REQUEST_SITE)
        le scope $REQUEST_SITE
        #end
        #if($CUSTOMER_PHONE_NUMBER)
        son num $CUSTOMER_PHONE_NUMBER
        #end
        #if($CUSTOMER_COMMENT)
        son comm : $CUSTOMER_COMMENT
        #end
    </body>
</html>