<!DOCTYPE html>
<html>
    <head>
        <title>${title}</title>
    </head>
    <body>
    BlaBla
    Organisation cliente : $CUSTOMER_ORGANIZATION
    le type : $CUSTOMER_INTERFACE_TYPE
    la périod : $REQUEST_PERIOD
        #if($REQUEST_SITE)
        le scope $REQUEST_SITE
        #end
        #if($CUSTOMER_PHONE_NUMBER)
        son num $CUSTOMER_PHONE_NUMBER
        #end
        #if($CUSTOMER_COMMENT)
        son comm : $CUSTOMER_COMMENT
        #end

        Pour l'inscription
        la clé toute seule à ajouter : $REQUEST_KEY
        le lien de registration avec la clé dedans : $REGISTRATION_LINK
    </body>
</html>