<!DOCTYPE html>
<html>
    <head>
        <title>${title}</title>
    </head>
    <body>
        Nouveau mot de passe pour accéder au calculateur de l'AWAC<br><br>
		Votre mot de passe temporaire est: ${password}<br><br>
		Il vous sera demandé d'en changer lors de votre prochaine connexion.<br>
		Le gestionnaire du calculateur AWAC
    </body>
</html>