<!DOCTYPE html>
<html>
<head>
    <title>${subject}</title>
</head>
	<body>
    	Votre nouveau compte sur le calculateur en ligne de l'AWAC a été créé.<br>
    	L'identifiant que avez choisi est ${identifier}.<br><br>
    	Pour vous connecter, cliquez simplement sur ce lien: ${link}<br><br>
    	Le gestionnaire du calculateur AWAC
	</body>
</html>