ng-virtual
    .element
        .element_header
            .title Déchets
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    div Pièces documentaires liées aux déchets
                    .oneelement
                        .status.answer
                        select(ng-options="p.key as p.labelFr for p in O('A51')", ng-model="A('A51').value")
                        .user_icon XM

    .horizontal_separator

    .element
        .element_header
            .title Déchets générés par les opérations
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    .sub_title Listez vos différents postes de déchets

    .horizontal_separator

    .element
        .element_header
            .title Eaux usées
            .title_arrow
        .element_sidebar
            .block_status
                .lock_status.disable_status
                .answered_status
                .validate_status
        .element_content
            .element_table
                div
                    .sub_title Eaux usées domestiques par grand type de bâtiments
                    div
                        .sub_title Usine ou atelier
                        .sub_title Bureau
                        .sub_title Hôtel, pension, hôpitaux, prison
                        .sub_title Restaurant ou cantine
                div
                    .sub_title Eaux usées industrielles
                div
                    .element_content
                        .element_text Plusieurs méthodes différentes existent pour rapporter les eaux usées industrielles. Elles vous sont présentées de la meilleure à la plus approximative. L’idéal est d’utiliser la meilleure possible en fonction des données dont vous disposez. Le système utilisera les données de la meilleure méthode entièrement complétée pour effectuer le calcul.
                        .method
                            tabset
                                tab.tab-color-lightgreen
                                    tab-heading
                                        i.glyphicon.glyphicon-bell
                                        | Méthode par la quantité de m³ rejetés
                                    .sub_block.tab-color-lightgreen
                                        .element_table
                                            div
                                tab.tab-color-green
                                    tab-heading
                                        i.glyphicon.glyphicon-bell
                                        | Méthode par le poids de CO2 chimique des effluents rejetés
                                    .sub_block.tab-color-green
                                        .element_table
                                            div
