// Modal
.modal()
    .modal-dialog
        .modal-content
            .modal-header(style="text-align:center")
                h4 Loading

            .modal-body(style="text-align:center")
                img(src='/awac/assets/images/loading_preorganization.gif')