// Modal
.modal(id="modalLoading",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true",ng-enter="send()")
    .modal-dialog
        .modal-content
            .modal-header(style="text-align:center")
                h4 Loading

            .modal-body(style="text-align:center")
                img(src='/awac/assets/images/loading_preorganization.gif')